<script src="/js/jquery/jquery.cookie.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/jquery/jquery-ui.min.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/jquery/jquery.finder.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/hotkeys.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/events.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/app.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/init.js?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/i18n.js.php?<?=JS_LATEST_UPDATE?>"></script>
<script src="/js/templates.js?<?=JS_LATEST_UPDATE?>"></script>
<?php foreach(DirectoryIterator($_SERVER['HESTIA'].'/web/js/custom_scripts') as $customScript){ 
	if($customScript->getExtension() === 'js'){
		echo '<script src="/js/custom_files/'.htmlspecialchars(urlencode($customScript->getBasename()), ENT_QUOTES | ENT_SUBSTITUTE | ENT_DISALLOWED | ENT_HTML5).'"></script>';
	} elseif($customScript->getExtension() === "php"){
		require_once($customScript->getPathname());
	}
 } ?>
<script>
	$(function() {
		hover_menu();
	});
</script>

<?php
	if (!empty($_SESSION['error_msg'])):
	?>
	<div>
		<script>
			$(function() {
				$('#dialog:ui-dialog').dialog('destroy');
				$('#dialog-message').dialog({
					modal: true,
					buttons: {
						Ok: function() {
							$(this).dialog('close');
						}
					},
					create: function() {
						$(this)
						.closest('.ui-dialog')
						.find('.ui-button:first')
						.addClass('submit');
					}
				});
			});
		</script>
		<div id="dialog-message" title="">
			<p><?=htmlentities($_SESSION['error_msg'])?></p>
		</div>
	</div>
<?php
	unset($_SESSION['error_msg']);
	endif;
