<div class="hidden" id="token" token="<?=$_SESSION['token']?>"></div>
<a href="#" class="to-top" title="<?=_('Top');?>">
	<i class="fas fa-arrow-up"></i>
</a>
<a href="#" class="to-shortcuts" title="<?=_('Shortcuts');?>">
	<i class="fas fa-keyboard"></i>
</a>

<div class="l-header">
	<div class="l-center">
		<!-- Logo / Home Button -->
		<a href="<?=htmlspecialchars($home_url)?>" class="l-logo" title="<?=_('Hestia Control Panel');?>"></a>

		<!-- Left Menu -->
		<div class="l-menu clearfix noselect">
			<!-- Records tab -->
			<div class="l-menu__item <?php if($TAB == 'WEB') echo 'l-menu__item--active' ?> <?php if($TAB == 'DNS') echo 'l-menu__item--active' ?> <?php if($TAB == 'MAIL') echo 'l-menu__item--active' ?> <?php if($TAB == 'DB') echo 'l-menu__item--active' ?> <?php if($TAB == 'BACKUP') echo 'l-menu__item--active' ?> <?php if($TAB == 'CRON') echo 'l-menu__item--active' ?><?php if($TAB == 'PACKAGE') echo 'l-menu__item--active' ?> <?php if($TAB == 'USER') echo 'l-menu__item--active' ?><?php if($TAB == 'LOG') echo 'l-menu__item--active' ?>"><a href="<?=htmlspecialchars($home_url)?>"><i class="fas fa-tasks panel-icon"></i><?=_('Records');?></a></div>
			
			<!-- File Manager tab -->
			<?php if ((isset($_SESSION['FILE_MANAGER'])) && (!empty($_SESSION['FILE_MANAGER'])) && ($_SESSION['FILE_MANAGER'] == "true")) {?>
				<?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($_SESSION['look'] === 'admin') && ($_SESSION['POLICY_SYSTEM_PROTECTED_ADMIN'] == 'yes'))) {?>
						<!-- Hide file manager when impersonating admin-->
					<?php } else { ?>
						<div class="l-menu__item <?php if($TAB == 'FM') echo 'l-menu__item--active' ?>"><a href="/fm/"><i class="fas fa-folder-open panel-icon"></i><?=_('Files');?></a></div>
				<?php } ?>
			<?php } ?>
			
			<!-- Statistics tab-->
			<div class="l-menu__item <?php if($TAB == 'STATS') echo 'l-menu__item--active' ?>"><a href="/list/stats/"><i class="fas fa-chart-line panel-icon"></i><?=_('Statistics');?></a></div>
		</div>

		<!-- Right Menu -->
		<div class="l-profile noselect">
			<div class="l-menu__item">
				<!-- Logged in as / Usage Statistics Overview -->
				<span class="pill usage">
					<?php
						if (isset($_SESSION['look'])) {
							$user_icon = 'fa-binoculars';
						} else if ($_SESSION['userContext'] === 'admin') {
							$user_icon = 'fa-user-tie';
						} else {
							$user_icon = 'fa-user';
						}
					?>
					<span class="label-space-right"><i class="fas <?=$user_icon;?> icon-pad-right" title="<?=_('Logged in as');?>: <?=htmlspecialchars($panel[$user]['NAME'])?>"></i><b><?=htmlspecialchars($user)?></b></span>
					<span class="label-space-right"><i class="fas fa-hdd icon-pad-right" title="<?=_('Disk');?>: <?=humanize_usage_size($panel[$user]['U_DISK'])?> <?=humanize_usage_measure($panel[$user]['U_DISK'])?>"></i><b><?=humanize_usage_size($panel[$user]['U_DISK'])?></b> <?=humanize_usage_measure($panel[$user]['U_DISK'])?></span>
					<span><i class="fas fa-exchange-alt icon-pad-right" title="<?=_('Bandwidth');?>: <?=humanize_usage_size($panel[$user]['U_BANDWIDTH'])?> <?=humanize_usage_measure($panel[$user]['U_BANDWIDTH'])?>"></i><b><?=humanize_usage_size($panel[$user]['U_BANDWIDTH'])?></b> <?=humanize_usage_measure($panel[$user]['U_BANDWIDTH'])?></span>
				</span>
			</div>

			<!-- Notifications -->
			<?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($user == 'admin'))) {?>
				<!-- Do not show notifications panel when impersonating 'admin' user -->
			<?php } else { ?>
				<div class="l-menu__item">
					<a title="<?=_('Notifications');?>" class="l-profile__notifications <?php if ($panel[$user]['NOTIFICATIONS'] == 'yes') echo " updates"; ?>">
						<i class="fas fa-bell <?php if ($panel[$user]['NOTIFICATIONS'] == 'yes') echo " animated extended swing status-icon orange"; ?>"></i>
					</a>
				</div>
			<?php } ?>

			<!-- Server Settings -->
			<?php if (($_SESSION['userContext'] === 'admin') && ($_SESSION['POLICY_SYSTEM_HIDE_SERVICES'] !== 'yes') || ($_SESSION['user'] === 'admin')) {?>
				<?php if (($_SESSION['userContext'] === 'admin') && (!empty($_SESSION['look']))) {?>
					<!-- Hide 'Server Settings' button when impersonating 'admin' or other users -->
				<?php } else { ?>				
					<div class="l-menu__item <?php if($TAB == 'SERVER') echo 'l-menu__item--active' ?> <?php if($TAB == 'IP') echo 'l-menu__item--active' ?> <?php if($TAB == 'RRD') echo 'l-menu__item--active' ?> <?php if($TAB == 'FIREWALL') echo 'l-menu__item--active' ?>"><a href="/list/server/" class="l-profile__serversettings" title="<?=_('Server');?>"><i class="fas fa-cog"></i></a></div>
				<?php } ?>
			<?php } ?>

			<!-- Edit User -->
			<?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($user == 'admin'))) {?>
				<!-- Hide 'edit user' entry point from other administrators for default 'admin' account-->
				<div class="l-menu__item"><a href="/list/log/" title="<?_('Logs');?>" class="l-profile__username"><i class="fas fa-history"></i></a></div>
			<?php } else { ?>
				<?php if ($panel[$user]['SUSPENDED'] === 'no') {?>
					<div class="l-menu__item"><a href="/edit/user/?user=<?=$user; ?>&token=<?=$_SESSION['token']?>" title="<?=htmlspecialchars($user)?> (<?=htmlspecialchars($panel[$user]['NAME'])?>)" class="l-profile__username"><i class="fas fa-user-circle"></i></a></div>
				<?php } ?>
			<?php } ?>

			<!-- Help / Documentation-->
			<div class="l-menu__item"><a href="https://docs.hestiacp.com/" rel="noopener" title="<?=_('Help');?>" class="l-profile__help" target="_blank"><i class="fas fa-question-circle"></i></a></div>
			
			<!-- Logout -->
			<?php if (isset($_SESSION['look']) && (!empty($_SESSION['look']))) { ?>
				<div class="l-menu__item"><a href="/logout/?token=<?=$_SESSION['token']?>" title="<?=_('Log out');?> (<?=$user?>)" class="l-profile__logout"><i class="fas fa-arrow-alt-circle-up"></i></a></div>
			<?php } else { ?>
				<div class="l-menu__item"><a href="/logout/?token=<?=$_SESSION['token']?>" title="<?=_('Log out');?>" class="l-profile__logout"><i class="fas fa-sign-out-alt"></i></a></div>
			<?php } ?>
		</div>
	</div>
</div>

<ul class="notification-container hidden animated fadeIn"></ul>

<div class="l-content">
	<div class="l-center">
		<div class="l-stat">
			<!-- Users tab -->
			<?php if (($_SESSION['userContext'] === 'admin') && (!isset($_SESSION['look']))) {?>
				<?php 
					if (($_SESSION['user'] !== 'admin') && ($_SESSION['POLICY_SYSTEM_HIDE_ADMIN'] === 'yes')) {
						$user_count = $panel[$user]['U_USERS'] - 1;
					} else {
						$user_count = $panel[$user]['U_USERS'];
					} 
				?>
				<div class="l-stat__col <?php if($TAB == 'USER') echo 'l-stat__col--active' ?><?php if($TAB == 'LOG') echo 'l-stat__col--active' ?>">
					<a href="/list/user/"  title="<?=_('Users');?>: <?=$user_count;?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_USERS']?>">
						<div class="l-stat__col-title"><?=_('USER');?>&nbsp;&nbsp;<i class="fas fa-users"></i></div>
						<ul>
							<li><?=_('users');?>: <span><?=htmlspecialchars($user_count);?></span></li>
							<li><?=_('spnd');?>: <span><?=$panel[$user]['SUSPENDED_USERS']?></span></li>
						</ul>
					</a>
				</div>
			<?php } ?>

			<!-- Web tab -->
			<?php if ((isset($_SESSION['WEB_SYSTEM'])) && (!empty($_SESSION['WEB_SYSTEM']))) {?>
				<?php if($panel[$user]['WEB_DOMAINS'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'WEB') echo 'l-stat__col--active' ?>">
						<a href="/list/web/" title="<?=_('Domains');?>: <?=$panel[$user]['U_WEB_DOMAINS']?>&#13;<?=_('Aliases');?>: <?=$panel[$user]['U_WEB_ALIASES']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['WEB_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['WEB_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_WEB']?>">
							<div class="l-stat__col-title"><?=_('WEB');?>&nbsp;&nbsp;<i class="fas fa-globe-americas"></i></div>
							<ul>
								<li><?=_('domains');?>: <span><?=$panel[$user]['U_WEB_DOMAINS']?> / <?=$panel[$user]['WEB_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['WEB_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_WEB']?>)</span></li>
								<li><?=_('aliases');?>: <span><?=$panel[$user]['U_WEB_ALIASES']?> / <?=$panel[$user]['WEB_ALIASES']=='unlimited' ? "<b>∞</b>" : $panel[$user]['WEB_ALIASES'] * $panel[$user]['WEB_DOMAINS']?></span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- DNS tab -->
			<?php if ((isset($_SESSION['DNS_SYSTEM'])) && (!empty($_SESSION['DNS_SYSTEM']))) {?>
				<?php if($panel[$user]['DNS_DOMAINS'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'DNS') echo 'l-stat__col--active' ?>">
						<a href="/list/dns/" title="<?=_('Domains');?>: <?=$panel[$user]['U_DNS_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['DNS_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['DNS_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_DNS']?>">
							<div class="l-stat__col-title"><?=_('DNS');?>&nbsp;&nbsp;<i class="fas fa-atlas"></i></div>
							<ul>
								<li><?=_('zones');?>: <span><?=$panel[$user]['U_DNS_DOMAINS']?> / <?=$panel[$user]['DNS_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_DNS']?>)</span></li>
								<li><?=_('records');?>: <span><?=$panel[$user]['U_DNS_RECORDS']?> / <?=$panel[$user]['DNS_RECORDS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_RECORDS'] * $panel[$user]['DNS_DOMAINS']?></span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- Mail tab -->
			<?php if ((isset($_SESSION['MAIL_SYSTEM'])) && (!empty($_SESSION['MAIL_SYSTEM']))) {?>
				<?php if($panel[$user]['MAIL_DOMAINS'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'MAIL') echo 'l-stat__col--active' ?>">
						<a href="/list/mail/"  title="<?=_('Domains');?>: <?=$panel[$user]['U_MAIL_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['MAIL_DOMAINS']=='unlimited' ? "∞" : $panel[$user]['MAIL_DOMAINS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_MAIL']?>">
							<div class="l-stat__col-title"><?=_('MAIL');?>&nbsp;&nbsp;<i class="fas fa-mail-bulk"></i></div>
							<ul>
								<li><?=_('domains');?>: <span><?=$panel[$user]['U_MAIL_DOMAINS']?> / <?=$panel[$user]['MAIL_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['MAIL_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_MAIL']?>)</span></li>
								<li><?=_('accounts');?>: <span><?=$panel[$user]['U_MAIL_ACCOUNTS']?> / <?=$panel[$user]['MAIL_ACCOUNTS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['MAIL_ACCOUNTS'] * $panel[$user]['MAIL_DOMAINS']?></span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- Databases tab -->
			<?php if ((isset($_SESSION['DB_SYSTEM'])) && (!empty($_SESSION['DB_SYSTEM']))) {?>
				<?php if($panel[$user]['DATABASES'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'DB') echo 'l-stat__col--active' ?>">
						<a href="/list/db/" title="<?=_('Databases');?>: <?=$panel[$user]['U_DATABASES']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['DATABASES']=='unlimited' ? "∞" : $panel[$user]['DATABASES']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_DB']?>">
							<div class="l-stat__col-title"><?=_('DB');?>&nbsp;&nbsp;<i class="fas fa-database"></i></div>
							<ul>
								<li><?=_('databases');?>: <span><?=$panel[$user]['U_DATABASES']?> / <?=$panel[$user]['DATABASES']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DATABASES']?> (<?=$panel[$user]['SUSPENDED_DB']?>)</span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- Cron tab -->
			<?php if ((isset($_SESSION['CRON_SYSTEM'])) && (!empty($_SESSION['CRON_SYSTEM']))) {?>
				<?php if($panel[$user]['CRON_JOBS'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'CRON') echo 'l-stat__col--active' ?>">
						<a href="/list/cron/" title="<?=_('Jobs');?>: <?=$panel[$user]['U_WEB_DOMAINS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['CRON_JOBS']=='unlimited' ? "∞" : $panel[$user]['CRON_JOBS']?>&#13;<?=_('Suspended');?>: <?=$panel[$user]['SUSPENDED_CRON']?>">
							<div class="l-stat__col-title"><?=_('CRON');?>&nbsp;&nbsp;<i class="fas fa-clock"></i></div>
							<ul>
								<li><?=_('jobs');?>: <span><?=$panel[$user]['U_CRON_JOBS']?> / <?=$panel[$user]['CRON_JOBS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['CRON_JOBS']?> (<?=$panel[$user]['SUSPENDED_CRON']?>)</span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- Backups tab -->
			<?php if ((isset($_SESSION['BACKUP_SYSTEM'])) && (!empty($_SESSION['BACKUP_SYSTEM']))) {?>
				<?php if($panel[$user]['BACKUPS'] != "0") { ?>
					<div class="l-stat__col <?php if($TAB == 'BACKUP') echo 'l-stat__col--active' ?>">
						<a href="/list/backup/" title="<?=_('Backups');?>: <?=$panel[$user]['U_BACKUPS']?>&#13;<?=_('Limit')?>: <?=$panel[$user]['BACKUPS']=='unlimited' ? "∞" : $panel[$user]['BACKUPS']?>">
							<div class="l-stat__col-title"><?=_('BACKUP');?>&nbsp;&nbsp;<i class="fas fa-file-archive"></i></div>
							<ul>
								<li><?=_('backups');?>: <span><?=$panel[$user]['U_BACKUPS']?> / <?=$panel[$user]['BACKUPS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['BACKUPS']?></span></li>
							</ul>
						</a>
					</div>
				<?php } ?>
			<?php } ?>
		</div>
	</div>

	<div class="l-separator"></div>
