Source: vesta-ioncube
Package: vesta-ioncube
Priority: optional
Version: 0.9.8-22
Section: admin
Maintainer: Serghey Rodin <skid@vestacp.com>
Homepage: https://www.ioncube.com
Architecture: amd64
Depends: bash, awk, sed, vesta-php
Description: ionCube Loader for Vesta
