<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>%domain% &mdash; coming soon </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Vesta Control Panel. This is a default index page for a new domain." />
</head>

<body>
    <div style="width:600px; margin-left: auto; margin-right: auto; text-align: center; font-family: Georgia;}">
        <p style="font-size: 48pt; color: #485357;">%domain%</p>
        <p style="font-size: 14pt; color: gray;">
            <a style="color: gray;" href="http://httpd.apache.org/">apache</a> + 
            <a style="color: gray;"  href="http://nginx.net/">nginx</a> + 
            <a style="color: gray;"  href="http://www.percona.com/">percona</a> + 
            <a style="color: gray;"  href="http://vestacp.com/">vesta</a>
        </p>
    </div>
</body>

</html>
