# editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# Markdown syntax specifies that trailing whitespaces can be meaningful,
# so let’s not trim those. e.g. 2 trailing spaces = linebreak (<br />)
# See https://daringfireball.net/projects/markdown/syntax#p
[*.md]
trim_trailing_whitespace = false

# YAML forbids using tabs
# See https://yaml.org/faq.html
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Views have longer line length for now
[web/templates/**/*.php]
max_line_length = 200

# Modern PHP uses spaces for indentation
[web/src/**/*.php]
indent_size = 4
indent_style = space
