*.tar
*.zip
*.gzip
*.gz
*.bz2
*.deb

.vs
.nova
/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store

.env
composer.phar
test/vendor/
**/node_modules/
web/src/vendor/filp
web/src/vendor/psr
web/src/vendor/composer/installed.json
npm-debug.log
.phpunit.result.cache

# Yarn (not zero-installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
