# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Minified files
*.min.css
*.min.js

# Husky
.husky/_/

# Exclude bats submodules if present
/test/test_helper/*

# Bats seems to break Prettier
*.bats

# Exclude bats submodules if present
/test/test_helper/*

# Web templates (for now)
web/templates/

# Vendor/packages
.pnp.*
.yarn/*
**/node_modules/
**/vendor/
**/composer.phar
**/composer.json
**/composer.lock

# vitepress build output
**/.vitepress/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
