Source: hestia-nginx
Package: hestia-nginx
Priority: optional
Version: 1.25.1-2
Section: admin
Maintainer: HestiaCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: hestia
Description: hestia Nginx
 hestia is an open source hosting control panel.
 hestia has a clean and focused interface without the clutter.
 hestia has the latest of very innovative technologies.
 hestia is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin.
