Source: devcp-nginx
Package: devcp-nginx
Priority: optional
Version: 1.27.4
Section: admin
Maintainer: DevCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: devcp
Description: devcp Nginx
 devcp is an open source hosting control panel.
 devcp has a clean and focused interface without the clutter.
 devcp has the latest of very innovative technologies.
 devcp is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin.
