                                <?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/dns/'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Adding DNS Domain');?></b></a>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                                                } else {
                                                    if (!empty($_SESSION['ok_msg'])) {
                                                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                                    }
                                                }
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <form id="vstobjects" name="v_add_dns" method="post">
                        <script language="javascript">
                            function elementHideShow(elementToHideOrShow){
                                var el = document.getElementById(elementToHideOrShow);
                                    if (el.style.display == "block") {
                                        el.style.display = "none";
                                    } else {
                                        el.style.display = "block";
                                    }
                            }
                        </script>

                        <table class="data">
                            <tr class="data-add">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <table class="data-col2" width="600px">
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Domain');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_domain" <?php if (!empty($v_domain)) echo "value=".$v_domain;  ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('IP-address');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_ip" <?php if (!empty($v_ip)) echo "value=".$v_ip; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <a href="javascript:elementHideShow('advtable');" class="vst-advanced"><?php print _('Advanced options');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 0px;">
                                                <table style="display:<?php if (empty($v_adv)) echo 'none';?> ;" id="advtable">
                                                    <tr>
                                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                            <?php print _('Expiration date');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print _('YYYY-MM-DD');?>)</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_exp" <?php if (!empty($v_exp)) echo "value=".$v_exp; ?>>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                            TTL
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_ttl" <?php if (!empty($v_ttl)) echo "value=".$v_ttl; ?>>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                            <?php print _('Name servers');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_ns1" <?php if (!empty($v_ns1)) echo "value=".$v_ns1; ?>>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_ns2" <?php if (!empty($v_ns2)) echo "value=".$v_ns2; ?>>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_ns3" <?php if (!empty($v_ns3)) echo "value=".$v_ns3; ?>>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" size="20" class="vst-input" name="v_ns4" <?php if (!empty($v_ns4)) echo "value=".$v_ns4; ?>>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 24px 0 0 0;">
                                                <input type="submit" name="ok" value="<?php print _('Add');?>" class="button">
                                                <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
