                                <?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/user/'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Editing User');?></b></a>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<a class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                                                } else {
                                                    if (!empty($_SESSION['ok_msg'])) {
                                                        echo "<a class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                                    }
                                                }
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <form id="vstobjects" method="post" name="v_edit_user">
                        <script type="text/javascript">
                            function randomString() {
                                var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                                var string_length = 10;
                                var randomstring = '';
                                for (var i=0; i<string_length; i++) {
                                    var rnum = Math.floor(Math.random() * chars.length);
                                    randomstring += chars.substring(rnum,rnum+1);
                                }
                                document.v_edit_user.v_password.value = randomstring;
                            }
                        </script>
                        <table class='data'>
                            <tr class="data-add">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 24px 0 2px 4px;"><a class="data-date" ?><?php echo date("d M Y", strtotime($v_date))?></a></td></tr>
                                        <tr><td style="padding: 0 0 6px 4px;"><a class="data-date" ?><?php echo $v_time?></a></td></tr>
                                        <tr><td style="padding: 0 0 0 21px;" class="data-<?php echo $v_status ?>"><b><?php echo $v_status ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_user" <?php if (!empty($v_username)) echo "value=".$v_username;  ?> disabled> <input type="hidden" name="v_username" <?php if (!empty($v_username)) echo "value=".$v_username;  ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Password');?> <a href="javascript:randomString();" class="genpass"><?php print _('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_password" <?php if (!empty($v_password)) echo "value=".$v_password;  ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Email');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_email" <?php if (!empty($v_email)) echo "value=".$v_email; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Default Name Servers');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_ns1" <?php if (!empty($v_ns1)) echo "value=".$v_ns1; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_ns2" <?php if (!empty($v_ns2)) echo "value=".$v_ns2; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_ns3" <?php if (!empty($v_ns3)) echo "value=".$v_ns3; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_ns4" <?php if (!empty($v_ns4)) echo "value=".$v_ns4; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 24px 0 0 0;">
                                                <input type="submit" class="button" name="save" value="<?php print _('Save');?>">
                                                <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
