                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 12px 0 8px 6px">
                                            <div style="float:left">
                                                <button style="width:120px; padding: 2px 0px;" onclick="location.href='/add/cron/'"> <?php print _('Add Cron Job');?> </button>
                                            </div>
                                            <div style="text-align: right; float: right;">
                                                <form action="/search/" method="get" >
                                                <input type="text" name="q" style="margin: 2px 2px 0px 0px; width: 250px; padding: 3px;" size="30">
                                                <input type="submit" value="Search" class="button" style="font-size: 12px; height: 24px;">
                                                </form>
                                            </div>
                                            <div style="float:left; padding-left: 26px;">
                                                <form action="/bulk/cron/" method="post" id="objects">
                                                <a style="padding: 0 4px 0 12px" class="select-controls" href='javascript:checkedAll("objects");'> toggle all </a>
                                                <select style="margin:0 2px 0 0px;" name="action">
                                                    <option><?php print _('apply to selected');?></option>
                                                    <option><?php print _('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="button" style="width: 37px; font-size: 12px; height: 24px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class='data'>

                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    if ($data[$key]['SUSPENDED'] == 'yes') {
                                        $status = 'suspended';
                                        $spnd_action = 'unsuspend' ;
                                    } else {
                                        $status = 'active';
                                        $spnd_action = 'suspend';
                                    }
                            ?>

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="job[]" value="<?php echo $data[$key]['JOB'] ?>" ></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                        <tr><td class="data-<?php echo $status ?>"><b><?php echo _($status); ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                            <td class="data-controls" width="50px"><a href="/edit/cron/?job=<?php echo $data[$key]['JOB'] ?>"><img src="/images/edit.png" width="8px" height="8px"> <?php print _('edit');?></a></td>
                                            <td class="data-controls do_delete" width="70px">
                                                <img src="/images/delete.png" width="7px" height="7px" class="do_delete">
                                                <a id="delete_link_<?php echo $i ?>" class="do_delete"> <?php print _('delete');?></a>
                                                <input type="hidden" name="delete_url" value="/delete/cron/?job=<?php echo $data[$key]['JOB']; ?>" />
                                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print _('Confirmation');?>">
                                                    <p class="counter-value"><?php print _('CRON_ACTION_CONFIRMATION',_('delete'));?></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="data-col2" width="800px">
                                        <tr>
                                            <td colspan=5 class="cron" style="padding: 0 0 0 4px;">
                                                <b><?php echo $data[$key]['CMD'] ?></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;"  width="80px">
                                                <table>
                                                    <tr>
                                                        <td class="cron-counter-name">
                                                            <?php print _('Min');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cron-counter-value">
                                                            <?php echo $data[$key]['MIN'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;"  width="80px">
                                                <table>
                                                    <tr>
                                                        <td class="cron-counter-name">
                                                            <?php print _('Hour');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cron-counter-value">
                                                            <?php echo $data[$key]['HOUR'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;"  width="80px">
                                                <table>
                                                    <tr>
                                                        <td class="cron-counter-name">
                                                            <?php print _('Day');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cron-counter-value">
                                                            <?php echo $data[$key]['DAY'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;"  width="80px">
                                                <table>
                                                    <tr>
                                                        <td class="cron-counter-name">
                                                            <?php print _('Month');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cron-counter-value">
                                                            <?php echo $data[$key]['MONTH'] ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;">
                                                <table>
                                                    <tr>
                                                        <td class="cron-counter-name">
                                                            <?php print _('Day of week');?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cron-counter-value">
                                                            <?php echo $data[$key]['WDAY'] ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <?php
                                }
                            ?>
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo _('one cron job');
                                        } else {
                                            echo _('%s cron jobs',$i);
                                        }
                                    ?>
                                </td>
                            </tr>
                        </table>
                    </div>

