    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
          <a class="ui-button cancel" id="btn-back" href="/list/dns/"><i class="fas fa-arrow-left status-icon blue"></i> <?=_('Back')?></a>
          <a href="/add/dns/?domain=<?=htmlentities($_GET['domain'])?>" id="btn-create" class="ui-button cancel"><i class="fas fa-plus-circle status-icon green"></i> <?=_('Add Record')?></a>
          <a href="/edit/dns/?domain=<?=htmlentities($_GET['domain'])?>" id="btn-create" class="ui-button cancel"><i class="fas fa-pencil-alt status-icon blue"></i> <?=_('Editing DNS Domain')?></a>
        </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <button type="submit" class="l-sort-toolbar__filter-apply" onclick="return doSearch('/search/')" value=""><i class="fas fa-search"></i></button>
                </form>
              </td>
              <td>
                <form action="/bulk/dns/" method="post" id="objects">
                <input type="hidden" name="domain" value="<?=htmlentities($_GET['domain'])?>" />
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action" id="">
                    <option value=""><?=_('apply to selected')?></option>
                    <option value="suspend"><?php print _('suspend');?></option>
                    <option value="unsuspend"><?php print _('unsuspend');?></option>
                    <option value="delete"><?php print _('delete');?></option>
                  </select>
                </div>
                <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>

    <div class="l-center units animated fadeIn">
      <div class="header table-header">
        <div class="l-unit__col l-unit__col--right">
          <div class="clearfix l-unit__stat-col--left super-compact">
            <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
          </div>
          <div class="clearfix l-unit__stat-col--left small"><b><?php print _('Record');?></b></div>
          <div class="clearfix l-unit__stat-col--left compact text-right"><b>&nbsp;</b></div>
          <div class="clearfix l-unit__stat-col--left compact text-center"><b><?php print _('Type');?></b></div>
          <div class="clearfix l-unit__stat-col--left compact"><b><?php print _('Priority');?></b></div>
          <div class="clearfix l-unit__stat-col--left wide-7"><b><?php print _('IP or Value');?></b></div>
        </div>
    </div>

      <?php
        foreach ($data as $key => $value) {
          ++$i;
        ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--suspended'; if($_SESSION['favourites']['DNS_REC'][$key] == 1) echo ' l-unit--starred';?>"
v_unit_id="<?=$key?>" v_section="dns_rec">
        <div class="l-unit__col l-unit__col--right">
            <div class="clearfix l-unit__stat-col--left super-compact">
              <input id="check<?=$data[$key]['ID']?>" class="ch-toggle" type="checkbox" name="record[]" value="<?=$data[$key]['ID']?>">
            </div>
            <div class="clearfix l-unit__stat-col--left small truncate"><b><a href="/edit/dns/?domain=<?=htmlspecialchars($_GET['domain'])?>&record_id=<?=$data[$key]['ID']?>&token=<?=$_SESSION['token']?>" title="<?=_('Editing DNS Record').': '.htmlspecialchars($data[$key]['RECORD'])?>"><? echo substr($data[$key]['RECORD'], 0, 12); if(strlen($data[$key]['RECORD']) > 12 ) echo '...'; ?></a></b></div>
            <!-- START QUICK ACTION TOOLBAR AREA -->
            <div class="clearfix l-unit__stat-col--left compact text-right">
              <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
                <div class="actions-panel clearfix">
                  <div class="actions-panel__col actions-panel__logs shortcut-enter" key-action="href"><a href="/edit/dns/?domain=<?=htmlspecialchars($_GET['domain'])?>&record_id=<?=$data[$key]['ID']?>&token=<?=$_SESSION['token']?>" title="<?=_('Editing DNS Record')?>"><i class="fas fa-pencil-alt status-icon orange status-icon dim"></i></a></div>
                  <div class="actions-panel__col actions-panel__delete shortcut-delete" key-action="js">
                    <a id="delete_link_<?=$i?>" class="data-controls do_delete" title="<?=_('delete')?>">
                      <i class="fas fa-trash status-icon red status-icon dim do_delete"></i>
                      <input type="hidden" name="delete_url" value="/delete/dns/?domain=<?=htmlspecialchars($_GET['domain'])?>&record_id=<?=$data[$key]['ID']?>&token=<?=$_SESSION['token']?>" />
                      <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=_('Confirmation')?>">
                        <p class="confirmation"><?=sprintf(_('DELETE_DOMAIN_CONFIRMATION'),$key)?></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END QUICK ACTION TOOLBAR AREA -->
            <div class="clearfix l-unit__stat-col--left compact text-center"><b><?=$data[$key]['TYPE']?></b></div>
            <div class="clearfix l-unit__stat-col--left compact"><?=$data[$key]['PRIORITY']?>&nbsp;</div>
            <div class="clearfix l-unit__stat-col--left wide-7" style="font-family: 'Inconsolata', monospace;"><?=htmlspecialchars($data[$key]['VALUE'], ENT_QUOTES, 'UTF-8')?></div>
          </div>
        </div>
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="data-count l-unit__col l-unit__col--right total clearfix">
            <?php
            printf(ngettext('%d DNS record', '%d DNS records', $i),$i);
            ?>
          </div>
          <div class="data-count l-unit__col l-unit__col--right back clearfix">
          </div>
      </div>
    </div>
  </div>
