                                <table class="submenu">
                                    <tr>
                                        <td style="padding: 2px 0 0 6px">
                                            <div class="submenu-button-block">
                                                <button class="submenu-button" onclick="location.href='/add/dns/'"> <?php print _('Add DNS Domain');?> </button>
                                            </div>
                                            <div class="submenu-search-block">
                                                <form action="/search/" method="get">
                                                    <input type="text" name="q" class="submenu-search-field">
                                                    <input type="submit" value="<?php print _('Search');?>" class="submenu-button" style="width: 96px;">
                                                </form>
                                            </div>
                                            <div class="submenu-select-block">
                                                <form action="/bulk/dns/" method="post" id="objects">
                                                <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print _('toggle all');?> </a>
                                                <select class="submenu-select-dropdown" name="action">
                                                    <option value=""><?php print _('apply to selected');?></option>
                                                    <option value="delete"><?php print _('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="submenu-button" style="width: 36px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class="data">
                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    if ($data[$key]['SUSPENDED'] == 'yes') {
                                        $status = 'suspended';
                                        $spnd_action = 'unsuspend' ;
                                    } else {
                                        $status = 'active';
                                        $spnd_action = 'suspend' ;
                                    }
                            ?> 
                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="domain[]" value="<?php echo "$key" ?>" ></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                        <tr><td class="data-<?php echo $status ?>"><b><?php echo _($status) ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                                        <span class="do_delete">
                                            <img src="/images/delete.png" width="7px" height="7px">
                                            <?php print _('delete');?> 
                                            <input type="hidden" name="delete_url" value="/delete/dns/?domain=<?php echo $key ?>" />
                                            <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print _('Confirmation');?>">
                                                <p class="counter-value"><?php print _('DELETE_DOMAIN_CONFIRMATION',$key);?></p>
                                            </div>
                                        </span>
                                    </a>
                                    <a href="/edit/dns/?domain=<?php echo $key ?>" class="data-controls">
                                        <span>
                                            <img src="/images/edit.png" width="8px" height="8px">
                                            <?php print _('edit');?> 
                                        </span>
                                    </a>
                                    <a href="/add/dns/?domain=<?php echo $key ?>" class="data-controls">
                                        <span>
                                            <img src="/images/add.png" width="8px" height="8px">
                                            <?php print _('add record');?> 
                                        </span>
                                    </a>
                                    <a href="/list/dns/?domain=<?php echo $key ?>" class="data-controls">
                                        <span>
                                            <img src="/images/more.png" width="8px" height="8px">
                                            <?php print _('list records',$data[$key]['RECORDS']); ?> 
                                        </span>
                                    </a>
                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="domain" style="padding: 0 0 0 4px;">
                                                <b><?php echo $key ?></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;" >
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" style="padding: 2px 0 0 2px;">
                                                            <?php echo $data[$key]['IP'] ?> 
                                                        </td>
                                                    <tr>
                                                        <td class="counter-name" style="padding: 0 0 20px 2px">
                                                            [<?php echo $data[$key]['TPL'] ?>] <?php print _('template');?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="250">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('SOA') ?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['SOA'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('TTL') ?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['TTL'] ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td rowspan=4 style="vertical-align:top;" width="300">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Expire');?>:</td>
                                                        <td class="counter-value"><?php echo strftime("%d %b %Y", strtotime($data[$key]['EXP'])) ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Records');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['RECORDS'] ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <?php
                                }
                            ?> 
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo _('1 domain');
                                        } else {
                                            echo _('%s domains',$i);
                                        }
                                    ?> 
                                </td>
                            </tr>
                        </table>
                    </div>
