            <table class="submenu">
                <tr>
                    <td class="wrapper">
                        <div class="submenu-button-block">
                            <button class="submenu-button-main" onclick="location.href='/add/cron/'"> <?php print __('Add Cron Job');?> </button>
                        </div>
                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <div class="submenu-select-block">
                            <form action="/bulk/cron/" method="post" id="objects">
                            <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                            <select class="submenu-select-dropdown" name="action">
                                <option value=""><?php print __('apply to selected');?></option>
                                <option value="delete"><?php print __('delete');?></option>
                            </select>
                            <input type="submit" name="ok" value="›" class="submenu-button-select">
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
            <table class='data'>

                <?php
                    foreach ($data as $key => $value) {
                        ++$i;
                        if ($data[$key]['SUSPENDED'] == 'yes') {
                            $status = 'suspended';
                            $spnd_action = 'unsuspend';
                            $spnd_confirmation = 'UNSUSPEND_CRON_CONFIRMATION' ;
                        } else {
                            $status = 'active';
                            $spnd_action = 'suspend';
                            $spnd_confirmation = 'SUSPEND_CRON_CONFIRMATION' ;
                        }
                ?> 

                <tr class="data-row <? if($status == 'suspended') echo 'suspended';?>">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td><input type="checkbox" class="ch-toggle" name="job[]" value="<?php echo $data[$key]['JOB'] ?>" ></td></tr>
                            <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></a></td></tr>
                            <tr><td class="data-<?php echo $status ?>"><b><?php echo __($status); ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted" width="830px">
                        <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                            <span class="do_delete">
                                <img src="/images/delete.png" width="7px" height="7px">
                                <?php print __('delete');?> 
                                <input type="hidden" name="delete_url" value="/delete/cron/?job=<?php echo $data[$key]['JOB']; ?>" />
                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print __('Confirmation');?>">
                                    <p class="counter-value"><?php print __('DELETE_CRON_CONFIRMATION');?></p>
                                </div>
                            </span>
                        </a>
                        <a href="/edit/cron/?job=<?php echo $data[$key]['JOB'] ?>" class="data-controls">
                            <span>
                                <img src="/images/edit.png" width="8px" height="8px">
                                <?php print __('edit');?> 
                            </span>
                        </a>
                        <table class="data-col2">
                            <tr>
                                <td colspan=6 class="cron">
                                    <b><?php echo htmlspecialchars($data[$key]['CMD'], ENT_NOQUOTES) ?></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top; padding: 4px 0 0 1px" width="118px">
                                    <div class="cron-counter-name">
                                        <?php print __('Min');?> 
                                    </div>
                                    <div class="cron-counter-value">
                                        <?php echo $data[$key]['MIN'] ?> 
                                    </div>
                                </td>
                                <td style="vertical-align:top; padding: 4px 0 0 0" width="120px">
                                    <div class="cron-counter-name">
                                        <?php print __('Hour');?> 
                                    </div>
                                    <div class="cron-counter-value">
                                        <?php echo $data[$key]['HOUR'] ?> 
                                    </div>
                                </td>
                                <td style="vertical-align:top; padding: 4px 0 0 0" width="120px">
                                    <div class="cron-counter-name">
                                        <?php print __('Day');?> 
                                    </div>
                                    <div class="cron-counter-value">
                                        <?php echo $data[$key]['DAY'] ?> 
                                    </div>
                                </td>
                                <td style="vertical-align:top; padding: 4px 0 0 0" width="119px">
                                    <div class="cron-counter-name">
                                        <?php print __('Month');?> 
                                    </div>
                                    <div class="cron-counter-value">
                                        <?php echo $data[$key]['MONTH'] ?> 
                                    </div>
                                </td>
                                <td style="vertical-align:top; padding: 4px 0 0 0" width="120px">
                                    <div class="cron-counter-name">
                                        <?php print __('Day of week');?> 
                                    </div>
                                    <div class="cron-counter-value">
                                        <?php echo $data[$key]['WDAY'] ?> 
                                    </div>
                                </td>
                                <td style="vertical-align:top;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <?php
                    }
                ?> 
            </table>
            </from>

            <div class="data-count">
                <?php
                    if ( $i == 1) {
                        echo __('1 cron job');
                    } else {
                        echo __('%s cron jobs',$i);
                    }
                ?> 
            </div>
        </div>
