
                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 12px 0 8px 6px">
                                            <div style="float:left">
                                                <a class="name" style="padding: 0;"><b><?php print _('Search Results');?></b></a>
                                            </div>
                                            <div style="text-align: right; float: right;">
                                                <form action="/search/" method="get">
                                                <input type="text" name="q" style="margin: 2px 2px 0px 0px; width: 250px; padding: 3px;" size="30">
                                                <input type="submit" value="<?php print _('Search');?>" class="button" style="font-size: 12px; height: 24px;">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class="data">
                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    if ($data[$key]['SUSPENDED'] == 'yes') {
                                        $status = 'suspended';
                                        $spnd_action = 'unsuspend' ;
                                    } else {
                                        $status = 'active';
                                        $spnd_action = 'suspend';
                                    }
                                    if ($data[$key]['TYPE'] == 'db') {
                                        $object = 'database';
                                    } else {
                                        $object = strtolower($data[$key]['TYPE']." ".$data[$key]['KEY']);
                                    }
                            ?>

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150px">
                                    <table class="data-col1" width="150">
                                        <tr><td style="padding: 24 0 4 0;"><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE']))?></a></td></tr>
                                        <tr><td class="data-<?php echo $status ?>"><b><?php echo _($status); ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                            <td class="data-controls" width="50px">
                                                <?php
                                                    if ($data[$key]['KEY'] == 'RECORD') {
                                                        echo '<a href="/edit/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'];
                                                        echo '&record_id='.$data[$key]['LINK'].'">';
                                                    }

                                                    if ($data[$key]['KEY'] == 'ACCOUNT') {
                                                        echo '<a href="/edit/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'];
                                                        echo '&account='.$data[$key]['LINK'].'">';
                                                    }

                                                    if ($data[$key]['KEY'] == 'JOB') {
                                                        echo '<a href="/edit/'.$data[$key]['TYPE'].'/?job='.$data[$key]['LINK'].'">';
                                                    }

                                                    if (($data[$key]['KEY'] != 'RECORD') && ($data[$key]['KEY'] != 'ACCOUNT') && ($data[$key]['KEY'] != 'JOB')) {
                                                        echo '<a href="/edit/'.$data[$key]['TYPE'].'/?'.strtolower($data[$key]['KEY']).'='.$data[$key]['RESULT'].'">';
                                                    }
                                                ?> 
                                                <img src="/images/edit.png" width="8px" height="8px"> edit</a>
                                            </td>
                                            <td class="data-controls do_delete" width="70px">
                                                <img src="/images/delete.png" width="7px" height="7px" class="do_delete">
                                                <a id="delete_link_<?php echo $i ?>" class="do_delete"> <?php print _('delete');?></a>
                                                <?php
                                                    if ($data[$key]['KEY'] == 'RECORD') {
                                                        echo '<input type="hidden" name="delete_url" ';
                                                        echo 'value="/delete/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'];
                                                        echo '&record_id='.$data[$key]['LINK'].'" />';
                                                    }

                                                    if ($data[$key]['KEY'] == 'ACCOUNT') {
                                                        echo '<input type="hidden" name="delete_url" ';
                                                        echo 'value="/delete/'.$data[$key]['TYPE'].'/?domain='.$data[$key]['PARENT'];
                                                        echo '&account='.$data[$key]['LINK'].'" />';
                                                    }

                                                    if ($data[$key]['KEY'] == 'JOB') {
                                                        echo '<input type="hidden" name="delete_url" ';
                                                        echo 'value="/delete/'.$data[$key]['TYPE'].'/?job='.$data[$key]['LINK'].'" />';
                                                    }

                                                    if (($data[$key]['KEY'] != 'RECORD') && ($data[$key]['KEY'] != 'ACCOUNT') && ($data[$key]['KEY'] != 'JOB')) {
                                                        echo '<input type="hidden" name="delete_url" ';
                                                        echo 'value="/delete/'.$data[$key]['TYPE'].'/?'.strtolower($data[$key]['KEY']).'='.$data[$key]['RESULT'].'" />';
                                                    }
                                                ?> 
                                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="Confirmation">
                                                    <p class="counter-value"><?php print _('ARE_YOU_FUCKING_SURE',_('delete'),$data[$key]['RESULT']);?></p>
                                                </div>
                                            </td>
                                        </tr>
                                </table>

                                <table class="data-col2" width="830px">
                                    <tr><td colspan=3 class="domain" style="padding: 0 0 0 4px;"><b><?php echo $data[$key]['RESULT'] ?></b> <a class="aliases" style="padding: 0 20px 0 4px"><?php echo str_replace(',', ', ', $data[$key]['ALIAS']) ?></a></td></tr>
                                    <tr>
                                        <td style="vertical-align:top;" >
                                            <table>
                                                <tr>
                                                    <td class="counter-name">
                                                        <?php print _('Object');?>:
                                                    </td>
                                                    <td class="counter-value">
                                                        <?php echo $object ?>  
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="vertical-align:top;" width="200">
                                            <table>
                                                <tr>
                                                    <td class="counter-name">
                                                        <?php print _('Owner');?>:
                                                    </td>
                                                    <td class="counter-value">
                                                        <?php echo $data[$key]['USER'] ?> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="vertical-align:top;" width="350">
                                            <table >
                                                <tr>
                                                    <td class="counter-name">
                                                        <?php print _('Status');?>:
                                                    </td>
                                                    <td class="counter-value" style="padding: 0 0 0 8px;">
                                                        <?php echo _($status); ?>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <?php
                            }
                        ?>
                    </table>
                    </form>

                    <table class="data-count">
                        <tr>
                            <td width="160px"></td>
                            <td>
                                <?php
                                    if ( $i == 1){
                                        echo _('one object');
                                    } else {
                                        echo _('%s objects',$i);
                                    }
                                ?>
                            </td>
                        </tr>
                    </table>
                </div>

