
                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 12px 0 0 6px">
                                            <div style="float:left">
                                                <button style="width:120px; padding: 2px 0px;" onclick="location.href='/add/db/'"> Add Database </button>
                                            </div>
                                            <div style="text-align: right; float: right;">
                                                <form action="/search/" method="get" >
                                                <input type="text" size="30" style="padding: 3px 80px 3px 0; margin: 0 2px 0 0;" name="q">
                                                <input type="submit" name="search" value="Search" class="button" style="font-size: 12px;">
                                                </form>
                                            </div>
                                            <div style="float:left; padding-left: 26px;">
                                                <form action="/bulk/db/" method="post" id="objects">
                                                <a style="padding: 0 4px 0 12px" class="select-controls" href='javascript:checkedAll("objects");'> toggle all </a>
                                                <select style="margin:0 2px 0 0px;" name="action">
                                                    <option>apply to selected</option>
                                                    <option>delete</option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="button" style="width: 37px; font-size: 12px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class='data'>
                            <?php
                                list($http_host, $port) = explode(':', $_SERVER["HTTP_HOST"]);
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    if ($data[$key]['SUSPENDED'] == 'yes') {
                                        $status = 'suspended';
                                        $spnd_action = 'unsuspend' ;
                                    } else {
                                        $status = 'active';
                                        $spnd_action = 'suspend' ;
                                    }
                                    if ($data[$key]['TYPE'] == 'mysql') $db_admin = "phpMyAdmin";
                                    if ($data[$key]['TYPE'] == 'mysql') $db_admin_link = "http://".$http_host."/phpMyAdmin/";
                                    if ($data[$key]['TYPE'] == 'pgsql') $db_admin = "phpPgAdmin";
                                    if ($data[$key]['TYPE'] == 'pgsql') $db_admin_link = "http://".$http_host."/phpPgAdmin/";
                            ?> 
                            <tr class="data-row">
                                <script type="text/javascript">
                                    $(function(){
                                        $('#delete_dialog_<?php echo "$i" ?>').dialog({
                                            modal: true,
                                            autoOpen: false,
                                            width: 360,
                                            buttons: {
                                                "Ok": function(event, ui) {
                                                     location.href = '/delete/db/?database=<?php echo "$key" ?>';
                                                },
                                                "Cancel": function() {
                                                    $(this).dialog("close");
                                                }
                                            }
                                        });
                                        $('#delete_link_<?php echo "$i" ?>').click(function(){
                                            $('#delete_dialog_<?php echo "$i" ?>').dialog('open');
                                            return false;
                                        });
                                    });
                                </script>
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="database[]" value="<?php echo $key ?>" ></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                        <tr><td class="data-<?php echo $status ?>"><b><?php echo $status ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                            <td class="data-controls" width="126px"><img src="/images/new_window.png" width="8px" height="8px"> <a href="<?php echo $db_admin_link; ?>" target="_blank"> open <?php echo $db_admin ?> </a></td>
                                            <td class="data-controls" width="50px"><img src="/images/edit.png" width="8px" height="8px"><a href="/edit/db/?database=<?php echo $key ?>"> edit</a></td>
                                            <td class="data-controls" width="70px">
                                                <img src="/images/delete.png" width="7px" height="7px">
                                                <a href="#" id="delete_link_<?php echo $i ?>"> delete</a>
                                                <div id="delete_dialog_<?php echo $i ?>" title="Confirmation">
                                                    <p class="counter-value">Are you sure you want to delete <b><?php echo "$key" ?></b> database?</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="domain" style="padding: 0 0 0 4px;">
                                                <b><?php echo $key ?></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;" >
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" style="padding: 2px 0 4px 2px">
                                                            [<?php echo $data[$key]['TYPE'] ?>] database
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="chart1" style="padding: 0px 0 0px 2px">Disk: <?php echo humanize_usage($data[$key]['U_DISK']) ?>
                                                            <div style="width:160px; height:6px; font-size:0;background-color:#c7d5b3;">
                                                                <div style="width:<?php echo get_percentage($data[$key]['U_DISK'],$panel[$user]['DISK_QUOTA']) ?>%; height:6px; background-color:#9bbb62; border-right:1px #9bbb62 solid;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="250">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name">
                                                            User:
                                                        </td>
                                                        <td class="counter-value">
                                                            <?php echo $data[$key]['DBUSER'] ?> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name">
                                                            Host:
                                                        </td>
                                                        <td class="counter-value">
                                                            <?php echo $data[$key]['HOST'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td rowspan=4 style="vertical-align:top;" width="300">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name">
                                                            Charset:
                                                        </td>
                                                        <td class="counter-value">
                                                            <?php echo $data[$key]['CHARSET'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <?php
                                }
                            ?>
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo "1 database ";
                                        } else {
                                            echo "$i databases ";
                                        }
                                    ?>
                                </td>
                            </tr>
                        </table>
                    </div>
