            <table class="submenu">
                <tr>
                    <td class="wrapper">
                        <div class="submenu-button-block">
                            <button class="submenu-button-main" onclick="location.href='/add/dns/?domain=<?php echo $_GET['domain'] ?>'"> <?php print __('Add DNS Record');?> </button>
                        </div>
                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <div class="submenu-select-block">
                            <form action="/bulk/dns/" method="post" id="objects">
                            <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                            <select class="submenu-select-dropdown" name="action">
                                <option value=""><?php print __('apply to selected');?></option>
                                <option value="delete"><?php print __('delete');?></option>
                            </select>
                            <input type="submit" name="ok" value="›" class="submenu-button-select">
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
                <table class="data" style="background: #ebe9dc;">
                    <tr>
                        <td style="padding: 10px 4px">
                            <a class="name" style="color: #555; font-size: 10pt;"><b><?php print __('Listing');?>  <?php echo $_GET['domain'] ?></b></a>
                        </td>
                    </tr>
                </table>
                <table class="data">
                    <?php
                        foreach ($data as $key => $value) {
                            ++$i;
                            if ($data[$key]['SUSPENDED'] == 'yes') {
                                $status = 'suspended';
                                $spnd_action = 'unsuspend' ;
                                $spnd_confirmation = 'UNSUSPEND_RECORD_CONFIRMATION' ;
                            } else {
                                $status = 'active';
                                $spnd_action = 'suspend' ;
                                $spnd_confirmation = 'UNSUSPEND_RECORD_CONFIRMATION' ;
                            }
                    ?> 
                    <tr class="data-row">
                        <td class="data-dotted">
                            <table class="data-col1">
                                <tr><td><input type="checkbox" class="ch-toggle" name="record[]" value="<?php echo $data[$key]['ID']?>" > <input type="hidden" name="domain" value="<?php echo $_GET['domain'] ?>" ></td></tr>
                                <tr><td></td></tr>
                            </table>
                        </td>
                        <td class="data-dotted">
                            <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                                <span class="do_delete">
                                    <img src="/images/delete.png" width="7px" height="7px">
                                    <?php print __('delete');?>
                                    <input type="hidden" name="delete_url" value="/delete/dns/?domain=<?php echo $_GET['domain'] ?>&record_id=<?php echo $data[$key]['ID'] ?>" />
                                    <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print __('Confirmation');?>">
                                        <p class="counter-value"><?php print __('DELETE_RECORD_CONFIRMATION',$data[$key]['RECORD']);?></p>
                                    </div>
                                </span>
                            </a>
                            <a href="/edit/dns/?domain=<?php echo $_GET['domain'] ?>&record_id=<?php echo $data[$key]['ID'] ?>" class="data-controls">
                                <span>
                                    <img src="/images/edit.png" width="8px" height="8px">
                                    <?php print __('edit');?> 
                                </span>
                            </a>
                            <table class="data-col5">
                                <tr>
                                    <td class="log" width="239px"><b><?php echo $data[$key]['RECORD'] ?></b></td>
                                    <td class="log-counter-value" width="57px"><?php echo $data[$key]['TYPE'] ?></td>
                                    <td class="log-counter-value" width="62px"><?php echo $data[$key]['PRIORITY'] ?></td>
                                    <td class="log-counter-value" ><?php echo $data[$key]['VALUE'] ?></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <?php
                        }
                    ?> 
                </table>
            </form>

            <div class="data-count">
                <?php
                    if ( $i == 1) {
                        echo __('1 record');
                    } else {
                        echo __('%s records',$i);
                    }
                ?> 
            </div>
        </div>
