                                <table class="top">
                                    <tr>
                                        <td width="174px"></td>
                                        <td width="118px"><a class="top-<?php if($TAB == 'STATS' ) echo 's' ?>link" href="/list/stats/"><b>Statistics</a></b></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'LOG' ) echo 's' ?>link" href="/list/log/"><b>History Log</a></b></td>
                                        <td width="120px"></td>
                                        <td width="120px"></td>
                                        <td width="120px"></td>
                                        <td width="228px" style="padding: 0 28px 0 0; text-align: right;"><b><?php if($user != $_SESSION['user']) echo 'admin / ' ?><?php echo $user ?></b><a class="top-link" style="padding: 0 0 0 6" href="/logout/">Log out</a></td>
                                    </tr>
                                </table>
                                <table class="nav">
                                    <tr id="nav-block">
                                        <td class="logotd" style="padding: 20px 0px 0px 4px; float: left;">
                                            <img src="/images/logo.png" width="124px" height="46px" alt="Vesta logo">
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'USER' ) echo 's' ?>link" href="/list/user/"><b>USER</b></a>
                                            <p class="counters">
                                                disk: <? echo humanize_usage($panel[$user]['U_DISK']) ?> <br>
                                                traffic: <? echo humanize_usage($panel[$user]['U_BANDWIDTH']) ?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'WEB' ) echo 's' ?>link" href="/list/web/"><b>WEB</b></a>
                                            <p class="counters">
                                                domains: <? echo $panel[$user]['U_WEB_DOMAINS']?><br>
                                                aliases: <? echo $panel[$user]['U_WEB_ALIASES']?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED_WEB']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'DNS' ) echo 's' ?>link" href="/list/dns/"><b>DNS</b></a>
                                            <p class="counters">
                                                domains: <? echo $panel[$user]['U_DNS_DOMAINS']?><br>
                                                records: <? echo $panel[$user]['U_DNS_RECORDS']?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED_DNS']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'MAIL' ) echo 's' ?>link" href="/list/mail/"><b>MAIL</b></a>
                                            <p class="counters">
                                                domains: <? echo $panel[$user]['U_MAIL_DOMAINS']?><br>
                                                accounts: <? echo $panel[$user]['U_MAIL_ACCOUNTS']?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED_MAIL']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'DB' ) echo 's' ?>link" href="/list/db/"><b>DB</b></a>
                                            <p class="counters">
                                                databases: <? echo $panel[$user]['U_DATABASES']?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED_DB']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'CRON' ) echo 's' ?>link" href="/list/cron/"><b>CRON</b></a>
                                            <p class="counters">
                                                jobs: <? echo $panel[$user]['U_CRON_JOBS']?><br>
                                                suspended: <? echo $panel[$user]['SUSPENDED_CRON']?> 
                                            </p>
                                        </td>
                                        <td>
                                            <a class="nav-<?php if($TAB == 'BACKUP' ) echo 's' ?>link" href="/list/backup/"><b>BACKUP</b></a>
                                            <p class="counters">
                                                backups: <? echo $panel[$user]['U_BACKUPS']?><br> 
                                            </p>
                                        </td>
                                    </tr>
                                </table>
