    <center>
        <table class="main">
            <tr>
                <td>
                    <table class="fixed" >
                        <tr>
                            <td>
                                <table class="top">
                                    <tr>
<td width="174px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"></td>
                                        <td width="118px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"><a class="top-<?php if($TAB == 'STATS' ) echo 'selected-' ?>link" href="/list/stats/"><b><?php print _('Statistics');?></a></b></td>
                                        <td width="120px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"><a class="top-<?php if($TAB == 'LOG' ) echo 'selected-' ?>link" href="/list/log/"><b><?php print _('History Log');?></a></b></td>
                                        <td width="120px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"></td>
                                        <td width="120px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"></td>
                                        <td width="120px" style="border-bottom: 1px solid #d6d6d6; height: 26px;"></td>
                                        <td width="228px" style="border-bottom: 1px solid #d6d6d6; height: 26px; padding: 0 24px 0 0; text-align: right;"><b><?php if($user != $_SESSION['user']) echo 'admin / ' ?><?php echo $user ?></b><a class="top-link" style="padding: 0 0 0 6" href="/logout/"><?php print _('Log out');?></a></td>
                                   
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="background: #fff;">

                                            <span class="nav-logo">
                                                <img style="margin: 22px 0 0 4px;" src="/images/logo.png">
                                            </span>

                                            <a class="nav-lnk" href="/list/user/">
                                            <span class="nav-<?php if($TAB == 'USER' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'USER' ) echo 'selected-' ?>header">
                                                    <?php print _('USER');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('disk');?>: <? echo humanize_usage($panel[$user]['U_DISK']) ?> <br>
                                                    <?php print _('traffic');?>: <? echo humanize_usage($panel[$user]['U_BANDWIDTH']) ?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/web/">
                                            <span class="nav-<?php if($TAB == 'WEB' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'WEB' ) echo 'selected-' ?>header">
                                                    <?php print _('WEB');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('domains');?>: <? echo $panel[$user]['U_WEB_DOMAINS']?><br>
                                                    <?php print _('aliases');?>: <? echo $panel[$user]['U_WEB_ALIASES']?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_WEB']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/dns/">
                                            <span class="nav-<?php if($TAB == 'DNS' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'DNS' ) echo 'selected-' ?>header">
                                                    <?php print _('DNS');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('domains');?>: <? echo $panel[$user]['U_DNS_DOMAINS']?><br>
                                                    <?php print _('records');?>: <? echo $panel[$user]['U_DNS_RECORDS']?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_DNS']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/mail/">
                                            <span class="nav-<?php if($TAB == 'MAIL' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'MAIL' ) echo 'selected-' ?>header">
                                                    <?php print _('MAIL');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('domains');?>: <? echo $panel[$user]['U_MAIL_DOMAINS']?><br>
                                                    <?php print _('accounts');?>: <? echo $panel[$user]['U_MAIL_ACCOUNTS']?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_MAIL']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/db/">
                                            <span class="nav-<?php if($TAB == 'DB' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'DB' ) echo 'selected-' ?>header">
                                                    <?php print _('DB');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('databases');?>: <? echo $panel[$user]['U_DATABASES']?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_DB']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/cron/">
                                            <span class="nav-<?php if($TAB == 'CRON' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'CRON' ) echo 'selected-' ?>header">
                                                    <?php print _('CRON');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('jobs');?>: <? echo $panel[$user]['U_CRON_JOBS']?><br>
                                                    <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_CRON']?>
                                                </p>
                                            </span>
                                            </a>

                                            <a class="nav-lnk" href="/list/backup/">
                                            <span class="nav-<?php if($TAB == 'BACKUP' ) echo 'selected-' ?>block">
                                                <p class="nav-<?php if($TAB == 'BACKUP' ) echo 'selected-' ?>header">
                                                    <?php print _('BACKUP');?>
                                                </p>
                                                <p class="nav-counters" style="decoration: none;">
                                                    <?php print _('backups');?>: <? echo $panel[$user]['U_BACKUPS']?><br>
                                                </p>
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
