/* Base
   ========================================================================== */

html {
	height: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

[x-cloak] {
	display: none !important;
}

html,
input,
textarea,
select,
button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-family);
	font-size: 0.85rem;
	line-height: 1.5;
	height: 100%;
	color: var(--color-text);
	background-color: var(--color-background);
}

a {
	color: var(--color-text-link);
	text-decoration: none;

	&:hover {
		color: var(--color-text-link-hover);
	}
}

p,
pre {
	margin: 0;
}

h1,
.u-text-H1,
h2,
.u-text-H2,
h3,
.u-text-H3 {
	color: var(--color-text-heading);
	font-weight: 500;
	margin: 0;
}

h1,
.u-text-H1 {
	font-size: 1.4rem;
}

h2,
.u-text-H2 {
	font-size: 1.2rem;
}

h3,
.u-text-H3 {
	font-size: 1rem;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	line-height: inherit;
}

img {
	vertical-align: middle;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: vertical;
	min-height: 60px;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

dialog {
	position: fixed;
	padding: 0;

	&::backdrop {
		background-color: rgb(0 0 0 / 50%);
	}
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}
