/* Utilities
   ========================================================================== */

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

.u-block {
	display: block !important;
}

.u-hidden {
	display: none !important;
}

.u-noselect {
	user-select: none !important;
}

.u-text-right {
	text-align: right !important;
}

.u-text-center {
	text-align: center !important;
}

.u-text-small {
	font-size: 0.75rem !important;
}

.u-text-italic {
	font-style: italic !important;
}

.u-truncate {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.u-opacity-50 {
	opacity: 0.5 !important;
}

.u-mt15 {
	margin-top: 15px !important;
}

.u-mt10 {
	margin-top: 10px !important;
}

.u-mt20 {
	margin-top: 20px !important;
}

.u-ml5 {
	margin-left: 5px !important;
}

.u-ml10 {
	margin-left: 10px !important;
}

.u-mr5 {
	margin-right: 5px !important;
}

.u-mr10 {
	margin-right: 10px !important;
}

.u-mr15 {
	margin-right: 15px !important;
}

.u-mr30 {
	margin-right: 30px !important;
}

.u-mb5 {
	margin-bottom: 5px !important;
}

.u-mb10 {
	margin-bottom: 10px !important;
}

.u-mb20 {
	margin-bottom: 20px !important;
}

.u-mb40 {
	margin-bottom: 40px !important;
}

.u-pt10 {
	padding-top: 10px !important;
}

.u-pt18 {
	padding-top: 18px !important;
}

.u-pl30 {
	padding-left: 30px !important;
}

.u-pos-relative {
	position: relative !important;
}

.u-width-full {
	width: 100% !important;
}

.u-min-height100 {
	min-height: 100px !important;
}

.u-min-height300 {
	min-height: 300px !important;
}

.u-min-height600 {
	min-height: 600px !important;
}

.u-side-by-side {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.u-list-bulleted {
	list-style: disc !important;
	padding-left: 40px !important;
}

.u-allow-resize {
	min-width: 100% !important;
	resize: both !important;
}

.u-console {
	font-family: var(--font-family-monospace) !important;
	white-space: pre !important;
	line-height: 1.2 !important;
}

.u-hide-tablet {
	@media (--viewport-medium) {
		display: none !important;
	}
}

.u-hide-desktop {
	@media (--viewport-large) {
		display: none !important;
	}
}
