@import url("normalize.css");
@import url("@fortawesome/fontawesome-free/css/fontawesome");
@import url("@fortawesome/fontawesome-free/css/brands");
@import url("@fortawesome/fontawesome-free/css/solid");
@import url("../dependencies/animate");
@import url("../dependencies/jquery-ui");
@import url("../fonts");
@import url("../base");
@import url("../utilities");

@custom-media --viewport-small (min-width: 480px);
@custom-media --viewport-medium (min-width: 768px);

:root {
  --animate-duration: 300ms;
  --font-family: "Exo", system-ui;
  --font-family-monospace: "Inconsolata", "Lucida Console", "Monaco", monospace;
  --color-text: #7c7c7c;
  --color-background: #fff;
}

.check-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 16px;
  padding-left: 26px;

  &::before {
    content: "";
    size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 99;
  }
}

.clicked-on.check-label::before,
.selected .check-label::before {
  content: "";
  display: inline-block;
  size: 27px;
  background-position: -225px -42px;
  top: -6px;
  left: -6px;
}

.l-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
}

.l-logo {
  background-image: url("/images/logo-header.svg");
  background-repeat: no-repeat;
  size: 54px 28px;
}

.l-header {
  background: linear-gradient(to bottom, rgb(104 145 196 / 100%) 0%, rgb(69 114 181 / 100%) 50%, rgb(65 90 149 / 100%) 100%);
  background-color: #5070a6;
  position: fixed;
  size: 100% 39px;
  z-index: 900;
  top: 0;
  font-size: 0.8rem;
  text-shadow: 1px 1px rgb(0 0 0 / 25%);
  box-shadow: 0 4px 10px rgb(100 100 100 / 40%);
  border-bottom: 1px solid #fff;
}

.l-header__inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.l-header__left {
  display: flex;
  align-items: center;
}

.l-menu__item.l-menu__item--active a {
  color: #4686b8;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, rgb(255 255 255 / 60%) 0%, rgb(255 255 255 / 75%) 30%, rgb(255 255 255 / 100%) 95%);
  text-shadow: 0 1px rgb(255 255 255 / 80%);
  border-left: 1px solid rgb(255 255 255 / 98%);
  border-right: 1px solid rgb(255 255 255 / 98%);
}

.l-menu__item.l-menu__item--active:hover {
  box-shadow: none;
}

.l-menu {
  display: flex;
  align-self: stretch;
  margin-left: 16px;
}

.l-menu__item {
  display: flex;
  align-self: stretch;
  font-weight: 600;
}

.l-menu__item a {
  color: #f7f7f7;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  &:hover {
    border: 0;
    box-shadow: inset 0 0 6px rgb(255 255 255 / 60%) !important;
    transition: 0.2s;
    border-left: 1px solid rgb(0 0 0 / 10%);
    border-right: 1px solid rgb(0 0 0 / 10%);
    color: #4686b8 !important;
    background: linear-gradient(to bottom, rgb(255 255 255 / 60%) 0%, rgb(255 255 255 / 75%) 30%, rgb(255 255 255 / 100%) 95%);
    text-shadow: 0 1px rgb(255 255 255 / 80%);
  }

  &:active {
    border: 0;
    background: linear-gradient(to bottom, rgb(255 255 255 / 50%) 0%, rgb(255 255 255 / 60%) 30%, rgb(255 255 255 / 95%) 95%);
    color: #046c98 !important;
    text-shadow: 0 -1px 1px rgb(255 255 255 / 50%) !important;
    box-shadow:
      inset 0 0 1px #fff,
      inset -1px -1px 4px rgb(220 220 220 / 40%) !important;
    transition: 0.2s;
    border-left: 1px solid rgb(0 0 0 / 15%);
    border-right: 1px solid rgb(0 0 0 / 15%);
  }
}

.l-menu.active .l-menu__item.focus a {
  text-decoration: underline;
  color: #5edad0;

  &:hover {
    background-color: #f79b44;
    color: #fff;
  }
}

.panel-icon {
  font-size: 1rem;
  margin-right: 8px;
}

.l-profile {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.l-profile__username,
.l-profile__logout,
.l-profile__help,
.l-profile__serversettings {
  font-size: 1.1rem !important;
}

.l-profile__logout {
  color: #dbf94e !important;
}

.l-profile__notifications {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 0.95rem;
}

.l-profile__notifications.active.l-profile__notifications.updates:active {
  background: linear-gradient(to bottom, rgb(255 255 255 / 60%) 0%, rgb(255 255 255 / 75%) 30%, rgb(255 255 255 / 100%) 95%) !important;
  color: #046c98 !important;
  text-shadow: 0 -1px 1px rgb(255 255 255 / 50%) !important;
  box-shadow:
    0 1px 3px rgb(0 0 0 / 15%),
    inset 0 0 1px #fff,
    inset -1px -1px 4px rgb(220 220 220 / 40%) !important;
  transition: 0.2s;
}

.l-profile__notifications:hover,
.l-profile__notifications.updates:hover {
  color: #3b9de8 !important;
  text-shadow: 1px 1px rgb(255 255 255 / 50%) !important;
  background: linear-gradient(to bottom, rgb(255 255 255 / 75%) 0%, rgb(255 255 255 / 87%) 30%, rgb(255 255 255 / 100%) 95%) !important;
  transition: 0.2s;
}

.notification-container {
  background-color: rgb(255 255 255 / 95%);
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 40%);
  margin: 0 18px;
  max-height: 90%;
  overflow-y: auto;
  position: fixed;
  top: 34px;
  width: 390px;
  z-index: 300;
  font-size: 0.8rem;
  color: #6f6f6f;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #fff;
  border-top: none;
}

.notification-container .empty {
  color: #54a6e5;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 4rem;
}

.notification-container .unseen {
  color: #6f6f6f;
}

.notification-container li {
  border-bottom: 1px solid #e9e4e4;
  padding: 1rem;
}

.notification-container li:last-child {
  border-bottom: none;
}

.notification-container .mark-seen {
  background-color: #c36;
  border: 1px solid #c41650;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  float: right;
  size: 7px;
  margin-right: -5px;
  margin-top: 9px;

  &:hover {
    background-color: #fff;
    border-color: #e83b75;
  }

  &:active {
    background-color: #777;
    border-color: #777;
  }
}

.notification-container .unseen .mark-seen {
  display: inline-block;
}

.notification-container .notification-title {
  color: #9e9e9e;
  font-weight: 600;
  line-height: 30px;
  padding: 0;
  text-transform: none;
  float: none;
  display: block;
}

.notification-container .notification-title a {
  color: #9e9e9e;
}

.notification-container .unseen .notification-title,
.notification-container .unseen .notification-title a {
  color: #c36;
}

.notification-container .unseen .notification-title a:hover {
  color: #e83b75;
}

.notification-container .unseen .notification-title a:active {
  color: #e83b75;
}

.notification-container a {
  font-weight: 600;
  color: #1a4492;

  &:hover {
    color: #4a87fb;
  }

  &:active {
    color: #1a4492;
  }
}

.notification-container .icon {
  display: inline-block;
  width: 0;

  &.starred {
    display: inline-block;
    width: 21px;
  }
}

.notification-container .time {
  font-size: 0.9em;
  display: block;
  text-align: right;
  padding-top: 0.6rem;
}

.alert {
  border-radius: 4px;
  border: 1px solid #fff;
  font-weight: 400;
  padding: 0.8rem;
  position: relative;
  text-align: left;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  text-shadow: 0 1px rgb(0 0 0 / 45%);

  & a {
    font-weight: bold;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  & i.fas {
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    size: 2rem;
    left: 0.6rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    top: 0.8rem;
  }
}

.alert-with-icon {
  padding-left: 3.2rem;
  min-height: 3.5rem;
}

.alert-info {
  color: #fff;
  background-color: #618ecc;

  & i.fas {
    color: #618ecc;
    background-color: #fff;
  }
}

.alert-danger {
  color: #fff;
  background-color: #ec6c6c;

  & i.fas {
    color: #ec6c6c;
    background-color: #fff;
  }
}

.alert-success {
  color: #fff;
  background-color: #5ea64c;

  & i.fas {
    color: #5ea64c;
    background-color: #fff;
  }
}

.cards {
  @media (--viewport-small) {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewport-medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  color: #353535;
  border-radius: 4px;
  margin-bottom: 20px;

  @media (--viewport-small) {
    margin-bottom: 0;
  }

  &.disable {
    color: #b6b6b6;

    & .card-thumb {
      filter: grayscale(100%);
      opacity: 0.3;
    }
  }
}

.card-details {
  font-size: 0.8rem;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  text-align: center;

  & p {
    font-size: 1em;

    &.card-title {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

.card-thumb {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  padding: 20px;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

.l-stat {
  background-color: #fff;
  padding-top: 31px;
  overflow: hidden;
  text-align: center;
  display: flex;
}

.l-stat__col {
  flex: 1;
}

.l-stat__col a {
  display: block;
  min-height: 110px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 4px solid #fff;
  padding-bottom: 16px;
  background-color: #fff;

  &:hover {
    border-bottom: 4px solid #e83b75;
    transition: 0.3s;
  }

  &:active {
    border-bottom: 4px solid #d53067;
  }
}

.l-stat__col--active a {
  border-bottom: 4px solid #c36;
}

.l-stat.active .l-stat__col.focus a {
  border-bottom: 4px solid #5edad0;
}

.l-stat.active .l-stat__col.focus a .l-stat__col-title {
  color: #36b3a9;
}

.l-stat__col a:hover .l-stat__col-title {
  color: #e83b75;
}

.l-stat__col a:active .l-stat__col-title {
  color: #d53067;
}

.l-stat__col ul {
  font-size: 0.75rem;
  padding-left: 0;
  line-height: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.l-stat__col li {
  color: #7b7b7b;
  margin-bottom: 8px;
  text-transform: lowercase;
}

.l-stat__col-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #5b5b5b;
  min-height: 21px;
  font-size: 16px;
}

.l-stat__col--active .l-stat__col-title {
  color: #c36;
  font-size: 16px;
}

.l-stat__col .fas {
  color: #999;
  padding: 4px;
}

.l-stat__col--active .fas {
  color: #c36;
}

.l-separator {
  height: 1px;
  border-top: 1px solid #ddd;
}

.l-sort {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 38px;
  height: 45px;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.l-sort.is-active {
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.l-sort__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1020px;
  width: 100%;
}

.l-sort__create-btn {
  background-position: -331px -107px;
  background-repeat: no-repeat;
  bottom: -23px;
  display: inline-block;
  size: 45px;
  left: 30px;
  position: absolute;
  z-index: 3;
}

.l-sort__create-btn:hover {
  background-position: -378px -107px;
}

.l-sort__create-btn:active {
  background-position: -425px -107px;
}

.l-sort__create-btn--active {
  background-position: -425px -107px;
}

.l-sort__create-btn.restore {
  background-position: -331px -250px;
  bottom: -22px;

  &:hover {
    background-position: -331px -250px;
  }

  &:active {
    background-position: -331px -250px;
  }
}

.l-sort__create-btn.edit {
  background-position: -331px -154px;
  bottom: -22px;

  &:hover {
    background-position: -378px -154px;
  }

  &:active {
    background-position: -425px -154px;
  }
}

.context-menu.sort-order {
  position: absolute;
  top: 35px;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgb(255 255 255 / 95%);
  box-shadow: 0 2px 14px 0 rgb(20 20 20 / 35%);
  border: 1px solid rgb(255 255 255 / 100%);

  & li {
    padding: 0;
  }
}

.context-menu li {
  border-bottom: 1px solid #ddd;
  color: #2e2e2e;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 12px;
}

.context-menu.sort-order span.name {
  display: inline-block;
  padding: 11px;
  width: 141px;
  font-weight: 500;
}

.context-menu.sort-order span.up {
  display: inline-block;
  padding: 11px 14px;
  width: 44px;
}

.context-menu.sort-order span.active {
  background-color: #4f8bbc !important;
  color: #4686b8;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, rgb(255 255 255 / 60%) 0%, rgb(255 255 255 / 75%) 50%, rgb(255 255 255 / 95%) 95%);
  text-shadow: 0 1px rgb(255 255 255 / 80%);
}

.context-menu.sort-order span:hover {
  color: #3b9de8;
  text-shadow: 1px 1px rgb(255 255 255 / 50%);
  background: linear-gradient(to bottom, rgb(241 248 253 / 100%) 0%, rgb(218 236 250 / 100%) 50%, rgb(190 221 246 / 100%) 51%, rgb(227 240 251 / 100%) 100%);
  box-shadow:
    inset 0 0 1px #fff,
    inset 0 0 6px rgb(255 255 255 / 60%);
  transition: 0.2s;
}

.context-menu.sort-order span:active,
.context-menu.sort-order span:focus {
  background: linear-gradient(to bottom, rgb(210 232 250 / 100%) 0%, rgb(187 220 247 / 100%) 50%, rgb(162 207 244 / 100%) 51%, rgb(194 224 248 / 100%) 100%);
  color: #046c98;
  text-shadow: 0 -1px 1px rgb(255 255 255 / 50%);
  box-shadow:
    inset 0 0 1px #fff,
    inset -1px -1px 4px rgb(220 220 220 / 40%);
}

.context-menu.sort-order span.name i.fas.fa-arrow-down-a-z {
  float: right;
  margin-top: 2px;
}

.context-menu.sort-order li:last-child {
  border-bottom: none;
}

.l-sort-toolbar {
  display: flex;
  position: relative;
  font-size: 0.8rem;

  & form {
    display: flex;
  }

  & .toggle-all:hover {
    color: #4b4b4b;
  }

  & .toggle-all:active {
    color: #3b9de8;
  }

  & .sort-by {
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 12px 0;

    &:hover {
      color: #4b4b4b;

      & b {
        color: #4b4b4b;
      }
    }

    &:active {
      color: #3b9de8;

      & b {
        color: #3b9de8;
      }
    }

    & b {
      text-transform: uppercase;
      padding-left: 3px;
      font-size: 0.8rem;
    }
  }
}

.l-sort-toolbar__filter-apply {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-left: 0;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 0 1px rgb(41 90 152 / 10%), inset 0 0 2px rgb(255 255 255 / 100%);
  text-shadow: 1px 1px rgb(255 255 255 / 90%);
  color: #069;
  padding: 0 10px;
  font-size: 0.9em;

  &:hover {
    color: #39c;
    background-color: #fff;
  }

  &:active {
    color: #409fd5;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%);
  }
}

.l-sort-toolbar__search {
  size: 25px;
  background-position: -333px -37px;
  border: none;

  &:hover {
    background-position: -368px -37px;
    border-color: #afafac;
  }

  &:active {
    background-position: -404px -37px;
    border-color: #50bdb5;
  }
}

.l-sort-toolbar__search--active {
  background-position: -404px -37px;
  border-color: #50bdb5;
}

.l-sort-toolbar .toolbar-link {
  display: block;
  padding: 6px 12px;
  color: #777;
  text-transform: uppercase;
  font-weight: 600;

  &.selected {
    color: #c36;
  }

  &:hover {
    color: #c36;
  }

  &:active {
    color: #3b9de8;
  }
}

.l-unit-toolbar__buttonstrip {
  display: flex;
  align-items: center;
}

.l-unit-toolbar__buttonstrip .button {
  min-width: 0;
  padding: 2px 10px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.body-user .l-unit.animate__animated.animate__fadeIn {
  line-height: 2rem;
}

.body-user .actions-panel {
  line-height: 2rem;
}

.lang-bg .l-stat__col-title {
  font-size: 0.75rem;
  font-weight: bold;
}

.lang-bg .l-stat__col .fas,
.lang-bg .l-stat__col--active .fas {
  font-size: 0.85rem;
}

.l-sort-toolbar .form-select {
  min-width: 175px;
  color: inherit;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  border-color: #ddd;
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.l-sort-toolbar .form-control {
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  border-color: #ddd;
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    border-right-color: #94c8f0;
  }

  &:focus {
    border-right-color: #008fee;
  }

  &.activated {}
}

.l-unit {
  color: #707070;
  padding: 0 0 0 14px;
  overflow: hidden;
  font-size: 0.8rem;
  border-radius: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.table-header {
  font-size: 0.95em;
  background: linear-gradient(to bottom, rgb(247 247 247 / 100%) 0%, rgb(255 255 255 / 100%) 100%);
  background-color: #fff;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  text-shadow: 0 1px rgb(255 255 255 / 100%);
  box-shadow: inset 0 1px 1px rgb(255 255 255 / 100%), inset 0 0 1px rgb(255 255 255 / 100%), inset 0 0 4px rgb(255 255 255 / 80%), 0 1px 4px rgb(140 140 140 / 35%);
  border-radius: 0 0 6px 6px;
  min-height: 28px;
  color: #707070;
  padding: 0 0 0 14px;
  overflow: hidden;
  line-height: 1rem;
  margin-top: 1px;
  position: sticky;
  top: 82px;
  z-index: 1;
  padding-top: 4px;
  padding-bottom: 4px;

  &:hover {
    background-color: linear-gradient(to bottom, rgb(247 247 247 / 100%) 0%, rgb(255 255 255 / 100%) 100%);
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
  }

  & .fas {
    font-size: 1rem;
  }
}

.units {
  width: 1020px;
}

.units .l-unit {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.l-unit:hover,
.units .l-unit:hover {
  box-shadow: 0 2px 10px rgb(150 150 150 / 20%);
  background-color: #f8f8f8;
  text-shadow: 0 1px rgb(255 255 255 / 50%);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.units .l-unit.l-unit--starred {
  border-left: 2px solid #c36;
}

.units.active .l-unit.focus {
  border-left: 2px solid #5edad0;
  background-color: #eff5fc;
}

.units.active .l-unit.focus .l-unit__name {
  color: #36b3a9;
}

.units.active .l-unit.focus .l-unit-toolbar__col--right {
  display: block;
}

.units > div:last-child {
  border-bottom: none;
}

.l-unit-ft {
  color: #7c7c7c;
  padding: 0 0 0 15px;
}

.l-unit:hover .l-unit-toolbar__col--right {
  display: block;
}

.l-unit--blue {
  border-left: 2px solid #3b9de8;
}

.l-unit--suspended {
  background-color: #eaeaea !important;
  color: #c0c0c0;
}

.l-unit--suspended a {
  color: #c0c0c0 !important;
}

.units .l-unit.l-unit--outdated {
  background-color: #ffcaca;
  color: #4b4b4b;
}

.body-updates .units .l-unit.l-unit--outdated .fas.fa-box-open {
  color: #da1010;
}

.l-unit--suspended .l-unit__name,
.l-unit--suspended b,
.l-unit--outdated .l-unit__name,
.l-unit--outdated b {
  color: #c0c0c0;
}

.l-unit--outdated .l-unit__name {
  color: #333;
}

.l-unit--outdated b {
  color: #4b4b4b;
}

.l-unit--suspended .l-percent {
  border-color: #fff;
}

.l-unit--suspended .l-percent__fill {
  background-color: #fff;
}

.l-unit--suspended .l-unit__name,
.l-unit--suspended .l-unit__name span {
  color: #adadad;
}

.l-unit--suspended.selected {
  background-color: #f2eab8 !important;
  color: #b2ac87 !important;
}

.l-unit--outdated.selected {
  background: #ff9494 !important;
  color: #333 !important;
  text-shadow: none !important;
}

.l-unit--suspended.selected b,
.l-unit--outdated.selected .l-unit__name,
.l-unit--outdated.selected b,
.l-unit--suspended.selected .l-percent,
.l-unit--suspended.selected .l-percent__fill,
.l-unit--suspended.selected .l-unit__name,
.l-unit--suspended.selected .l-unit__name span {
  color: #333 !important;
}

.l-unit.selected .l-percent {
  border-bottom: 1px dotted #777;
}

.l-unit--selected {
  background-color: #d1eddc;
}

.l-unit-toolbar {
  display: none;
}

.l-unit label {
  margin-bottom: 20px;
}

.l-unit__columns {
  display: table;
  width: 100%;
}

.l-unit__col {
  display: table-cell;
  padding-top: 12px;
  vertical-align: top;
  padding-bottom: 10px;
}

.l-unit__col--left {
  width: 110px;
  padding-right: 10px;
}

.units.compact .l-unit__col--left {
  vertical-align: top;
}

.l-unit__col--right.total {
  padding-left: 16px;
}

.l-unit__col--right.back {
  padding-left: 78px;
}

.l-unit__date {
  font-size: 11px;
  margin-top: 10px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.l-unit__suspended {
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 36px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.units.compact .l-unit__suspended {
  margin-top: 1px;
}

.l-unit--outdated .l-unit__suspended,
.l-unit--suspended .l-unit__suspended {
  display: block;
}

.l-unit.l-unit--outdated .l-unit__date {
  color: #d24c4c;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.l-unit__name {
  color: #414141;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.l-unit__servername {
  color: #414141;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.l-unit__stats.separate,
.l-unit__name.separate {
  padding-bottom: 15px;
}

.body-stats .l-unit__name {
  margin-left: -42px;
  margin-top: 12px;
  color: #606060;
}

.l-unit__name.small {
  font-size: 16px;
}

.l-unit__name.small-2 {
  font-size: 20px;
}

.l-unit__name span {
  color: #999;
  margin-left: 30px;
  font-size: 0.85rem;
  font-style: italic;
}

.l-unit__name span:first-of-type {
  margin-left: 39px;
}

.l-unit__name b {
  font-weight: normal;
  font-style: italic;
}

.l-unit__ip {
  margin-bottom: 26px;
  font-size: 0.8rem;
  color: #383838;
}

.l-unit__ip span {
  padding-left: 3px;
  padding-right: 3px;
}

.display-ip {
  font-size: 0.8rem;
}

.display-ip span {
  padding-left: 3px;
  padding-right: 3px;
}

.l-unit__stats {
  margin-bottom: 10px;
  margin-left: 15%;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

.lang-ar .l-unit__stats {
  margin-left: 20%;
}

.l-unit__stats:hover {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  box-shadow: none !important;
  background: none !important;
}

.l-unit__stats table {
  width: 100%;
  table-layout: fixed;
  margin-top: -54px;
  margin-left: -20px;
}

.l-unit__stats td {
  height: 32px;
  padding-bottom: 4px;
  vertical-align: middle;
}

.body-stats .l-unit__stat-col--left {
  width: 130px;
}

.l-unit__stat-col.l-unit__stat-col--left.icon-pad-right {
  width: 180px;
}

.body-stats .l-unit__stat-col--right {
  float: right;
}

.l-unit__stat-col--left a,
.l-unit__stat-col--left a:visited {
  color: #353535;
}

.l-unit__stat-col--left a:hover {
  color: #4c8bbe;
}

.l-unit__stat-col--left {
  float: left;
  width: 110px;
}

.l-unit__stat-col--left.border {
  border-left: 1px solid #ebebeb;
}

.l-unit__stat-col--left.border-clear {
  border-left: 1px solid transparent;
}

.l-unit__stat-col--left.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.l-unit__stat-col--left.super-compact {
  width: 50px;
  white-space: nowrap;
}

.l-unit__stat-col--left.compact {
  width: 60px;
}

.l-unit__stat-col--left.compact-1 {
  width: 70px;
}

.l-unit__stat-col--left.compact-2 {
  width: 80px;
}

.l-unit__stat-col--left.compact-3 {
  width: 90px;
}

.l-unit__stat-col--left.compact-4 {
  width: 130px;
}

.l-unit__stat-col--left.compact-5 {
  width: 160px;
}

.l-unit__stat-col--left.wide {
  width: 190px;
}

.l-unit__stat-col--left.wide-2 {
  width: 230px;
}

.l-unit__stat-col--left.wide-3 {
  width: 250px;
}

.l-unit__stat-col--left.wide-4 {
  width: 320px;
}

.l-unit__stat-col--left.wide-5 {
  width: 350px;
}

.l-unit__stat-col--left.wide-6 {
  width: 440px;
}

.l-unit__stat-col--left.wide-7 {
  width: 550px;
}

.l-unit__stat-col--left.small-2 {
  line-height: 11px;
}

.l-unit__stat-col--left.tiny {
  font-size: 0.8rem;
}

.l-unit__stat-col--left.tiny b {
  font-size: 18px;
}

.l-unit__stat-col--right {
  float: left;
  max-width: 170px;
}

.l-unit-toolbar__col--left {
  float: left;
  margin-left: -15px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-top: 15px;
  width: 30px;
  cursor: pointer;
  display: none;
}

.l-unit-toolbar__col--right {
  float: right;
}

body.mobile .l-unit-toolbar__col--right {
  display: block;
}

.l-unit-toolbar .shortcut {
  display: none;
}

.units.active .l-unit.focus .l-unit-toolbar .shortcut {
  display: block;
  background-color: #69a298;
  border-radius: 13px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 25px;
  padding-left: 7px;
  padding-right: 9px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.units.active .l-unit.focus .l-unit-toolbar .shortcut.delete {
  font-size: 10px;
  padding-left: 2px;
  padding-right: 5px;
  text-transform: capitalize;
}

.units.active .l-unit.focus .l-unit-toolbar .shortcut.enter {
  font-size: 17px;
  padding-left: 1px;
  padding-right: 7px;
}

.units.active .l-unit.focus .l-unit-toolbar i {
  background: none;
}

.l-unit__stat-col.volume {
  font-size: 0.8rem;
  line-height: 17px;
  float: right;
}

.actions-panel {
  line-height: 1.1rem;
}

.actions-panel__col {
  display: inline-block;
  min-width: 18px;
  text-transform: uppercase;
}

.actions-panel__col a {
  color: #777;
  font-weight: 600;
  font-size: 0.9rem;
  display: inline-block;
  cursor: pointer;
}

.lang-ru .actions-panel__col a {
  font-size: 0.9rem;
  padding-top: 1px;
}

.lang-tw .actions-panel__col a {
  font-size: 0.9rem;
  font-weight: normal;
}

.lang-ar .actions-panel__col a {
  font-size: 0.9rem;
  font-weight: normal;
}

.l-unit__col .actions-panel .fas {
  display: none;
}

.l-unit__col:hover .actions-panel .fas {
  display: inline-block;
}

.icon-pad-left {
  margin-right: 6px;
}

.icon-pad-right {
  margin-right: 6px;
}

.l-unit__stat-cols {
  padding-right: 10px;
}

.l-unit__stat-cols.last {
  padding-right: 0;
}

.l-unit__stat-cols.graph {
  width: 242px;
}

.l-unit__stat-cols.tiny {
  font-size: 12px;
  line-height: 18px;
}

.l-percent {
  border-bottom: 3px solid #e6e6e6;
  margin-top: 2px;
  width: 242px;
}

.l-percent__fill {
  background-color: #54e000;
  height: 3px;
  position: relative;
  bottom: -3px;
}

.statistics-count {
  min-width: 24px;
  text-align: right;
  border-bottom: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
  padding-right: 4px;
}

#vstobjects .l-center {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 0.8rem;
}

.spinner {
  -webkit-mask-box-image:
    radial-gradient(
      center,
      ellipse farthest-corner,
      rgb(0 0 0 / 100%) 68%,
      rgb(0 0 0 / 0%) 69.5%
    );
  background: #eee;
  size: 20px;
  position: relative;
  margin: 4px 0 2px 2px;
  clip-path: ellipse(10px 10px at 50% 50%);
}

.spinner-inner {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-width: 10px;
  size: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(124 124 124 / 100%);
  transform: rotate(-45deg);
  animation: inner 15s linear infinite;
}

.spinner-mask {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-width: 10px;
  size: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #eee;
  transform: rotate(-45deg);
  animation: mask 15s linear infinite;
}

.spinner-mask::after,
.spinner-mask-two {
  display: block;
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-width: 10px;
  size: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(124 124 124 / 100%);
  transform: rotate(45deg);
  animation: mask-two 15s linear infinite;
}

@keyframes inner {
  0% {
    transform: rotate(-45deg);
  }
  25% { border-left-color: transparent; }

  26% {
    border-left-color: rgb(124 124 124 / 100%);
  }
  50% { border-bottom-color: transparent; }

  51% {
    border-bottom-color: rgb(124 124 124 / 100%);
  }
  75% { border-right-color: transparent; }

  76% {
    border-right-color: rgb(124 124 124 / 100%);
  }

  100% {
    transform: rotate(315deg);
    border-left-color: rgb(124 124 124 / 100%);
    border-bottom-color: rgb(124 124 124 / 100%);
    border-right-color: rgb(124 124 124 / 100%);
  }
}

@keyframes mask {
  0% {
    transform: rotate(-45deg);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes mask-two {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  26% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.paused div {
  animation-play-state: paused;
}

/* form styles */

.form-container {
  font-size: 0.85rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
}

.form-container-wide {
  max-width: 920px;
}

@media (--viewport-medium) {
  .sidebar-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 2fr 1.3fr;
  }
}

.inline-danger {
  color: #f33;
  font-weight: 600;
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline-success {
  color: #53ba55;
  font-weight: 600;
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;

  & a {
    color: #326b9b;

    &:hover {
      color: #c36;
    }

    &:active {
      color: #d53067;
    }
  }
}

.l-unit-toolbar__buttonstrip .inline-success,
.l-unit-toolbar__buttonstrip .inline-danger {
  margin-right: 20px;
}

.form-label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-label,
.form-check label {
  color: #4b4b4b;
  font-weight: 600;
}

.form-control {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #4e4e4e;
  border-radius: 4px;
  line-height: 1.5;
  appearance: none;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);

  &:hover {
    border-color: #94c8f0;
  }

  &:focus {
    border-color: #008fee;
    background-color: #d7f9ff;
    color: #333;
  }

  &.list-editor {
    border-color: transparent;
    box-shadow: none;
    position: absolute;
    padding-top: 7px;
    padding-bottom: 7px;
    width: auto;
    top: 1px;
    left: 1px;
    right: 30px;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      background-color: #fff;
    }
  }
}

.form-select {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 0.8rem;
  padding: 8px 30px 8px 12px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #4e4e4e;
  appearance: none;
  background-image: url("/images/arrow.svg");
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position: right 9px center;
  text-shadow: 0 0 0 #4b4b4b;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);

  &:hover {
    border-color: #94c8f0;
  }

  &:focus {
    border-color: #008fee;
  }
}

.form-check {
  position: relative;
  padding-left: 20px;
  margin-left: 3px;
  min-height: 24px;
}

.form-check-input {
  position: absolute;
  margin-top: 3px;
  margin-left: -20px;
}

.form-control:disabled,
.form-select:disabled {
  background-color: #e7e7e7;
  text-shadow: 1px 1px rgb(255 255 255 / 100%);
  color: #686868;
}

.form-control:focus:disabled {
  border-color: #dedede;
  background-color: #f1f1f1;
}

.form-control:disabled:hover,
.form-select:disabled:hover {
  border-color: #cfcfcf;
}

#advanced-options .u-console {
  min-height: 600px;
}

.generate {
  color: #326b9b;
  text-decoration: underline;
  cursor: pointer;
  margin-left: -3px;
  padding: 0 3px;

  &:hover {
    background-color: #c36;
    border-color: #c36;
    color: #fff;
  }

  &:active {
    background-color: #f7d616;
    border-color: #f7d616;
  }
}

.lets-encrypt-note {
  color: #89a40a !important;
  font-style: italic;
  font-weight: normal !important;
  height: 30px;
  padding-top: 10px;
  vertical-align: top;
}

.toggle-password {
  color: #aaa;
  z-index: 1;
  position: absolute;
  top: 9px;
  right: 12px;
}

.toggle-psw-visibility-icon {
  cursor: pointer;
  opacity: 1;
  margin: -2px;
}

.show-passwords-enabled-action {
  opacity: 0.4;
}

.ftp-path-value,
.hint {
  color: #777;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: normal;
}

.ftp-path-prefix {
  padding-top: 12px;
  font-size: 0.8rem;
  color: #555;
}

.dialog {
  display: none;
}

/* Hide the default close button in dialog header */
.ui-dialog-titlebar-close {
  display: none;
}

/* Set high z-index for dialog to override .l-header */
.ui-front {
  z-index: 1000;
}

/* Buttons
   ========================================================================== */

.button {
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 3px 25px;
  user-select: none;
  color: #30659d;
  min-width: 100px;
  text-align: center;
  text-shadow: 0 1px 1px rgb(255 255 255 / 85%);
  border: 1px solid #0083db;
  border-radius: 3px;
  background-color: #3b9de8;
  background: linear-gradient(to bottom, rgb(235 243 249 / 100%) 0%, rgb(192 216 236 / 100%) 51%, rgb(223 235 245 / 100%) 100%);
  box-shadow:
    0 1px 3px rgb(0 0 0 / 25%),
    inset 0 0 1px #fff,
    inset 0 0 3px rgb(255 255 255 / 50%);

  &:hover {
    color: #0077c6;
    text-shadow: 1px 1px rgb(255 255 255 / 50%);
    border-color: #54a6e5;
    background: linear-gradient(to bottom, rgb(241 248 253 / 100%) 0%, rgb(190 221 246 / 100%) 51%, rgb(227 240 251 / 100%) 100%);
    box-shadow:
      0 1px 3px rgb(0 0 0 / 25%),
      inset 0 0 1px #fff,
      inset 0 0 6px rgb(255 255 255 / 60%);
    transition: 0.2s;
  }

  &:active,
  &:focus {
    color: #517bab;
    text-shadow: 0 -1px 2px rgb(255 255 255 / 85%);
    border-color: #0066b4;
    background: linear-gradient(to bottom, rgb(194 224 248 / 100%) 0%, rgb(162 207 244 / 100%) 51%, rgb(210 232 250 / 100%) 100%);
    box-shadow:
      0 1px 2px rgb(0 0 0 / 20%),
      inset 0 0 1px #fff,
      inset -1px -1px 4px rgb(220 220 220 / 40%);
  }

  & .fas {
    margin-right: 6px;
  }
}

.button-secondary {
  color: #717171;
  border-color: #aaa;
  background: linear-gradient(to bottom, rgb(250 250 250 / 100%) 0%, rgb(230 230 230 / 100%) 51%, rgb(242 242 242 / 100%) 100%);
}

.button-danger:hover {
  background: linear-gradient(to bottom, #fbf2f1 0%, #f6b4ac 51%, #fde6e3 100%);
  color: #f4301a;
  text-shadow: 0 1px rgb(255 255 255 / 50%);
  border-color: #f27e71;
}

.button-danger:active,
.button-danger:focus {
  background: linear-gradient(to bottom, #fcd0ca 0%, #f5a69d 50%, #f9e3df 100%);
  color: #ce1500;
  text-shadow:
    0 1px 1px rgb(255 255 255 / 20%),
    0 -1px 1px rgb(255 255 255 / 60%);
  border-color: #f4301a;
}

.to-top,
.to-shortcuts {
  display: flex;
  position: fixed;
  border-radius: 50%;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  z-index: 200;
  size: 34px;
  text-shadow: 1px 1px #fff;
  box-shadow:
    0 2px 4px rgb(120 120 120 / 25%),
    inset 0 0 1px rgb(255 255 255 / 90%);
  top: 90%;
  color: #717171;
  border: 1px solid #aaa;
  background: linear-gradient(to bottom, rgb(250 250 250 / 100%) 0%, rgb(230 230 230 / 100%) 51%, rgb(242 242 242 / 100%) 100%);
}

.to-top {
  right: 4%;
}

.to-shortcuts {
  right: 8%;
}

.to-top:hover,
.to-shortcuts:hover {
  color: #0077c6;
  text-shadow: 1px 1px rgb(255 255 255 / 50%);
  border-color: #54a6e5;
  background: linear-gradient(to bottom, rgb(241 248 253 / 100%) 0%, rgb(190 221 246 / 100%) 51%, rgb(227 240 251 / 100%) 100%);
  box-shadow:
    0 1px 3px rgb(0 0 0 / 25%),
    inset 0 0 1px #fff,
    inset 0 0 6px rgb(255 255 255 / 60%);
  transition: 0.2s;
}

.to-top:focus,
.to-shortcuts:focus {
  border-color: #0066b4;
  background: linear-gradient(to bottom, rgb(194 224 248 / 100%) 0%, rgb(162 207 244 / 100%) 51%, rgb(210 232 250 / 100%) 100%);
  color: #517bab;
  text-shadow: 0 -1px 2px rgb(255 255 255 / 85%);
  box-shadow:
    0 1px 2px rgb(0 0 0 / 20%),
    inset 0 0 1px #fff,
    inset -1px -1px 4px rgb(220 220 220 / 40%);
}

.to-top:active,
.to-shortcuts:active {
  border-color: #378ccd;
  background-color: #378ccd;
}

.additional-control {
  color: #326b9b;
  border-bottom: 0 solid #326b9b;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 2px 0;
  text-decoration: none;

  &:hover {
    background-color: #c36;
    border-color: #c36;
    color: #fff;
  }

  &:active {
    color: #fff;
    background-color: #aaa;
  }
}

.additional-control.add:hover {
  background-color: #3b9de8;
  border-color: #3b9de8;
}

.additional-control.add:active {
  background-color: #54a6e5;
  border-color: #54a6e5;
}

.unlim-trigger {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 1;
  font-size: 0.8rem;
}

.optional {
  font-size: 0.8rem;
  padding: 0 0 0 6px;
  font-weight: normal;
}

.mail-infoblock {
  font-size: 0.85rem;
  color: #777;
  border: 1px solid #d9d9d9;
  padding: 20px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;

  & a {
    color: #326b9b;

    &:hover {
      color: #c36;
    }
  }
}

.mail-infoblock td {
  color: #505050;
  font-size: 0.75rem;
  height: 20px;
  font-weight: normal;
  padding-bottom: 4px;
}

.mail-infoblock td:first-child {
  padding-right: 14px;
  font-weight: 600;
}

.mail-infoblock div {
  white-space: nowrap;
}

#v_password {
  white-space: inherit;
  word-break: break-word;
}

.additional-info {
  margin-top: 12px;
  width: 400px;

  & td {
    font-size: 0.75rem;
    height: 20px;
    font-weight: normal;
    line-height: 0.95rem;
    min-width: 70px;

    &.details {
      padding-left: 20px !important;
    }
  }
}

.body-login,
.body-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(102 158 231);
  background: radial-gradient(circle, rgb(102 158 231 / 100%) 0%, rgb(43 86 177 / 100%) 100%);
}

.body-login .debug-panel-header,
.body-login .debug-panel-contents,
.body-reset .debug-panel-header,
.body-reset .debug-panel-contents {
  display: none;
}

.login {
  font-size: 0.85rem;
  padding: 70px 50px;
  min-width: 320px;
  margin-bottom: 20%;
  background-color: rgb(255 255 255 / 70%);
  border-radius: 6px;
  box-shadow:
    0 8px 25px rgb(0 0 0 / 30%),
    inset 0 0 2px rgb(255 255 255 / 100%);

  @media (--viewport-medium) {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 500px;

    & form {
      flex-grow: 1;
    }
  }
}

.login-title {
  color: #4b4b4b;
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.login .error {
  color: #be5abf;
  margin-bottom: 20px;
}

.login .label-link {
  color: #326b9b;
  text-transform: uppercase;

  &:hover {
    color: #0077c6;
  }
}

.form-title {
  color: #4b4b4b;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 30px;
  letter-spacing: -0.01em;
}

.section-title {
  display: flex;
  color: #4b4b4b;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  font-weight: 600;
  padding-top: 28px;
  padding-bottom: 12px;
  letter-spacing: -0.01em;
  border-bottom: 1px solid #ccc;
}

.section-toggle-icon {
  font-size: 13.6px;
}

.qr-code {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.l-unit.selected {
  background-color: #f8f8f8;
  color: #4b4b4b;
  box-shadow: 0 2px 10px rgb(150 150 150 / 20%);
  text-shadow: 0 1px rgb(255 255 255 / 50%);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  & b,
  & strong {
    color: #4b4b4b;
  }

  &:hover {
    background-color: #fff5ce;
    color: #4b4b4b;
    box-shadow: 0 2px 14px rgb(150 150 150 / 25%);
    text-shadow: 0 1px rgb(255 255 255 / 60%);
  }
}

/* MAIN MENU COLLAPSED */
.collapsed .l-stat {
  padding-top: 20px;
}

.collapsed .l-stat__col a {
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.collapsed .l-stat__col-title {
  padding-top: 2px;
}

.l-content {
  padding-top: 39px;
}

.l-content.collapsed .l-sort {
  margin-top: 94px;
}

.console-output {
  font-family: var(--font-family-monospace);
  font-size: 0.92rem;
  color: #202020;
}

form#vstobjects.suspended {
  background-color: #fff;
  padding-bottom: 30px;
}

#add-icon {
  size: 45px;
  display: inline-block;
  z-index: 3;
}

.l-sort__create-btn.restore #add-icon {
  background-position: -378px -250px;
}

.l-sort__create-btn.edit #add-icon {
  background-position: -378px -154px;
}

#tooltip {
  background-color: #3b9de8;
  border-radius: 15px;
  bottom: 6px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  height: 26px;
  left: 12px;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 12px;
  margin-top: 7px;
  padding: 3px 14px 3px 27px;
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  z-index: -1;
}

.l-sort__create-btn:active #add-icon {
  background-position: -425px -107px;
}

.l-sort__create-btn.restore:active #add-icon {
  background-position: -425px -250px !important;
}

.l-sort__create-btn.edit:active #add-icon {
  background-position: -425px -154px !important;
}

.l-sort__create-btn.edit:hover #tooltip {
  background-color: #3b9de8;
}

.l-sort__create-btn.edit:active #tooltip {
  background-color: #3bf0e6 !important;
}

.l-sort__create-btn:active #tooltip {
  background-color: #54a6e5;
}

.usage-pill {
  border-radius: 12px;
  display: flex;
  font-size: 0.75rem;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  line-height: 0.75rem;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), inset 0 1px 0 rgb(0 0 0 / 8%);
  background-color: rgb(255 255 255 / 75%);
  font-weight: 500;
  border: 1px solid rgb(255 255 255 / 75%);
  text-shadow: 0 1px 1px rgb(255 255 255 / 60%);
  color: #30659d;

  & b {
    color: #30659d;
  }
}

.usage-pill__item {
  margin-right: 11px;
}

.usage-pill__item:last-child {
  margin-right: 0;
}

.badge {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 0.75rem;
  box-shadow:
    0 1px 2px rgb(70 70 70 / 50%),
    inset 0 2px 2px #fff;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  border: 1px solid #b8b8b8 !important;
}

.badge.large {
  min-width: 48px;
  min-height: 48px;
  line-height: 48px;
}

.badge.raised {
  background: radial-gradient(ellipse at center, rgb(255 255 255 / 20%) 0%, rgb(255 255 255 / 5%) 100%);
}

.l-unit--suspended .badge {
  background: #eaeaea !important;
  color: #c0c0c0 !important;
  text-shadow: 0 -1px #fafafa !important;
  box-shadow: 0 1px 2px rgb(120 120 120 / 30%) !important;
}

.badge.gray {
  border: 1px solid #fff;
  background-color: #eaeaea;
  color: #6c6c6c;
  text-shadow: 0 1px #fafafa !important;
}

.badge.blue {
  border: 1px solid #fff;
  background-color: #316198;
  color: #fff;
}

.badge.purple {
  border: 1px solid #fff;
  background-color: #8e2fca;
  color: #fff;
}

.badge.teal {
  border: 1px solid #fff;
  background-color: #3cc;
  color: #fff;
}

.badge.maroon {
  border: 1px solid #fff;
  background-color: #c36;
  color: #fff;
}

.badge.red {
  border: 1px solid #fff;
  background-color: #f33;
  color: #fff;
}

.badge.orange {
  border: 1px solid #fff;
  background-color: #f6a800;
  color: #fff;
}

.badge.green {
  border: 1px solid #fff;
  background-color: #53ba55;
  color: #fff;
}

.badge.lightblue {
  border: 1px solid #fff;
  background-color: #6eb6f0;
  color: #fff;
}

.status-icon.large {
  font-size: 1rem;
}

.status-icon.yellow,
.status-icon.yellow:hover {
  color: #f3e72c;
}

.status-icon.teal,
.status-icon.teal:hover {
  color: #3cc;
}

.status-icon.purple,
.status-icon.purple:hover {
  color: #8e2fca;
}

.status-icon.maroon,
.status-icon.maroon:hover {
  color: #c36;
}

.status-icon.red,
.status-icon.red:hover {
  color: #f33;
}

.status-icon.green,
.status-icon.green:hover {
  color: #53ba55;
}

.status-icon.orange,
.status-icon.orange:hover {
  color: #ffc043;
}

.status-icon.lightblue,
.status-icon.lightblue:hover {
  color: #6eb6f0;
}

.status-icon.highlight,
.status-icon.highlight:hover {
  color: #323232;
}

.status-icon.blue,
.status-icon.blue:hover {
  color: #326b9b;
}

.status-icon.dim {
  color: #ddd;
  text-shadow: 1px 1px rgb(255 255 255 / 30%);
}

.l-unit--suspended .status-icon.dim {
  color: #c0c0c0 !important;
  text-shadow: 0 !important;
}

.footer-banner {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(255 255 255 / 25%);
  box-shadow: 0 -2px 4px rgb(0 0 0 / 40%);
  font-size: 0.75rem;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.footer-banner b,
.footer-banner strong {
  color: unset;
}

.footer-banner a {
  font-weight: 500;
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.footer-banner.alpha {
  background-color: #222;
  color: #fff;
}

.footer-banner.alpha a {
  color: #fff;
}

.footer-banner.alpha a:hover {
  color: #fff;
}

.footer-banner.beta {
  background-color: #eaeaea;
  color: #404040;
}

.footer-banner.beta a {
  color: #404040;
}

.footer-banner.developer {
  background-color: yellow;
  color: #000;
}

.footer-banner.developer a {
  font-weight: 500;
  color: #000;
}

.footer-banner.updates {
  background-color: green;
  color: #fff;
}

.l-sort-toolbar__search-box {
  margin-left: 12px;
}

.ui-dialog .ui-dialog-buttonpane {
  border-color: #fff;
  box-shadow: inset 0 0 2px rgb(0 0 0 / 25%);
  margin-top: 0;
  padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0.5em 0.5em 0.5em 0;
  box-shadow:
    0 1px 4px rgb(0 0 0 / 20%),
    inset 0 0 1px #fff,
    inset 0 0 3px rgb(255 255 255 / 50%);
}

.shortcuts {
  background: rgb(50 50 50 / 93%);
  color: #eee;
  border: 1px solid rgb(255 255 255 / 70%);
  font-size: 0.8rem;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
}

.shortcuts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #606060;
  padding: 10px 10px 10px 20px;
}

.shortcuts-title {
  text-transform: uppercase;
  color: #ff3478;
  font-size: 0.85rem;
  letter-spacing: -0.01em;
  font-weight: 600;
}

.shortcuts-close {
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    color: #db0000;
  }

  &:active {
    color: #a60000;
  }
}

.shortcuts-inner {
  @media (--viewport-medium) {
    display: flex;
  }
}

.shortcuts-list {
  flex-grow: 1;
  padding: 40px;
}

.shortcuts li {
  padding: 5px 20px;
}

.shortcuts .key {
  color: #ff3478;
  display: inline-block;
  font-weight: 600;
  padding-right: 20px;
}

.shortcuts .key.bigger {
  font-size: 18px;
}

.ui-dialog {
  font-family: Exo, system-ui;
  font-weight: 500;
  background-color: rgb(255 255 255 / 90%);
  box-shadow:
    inset 0 1px 3px rgb(0 0 0 / 25%),
    0 8px 40px 0 rgb(0 0 0 / 35%);
  border-radius: 6px;
  border: 1px solid rgb(255 255 255 / 98%);
  text-align: center;
}

.ui-dialog .ui-dialog-content {
  color: #535353;
  padding: 20px 26px 30px;
}

.ui-dialog .ui-dialog-title {
  margin: 0;
  color: #305ba9;
  font-size: 1.2em;
  text-transform: none;
  letter-spacing: -0.01em;
  text-align: center;
  float: none;
  font-weight: 500;
}

.ui-widget {
  font-size: 0.85rem;
}

.ui-widget-overlay {
  background-color: rgb(0 0 0 / 60%);
}

.helper-container {
  float: right;
  margin-bottom: -450px;
  margin-top: 202px;
  margin-right: 70px;
  padding-top: 0;
  width: 610px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  border: 1px solid #cfcfcf;
  border-radius: 4px;

  @media (max-width: 950px) {
    display: none;
  }
}

.context-helper {
  text-transform: uppercase;
  color: #777;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  float: right;

  &:hover {
    color: #3b9de8;
  }

  &:active {
    color: #c36;
  }
}

.cron-helper-tabs {
  border: none !important;
  font-family: Exo, system-ui !important;
}

.cron-helper-tabs a {
  color: #777;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 30px;
  padding: 0 12px;
  text-transform: uppercase;
}

.cron-helper-tabs a:hover {
  color: #c36;
}

.cron-helper-tabs a:active {
  color: #3b9de8;
}

.cron-helper-tabs .ui-tabs-selected a,
li[aria-expanded="true"] a {
  color: #c36;
}

.cron-helper-tabs p {
  color: #777;
  font-size: 0.8rem;
}

.cron-helper-tabs .form-label {
  padding-right: 15px;
  padding-left: 25px;
}

.cron-helper-tabs .form-label.first {
  display: inline-block;
  width: 120px;
  padding-left: 0;
}

.cron-helper-tabs .form-select {
  display: inline-block;
  width: 384px;
}

.context-helper-close {
  cursor: pointer;
  float: right;
  size: 46px 32px;
  padding-top: 11px;
  filter: contrast(50%);

  &:hover {
    background-color: #aaa;
    filter: none;
  }

  &:active {
    background-color: #999;
    filter: none;
  }
}

.server-info-data {
  margin-left: 100px;
  margin-top: -20px;
}

.server-info-name {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 400;
}

.server-info-output {
  color: #c36;
  padding: 10px 0 20px 20px;
  background: #fff;
}

.icon-server-info {
  font-size: 5.4em;
  float: left;
  margin-right: 32px;
  margin-left: 2px;
}

.userlist-email {
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userlist-username {
  font-size: 1em;
  margin-top: -2px;
  line-height: 1.2rem;
}

.lang-es .userlist-email {
  width: 270px;
}

.debug-panel-header {
  text-align: center;
  border-bottom: 1px solid rgb(255 255 255 / 25%);
  box-shadow: 0 -2px 4px rgb(0 0 0 / 40%);
  font-size: 0.75rem;
  padding: 10px;
  background-color: yellow;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 3001;
}

.debug-panel-header a {
  font-weight: 500;
  color: #000;
}

.debug-panel-contents {
  background-color: #fff;
  font-size: 12px;
  padding: 18px;
  position: absolute;
  top: 0;
  z-index: 3000;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid rgb(255 255 255 / 65%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.password-meter {
  appearance: none;
  display: block;
  width: auto;
  height: 3px;
  background-color: #e7e7e7;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}

.password-meter[value="1"] { background: red; }
.password-meter[value="2"] { background: orange; }
.password-meter[value="3"] { background: yellow; }
.password-meter[value="4"] { background: green; }

/* Webkit based browsers */
.password-meter[value="1"]::-webkit-meter-optimum-value { background: red; }
.password-meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
.password-meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
.password-meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
.password-meter[value="1"]::-moz-meter-bar { background: red; }
.password-meter[value="2"]::-moz-meter-bar { background: orange; }
.password-meter[value="3"]::-moz-meter-bar { background: yellow; }
.password-meter[value="4"]::-moz-meter-bar { background: green; }

/* Collapse component
   ========================================================================== */

.collapse {}

.collapse[open] .collapse-header::after {
  transform: rotate(180deg);
}

.collapse-header {
  background: linear-gradient(to bottom, rgb(247 247 247 / 100%) 0%, rgb(255 255 255 / 100%) 100%);
  border: 1px solid #ddd;
  text-shadow: 0 1px rgb(255 255 255 / 95%);
  box-shadow: inset 0 0 1px rgb(255 255 255 / 100%), inset 0 0 4px rgb(255 255 255 / 80%), 0 4px 6px rgb(190 190 190 / 40%);
  font-weight: 600;
  color: #30659d;
  cursor: pointer;
  position: relative;
  padding: 8px 18px;

  &:hover {
    color: #ff3478;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("/images/arrow.svg");
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    size: 22px 100%;
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.collapse-content {
  box-sizing: border-box; /* Work around box-sizing not inheriting in <details> in many browsers */
  padding: 20px 20px 10px;

  @media (--viewport-medium) {
    padding: 20px 50px 10px;
  }
}
