Mail account has been created.

Common Account Settings:
Username: {{account}}@{{domain}}
Password: {{password}}
Webmail: {{webmail}}
Hostname: {{hostname}}

IMAP Settings
Authentication: Normal password
SSL/TLS: Port 993
STARTTLS: Port 143
No encryption: Port 143

POP3 Settings
Authentication: Normal password
SSL/TLS: Port 995
STARTTLS: Port 110
No encryption: Port 110

SMTP Settings
Authentication: Normal password
SSL/TLS: Port 465
STARTTLS: Port 587
No encryption: Port 25

Best regards,

--
{{appname}}
