Mail account has been created
Common account settings:
Username: {{account}}@{{domain}}
Password: {{password}}
Webmail: {{webmail}}
Hostname: {{hostname}}
IMAP settings
Authentication: Normal
Password SSL/TLS: Port 993
STARTTLS: Port 143
No encryption: Port 143

POP3 settings Authentication:
Normal Password SSL/TLS:
Port 995 STARTTLS: Port 110
No encryption: Port 110

SMTP settings
Authentication:
Normal Password SSL/TLS: Port 465
STARTTLS: Port 587
No encryption: Port 25

Best regards,
{{appname}}
