Package: hestia-zpush
Source: z-push
Version: 2.5.1
Architecture: all
Maintainer: Hestia Control Panel <info@hestiacp.com>
Depends: hestia
Section: web
Priority: extra
Homepage: https://www.hestiacp.com
Description: open source implementation of the ActiveSync protocol
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Phone, Apple iPhone and iPad, Android, Blackberry 10 devices and
 MS Outlook 2013 and later. With Z-Push any groupware can be connected
 and synchronized with these devices.
