<!-- Begin toolbar -->
<div class="l-center edit">
  <div class="l-sort clearfix">
    <div class="l-unit-toolbar__buttonstrip">
      <?php if (($_SESSION['userContext'] === 'admin') && (isset($_GET['user'])) && ($_GET['user'] !== 'admin')) { ?>
        <a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/key/?user=<?=htmlentities($_GET['user']);?>"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
      <?php } else { ?>
        <a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/key/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
      <?php } ?>
    </div>
    <div class="l-unit-toolbar__buttonstrip float-right">
      <a href="#" class="ui-button" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
    </div>
  </div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center animated fadeIn">

  <form id="vstobjects" name="v_add_key" method="post">
    <input type="hidden" name="token" value="<?=$_SESSION['token']?>">
    <input type="hidden" name="ok" value="Add">

    <div class="app-form">
      <h1 class="page-title"><?=_('Add SSH Key');?></h1>
      <?php show_alert_message($_SESSION);?>
      <div class="u-wide-input-width">
        <label for="v_key" class="form-label"><?=_('SSH KEY') ?></label>
        <textarea class="form-control u-min-height100" name="v_key" id="v_key"><?=htmlentities(trim($v_key, "'"))?></textarea>
      </div>
    </div>

  </form>

</div>
