<!-- Begin toolbar -->
<div class="l-center edit">
	<div class="l-sort clearfix">
		<div class="l-unit-toolbar__buttonstrip">
			<a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/web/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
		</div>
		<div class="l-unit-toolbar__buttonstrip float-right">
			<?php if (($user_plain == 'admin') && (($_GET['accept'] === "true")) || ($user_plain !== "admin"))  {?>
				<a href="#" class="ui-button" title="<?=_('Save');?>" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
			<?php } ?>
		</div>
	</div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center animated fadeIn">

	<form id="vstobjects" name="v_add_web" method="post">
		<input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
		<input type="hidden" name="ok" value="Add" />

		<table class="data mode-add">
			<tr class="data-add">
				<td class="data-dotted">
					<table class="data-col1">
						<tr>
							<td></td>
						</tr>
					</table>
				</td>
				<td class="data-dotted">
					<table class="data-col2">
						<tr>
							<td class="step-top">
								<span class="page-title"><?=_('Add Web Domain');?></span>
							</td>
						</tr>
						<tr>
							<td>
								<?php show_error_panel($_SESSION);?>
							</td>
						</tr>
						<?php
						if (($user_plain == 'admin') && (($_GET['accept'] !== "true")))  {?>
							<tr>
								<td class="step-top">
									<span class="alert alert-danger alert-with-icon">
										<i class="fas fa-exclamation"></i>
										<?=_('Avoid adding web domains on admin account');?>
									</span>
								</td>
							</tr>
						<?php } ?>
						<?php if (($user_plain == 'admin') && (empty($_GET['accept']))) {?>
							<tr>
								<td class="step-top">
									<span><a href="/add/user/" class="vst-advanced admin-warning-button"><?=_('Add User');?></a></span>
									<span><a href="/add/web/?accept=true" class="vst-advanced button danger admin-warning-button"><?=_('Continue');?></a> </span>
								</td>
							</tr>
						<?php } ?>
						<?php if (($user_plain == 'admin') && (($_GET['accept'] === "true")) || ($user_plain !== "admin")) {?>
							<tr>
								<td class="vst-text step-top">
									<?=_('Domain');?>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" size="20" class="vst-input" name="v_domain" id="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>">
								</td>
							</tr>
							<tr>
								<td class="input-label">
									<label for="v_ip" class="form-label"><?=_('IP Address');?></label>
									<select class="form-select" name="v_ip" id="v_ip">
										<?php
											foreach ($ips as $ip => $value) {
												$display_ip = htmlentities(empty($value['NAT']) ? $ip : "{$value['NAT']}");
												$ip_selected = (!empty($v_ip) && $ip == $_POST['v_ip']) ? 'selected' : '';
												echo "\t\t\t\t<option value=\"{$ip}\" {$ip_selected}>{$display_ip}</option>\n";
											}
										?>
									</select>
								</td>
							</tr>
							<tr>
								<td class="input-label"></td>
							</tr>
							<?php if ((isset($_SESSION['DNS_SYSTEM'])) && (!empty($_SESSION['DNS_SYSTEM']))) {?>
								<?php if($panel[$user_plain]['DNS_DOMAINS'] != "0") { ?>
									<tr>
										<td class="input-label">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" name="v_dns" id="v_dns" <?php if (empty($v_dns)&&$panel[$user_plain]['DNS_DOMAINS'] != "0") ?>>
												<label for="v_dns">
													<?=_('DNS Support');?>
												</label>
											</div>
										</td>
									</tr>
								<?php } ?>
							<?php } ?>
							<?php if ((isset($_SESSION['IMAP_SYSTEM'])) && (!empty($_SESSION['IMAP_SYSTEM']))) {?>
								<?php if($panel[$user_plain]['MAIL_DOMAINS'] != "0") { ?>
									<tr>
										<td class="input-label">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" name="v_mail" id="v_mail" <?php if (empty($v_mail)&&$panel[$user_plain]['MAIL_DOMAINS'] != "0") ?>>
												<label for="v_mail">
													<?=_('Mail Support');?>
												</label>
											</div>
										</td>
									</tr>
								<?php } ?>
							<?php } ?>
						<?php } ?>
					</table>
					<table class="data-col2">
					</table>
				</td>
			</tr>
		</table>
	</form>
</div>

