<!-- Begin toolbar -->
<div class="l-center edit">
	<div class="l-sort clearfix">
		<div class="l-unit-toolbar__buttonstrip">
			<a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/mail/?domain=<?=htmlentities(trim($v_domain, "'"))?>&token=<?=$_SESSION['token']?>"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
		</div>
		<div class="l-unit-toolbar__buttonstrip float-right">
			<a href="#" class="ui-button" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
		</div>
	</div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center animated fadeIn">

	<form id="vstobjects" name="v_edit_mail_acc" method="post" class="<?=$v_status?>">
		<input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
		<input type="hidden" name="save" value="save" />

		<table class='data'>
			<tr class="data-add">
				<td class="data-dotted">
					<table class="data-col1">
						<tr>
							<td>
							</td>
						</tr>
					</table>
				</td>
				<td class="data-dotted">
					<table class="data-col2" width="420px">
						<tr>
							<td class="step-top">
								<span class="page-title"><?=_('Editing Mail Account');?></span>
							</td>
						</tr>
						<tr>
							<td>
								<?php show_error_panel($_SESSION);?>
							</td>
						</tr>
						<tr>
							<td class="step-top input-label">
								<?=_('Account');?>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" size="20" class="vst-input" name="v_email" value="<?=htmlentities($_GET['account'])."@".htmlentities($_GET['domain'])?>" disabled>
								<input type="hidden" name="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>">
								<input type="hidden" name="v_account" value="<?=htmlentities(trim($v_account, "'"))?>">
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<?=_('Password');?> <a href="javascript:randomString();" title="<?=_('generate');?>"><i class="fas fa-sync status-icon green icon-large"></i></a>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" size="20" class="vst-input password" name="v_password" value="<?=htmlentities(trim($v_password, "'"))?>"><br />
								<meter max="4" id="meter"></meter>
							</td>
						</tr>
						<tr>
							<td>
								<?=_('Your password must have at least');?>:
								<ul>
									<li><?=_('8 characters long');?></li>
									<li><?=_('1 uppercase & 1 lowercase character');?></li>
									<li><?=_('1 number');?></li>
								</ul>
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<?=_('Send login credentials to email address') ?>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="vst-input" name="v_send_email" value="<?=htmlentities(trim($v_send_email, "'"))?>">
								<input type="hidden" name="v_credentials" id="v_credentials">
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<?=_('Quota');?> <span class="optional">(<?=_('in megabytes');?>)</span>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" size="20" class="vst-input" name="v_quota" value="<?php if (!empty($v_quota)) {echo htmlentities(trim($v_quota, "'"));} else { echo "0"; } ?>">
								<i class="unlim-trigger fas fa-infinity" title="<?=_('Unlimited');?>" id="unlim-quota"></i>
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<label for="v_aliases" class="form-label">
									<?=_('Aliases');?> <span class="optional">(<?=_('use local-part');?>)</span>
								</label>
								<textarea class="form-control u-inputWidth" name="v_aliases" id="v_aliases"><?=htmlentities(trim($v_aliases, "'"))?></textarea>
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="v_blackhole" id="v_blackhole" <?php if ($v_blackhole == 'yes') echo "checked=yes" ?>>
									<label for="v_blackhole">
										<?=_('Discard all mail');?>
									</label>
								</div>
							</td>
						</tr>
						<tr <?php if ($v_blackhole == 'yes') echo 'style="display:none"'; ?> id="id_fwd_for">
							<td class="input-label">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="v_fwd_only" id="v_fwd_for" <?php if ($v_fwd_only == 'yes') echo "checked=yes" ?>>
									<label for="v_fwd_for">
										<?=_('Do not store forwarded mail');?>
									</label>
								</div>
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="v_autoreply" id="v_autoreply" <?php if ($v_autoreply == 'yes') echo "checked=yes" ?> onclick="javascript:elementHideShow('autoreplytable');">
									<label for="v_autoreply">
										<?=_('Autoreply');?>
									</label>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<table style="display:<?php if ($v_autoreply == 'yes') { echo 'block';} else {echo 'none';}?> ;" id="autoreplytable">
									<tr>
										<td class="input-label">
											<label for="v_autoreply_message" class="form-label"><?=_('Message');?></label>
											<textarea class="form-control u-inputWidth" name="v_autoreply_message" id="v_autoreply_message"><?=htmlentities(trim($v_autoreply_message, "'"))?></textarea>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table id="v-fwd-opt">
									<tr>
										<td class="input-label">
											<label for="v_fwd" class="form-label">
												<?=_('Forward to');?> <span class="optional">(<?=_('one or more email addresses');?>)</span>
											</label>
											<textarea class="form-control u-inputWidth" name="v_fwd" id="v_fwd" <?php if($v_blackhole == 'yes') echo "disabled";?>><?=htmlentities(trim($v_fwd, "'"))?></textarea>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td class="input-label">
								<?=_('Rate limit');?> <span class="optional">(<?=_('Email / hour');?>)</span>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" size="20" class="vst-input" name="v_rate" value="<?=htmlentities(trim($v_rate, "'"))?>" <?php if($_SESSION['userContext'] != "admin"){ echo "disabled";}?>>
							</td>
						</tr>
					</table>
					<table class="data-col2">
					</table>
				</td>
				<td class="mail-infoblock-td">
					<div class="mail-infoblock">
						<table>
						<tr><td colspan="2"><strong><?=strtoupper(_('Common account settings'));?></strong></td><tr>
						<tr><td><?=_('Username');?>: </td><td><span id="v_account"></span>@<?=htmlentities(trim($v_domain, "'"))?></td></tr>
						<tr><td><?=_('Password');?>: </td><td><span id="v_password"></span></td></tr>
						<?php if ($_SESSION['WEBMAIL_SYSTEM']) {?><tr><td><?=_('Webmail');?>: </td><td><a class="vst" href="http://<?=htmlentities($v_webmail_alias)?>" target="_blank">http://<?=htmlentities($v_webmail_alias)?></a></td></tr><?php } ?>
						<tr><td><?=_('Hostname');?>: </td><td>mail.<?=htmlentities($v_domain)?></td></tr>

						<tr><td colspan="2"><strong><?=strtoupper(_('IMAP settings'));?></strong></td></tr>
						<tr><td><?=_('Authentication');?>: </td><td> <?=_('Normal password');?></td></tr>
						<tr><td><?=_('SSL/TLS');?>: </td><td><?=_('Port');?> 993
						<tr><td><?=_('STARTTLS');?>: </td><td><?=_('Port');?> 143
						<tr><td><?=_('No encryption');?>: </td><td><?=_('Port');?> 143

						<tr><td colspan="2"><strong><?=strtoupper(_('POP3 settings'));?></strong></td></tr>
						<tr><td><?=_('Authentication');?>: </td><td> <?=_('Normal password');?></td></tr>
						<tr><td><?=_('SSL/TLS');?>: </td><td><?=_('Port');?> 995
						<tr><td><?=_('STARTTLS');?>: </td><td><?=_('Port');?> 110
						<tr><td><?=_('No encryption');?>: </td><td><?=_('Port');?> 110

						<tr><td colspan="2"><strong><?=strtoupper(_('SMTP settings'));?></strong></td></tr>
						<tr><td><?=_('Authentication');?>: </td><td> <?=_('Normal password');?></td></tr>
						<tr><td><?=_('SSL/TLS');?>: </td><td><?=_('Port');?> 465
						<tr><td><?=_('STARTTLS');?>: </td><td><?=_('Port');?> 587
						<tr><td><?=_('No encryption');?>: </td><td><?=_('Port');?> 25
						</table>
					</div>
				</td>
			</tr>
		</table>
	</form>
</div>
