<!-- Begin toolbar -->
<div class="l-sort">
  <div class="l-sort__inner">
    <div class="l-unit-toolbar__buttonstrip">
      <a class="button button-secondary" id="btn-back" href="/list/backup/exclusions/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
    </div>
    <div class="l-unit-toolbar__buttonstrip">
      <a href="#" class="button" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
    </div>
  </div>
</div>
<!-- End toolbar -->

<div class="l-center animated fadeIn">

  <form id="vstobjects" name="v_edit_backup_exclusions" method="post" class="<?=_($v_status)?>">
    <input type="hidden" name="token" value="<?=$_SESSION['token']?>">
    <input type="hidden" name="save" value="save">

    <div class="form-container">
      <h1 class="form-title"><?=_('Editing Backup Exclusions');?></h1>
      <?php show_alert_message($_SESSION);?>
      <div class="u-wide-input-width">
        <div class="u-mb10">
          <label for="v_web" class="form-label"><?=_('Web Domains');?></label>
          <textarea class="form-control" name="v_web" id="v_web" placeholder="<?=_('WEB_EXCLUSIONS') ?>"><?=htmlentities(trim($v_web, "'"))?></textarea>
        </div>
        <div class="u-mb10">
          <label for="v_mail" class="form-label"><?=_('Mail Domains');?></label>
          <textarea class="form-control" name="v_mail" id="v_mail" placeholder="<?=_('MAIL_EXCLUSIONS') ?>"><?=htmlentities(trim($v_mail, "'"))?></textarea>
        </div>
        <div class="u-mb10">
          <label for="v_db" class="form-label"><?=_('Databases');?></label>
          <textarea class="form-control" name="v_db" id="v_db" placeholder="<?=_('DB_EXCLUSIONS') ?>"><?=htmlentities(trim($v_db, "'"))?></textarea>
        </div>
        <div class="u-mb10">
          <label for="v_userdir" class="form-label"><?=_('User Directories');?></label>
          <textarea class="form-control" name="v_userdir" id="v_userdir" placeholder="<?=_('USER_EXCLUSIONS') ?>"><?=htmlentities(trim($v_userdir, "'"))?></textarea>
        </div>
      </div>
    </div>

  </form>

</div>
