<!-- Begin toolbar -->
<div class="l-center edit">
	<div class="l-sort u-cf">
		<div class="l-unit-toolbar__buttonstrip">
			<a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/server/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
		</div>
		<div class="l-unit-toolbar__buttonstrip float-right">
			<a href="#" class="ui-button" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
		</div>
	</div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center animated fadeIn">

	<form id="vstobjects" name="v_configure_server" method="post">
		<input type="hidden" name="token" value="<?=$_SESSION['token']?>">
		<input type="hidden" name="save" value="save">

		<table class="data mode-add">
			<tr class="data-add">
				<td class="data-dotted">
					<table class="data-col1">
						<tr>
							<td></td>
						</tr>
					</table>
				</td>
				<td>
					<table class="data-col2" width="600px">
						<tr>
							<td class="u-pt18">
								<span class="page-title"><?=_('Configuring Server');?>: <?=$v_service_name;?></span>
							</td>
						</tr>
						<tr>
							<td>
								<?php show_error_panel($_SESSION);?>
							</td>
						</tr>
						<tr>
							<td class="u-pt18">
								<label for="v_config" class="form-label"><?=$v_config_path;?></label>
								<textarea class="form-control u-minHeight300 u-console" name="v_config" id="v_config"><?=$v_config?></textarea>
							</td>
						</tr>
						<?php if (!empty($v_config_path1)) { ?>
							<tr>
								<td class="u-pt18">
									<label for="v_config1" class="form-label"><?=$v_config_path1;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config1" id="v_config1"><?=$v_config1?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config2" class="form-label"><?=$v_config_path2;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config2" id="v_config2"><?=$v_config2?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config3" class="form-label"><?=$v_config_path3;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config3" id="v_config3"><?=$v_config3?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config4" class="form-label"><?=$v_config_path4;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config4" id="v_config4"><?=$v_config4?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config5" class="form-label"><?=$v_config_path5;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config5" id="v_config5"><?=$v_config5?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config6" class="form-label"><?=$v_config_path6;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config6" id="v_config6"><?=$v_config6?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config7" class="form-label"><?=$v_config_path7;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config7" id="v_config7"><?=$v_config7?></textarea>
								</td>
							</tr>
							<tr>
								<td class="u-pt18">
									<label for="v_config8" class="form-label"><?=$v_config_path8;?></label>
									<textarea class="form-control u-minHeight300 u-console" name="v_config8" id="v_config8"><?=$v_config8?></textarea>
								</td>
							</tr>
						<?php } ?>
						<td class="u-pt6" style="text-transform: capitalize;">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="v_restart" id="v_restart" checked>
								<label for="v_restart">
									<?=_('restart');?>
								</label>
							</div>
						</td>
					</table>
					<table class="data-col2"></table>
				</td>
			</tr>
		</table>
	</form>
</div>
