<!-- Begin toolbar -->
<div class="l-center edit">
  <div class="l-sort clearfix">
    <div class="l-unit-toolbar__buttonstrip">
      <a class="ui-button cancel" dir="ltr" id="btn-back" href="/list/server/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
    </div>
    <div class="l-unit-toolbar__buttonstrip float-right">
      <a href="#" class="ui-button" data-action="submit" data-id="vstobjects"><i class="fas fa-save status-icon purple"></i><?=_('Save');?></a>
    </div>
  </div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center animated fadeIn">

  <form id="vstobjects" name="v_configure_server" method="post">
    <input type="hidden" name="token" value="<?=$_SESSION['token']?>">
    <input type="hidden" name="save" value="save">

    <div class="app-form">
      <h1 class="page-title"><?=_('Configuring Server');?>: PHP</h1>
      <?php show_alert_message($_SESSION);?>
      <div id="basic-options" class="u-input-width">
        <div class="u-mb10">
          <label for="v_max_execution_time" class="form-label">max_execution_time</label>
          <input type="text" class="form-control" regexp="max_execution_time" prev_value="<?=htmlentities($v_max_execution_time)?>" name="v_max_execution_time" id="v_max_execution_time" value="<?=htmlentities($v_max_execution_time)?>">
        </div>
        <div class="u-mb10">
          <label for="v_worker_connections" class="form-label">max_input_time</label>
          <input type="text" class="form-control" regexp="max_input_time" prev_value="<?=htmlentities($v_max_input_time)?>" name="v_worker_connections" id="v_worker_connections" value="<?=htmlentities($v_max_input_time)?>">
        </div>
        <div class="u-mb10">
          <label for="v_memory_limit" class="form-label">memory_limit</label>
          <input type="text" class="form-control" regexp="memory_limit" prev_value="<?=htmlentities($v_memory_limit)?>" name="v_memory_limit" id="v_memory_limit" value="<?=htmlentities($v_memory_limit)?>">
        </div>
        <div class="u-mb10">
          <label for="v_error_reporting" class="form-label">error_reporting</label>
          <input type="text" class="form-control" regexp="error_reporting" prev_value="<?=htmlentities($v_error_reporting)?>" name="v_error_reporting" id="v_error_reporting" value="<?=htmlentities($v_error_reporting)?>">
        </div>
        <div class="u-mb10">
          <label for="v_display_errors" class="form-label">display_errors</label>
          <input type="text" class="form-control" regexp="display_errors" prev_value="<?=htmlentities($v_display_errors)?>" name="v_display_errors" id="v_display_errors" value="<?=htmlentities($v_display_errors)?>">
        </div>
        <div class="u-mb10">
          <label for="v_post_max_size" class="form-label">post_max_size</label>
          <input type="text" class="form-control" regexp="post_max_size" prev_value="<?=htmlentities($v_post_max_size)?>" name="v_post_max_size" id="v_post_max_size" value="<?=htmlentities($v_post_max_size)?>">
        </div>
        <div class="u-mb20">
          <label for="v_upload_max_filesize" class="form-label">upload_max_filesize</label>
          <input type="text" class="form-control" regexp="upload_max_filesize" prev_value="<?=htmlentities($v_upload_max_filesize)?>" name="v_upload_max_filesize" id="v_upload_max_filesize" value="<?=htmlentities($v_upload_max_filesize)?>">
        </div>
        <div class="u-mb20">
          <a href="javascript:toggleOptions();" class="vst-advanced"><?=_('Advanced options');?></a>
        </div>
      </div>
      <div id="advanced-options" class="u-wide-input-width" style="display:<?php if (empty($v_adv)) echo 'none';?> ;">
        <div class="u-mb20">
          <a href="javascript:toggleOptions();" class="vst-advanced"><?=_('Basic options');?></a>
        </div>
        <div class="u-mb20">
          <label for="v_config" class="form-label"><?=$v_config_path;?></label>
          <textarea class="form-control u-min-height300 u-console" name="v_config" id="v_config"><?=$v_config;?></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="v_restart" id="v_restart" checked>
          <label for="v_restart">
            <?=_('restart');?>
          </label>
        </div>
      </div>
    </div>

  </form>

</div>
