<!-- Begin toolbar -->
<div class="l-sort">
  <div class="l-sort__inner">
    <div class="l-unit-toolbar__buttonstrip">
      <a class="button button-secondary" id="btn-back" href="/list/server/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
      <?php
        if($autoupdate == 'Enabled') {
          $btn_url = '/delete/cron/autoupdate/?token='.$_SESSION['token'].'';
          $btn_icon = 'fa-toggle-on status-icon green';
          $btn_label = _('Disable automatic updates');
        } else {
          $btn_url = '/add/cron/autoupdate/?token='.$_SESSION['token'].'';
          $btn_icon = 'fa-toggle-off status-icon red';
          $btn_label = _('Enable automatic updates');
        }
      ?>
      <a class="button button-secondary" href="<?=$btn_url;?>"><i class="fas <?=$btn_icon;?>"></i><?=$btn_label;?></a>
    </div>
  </div>
</div>
<!-- End toolbar -->

<div class="l-center units">
  <div class="header table-header">
    <div class="l-unit__col l-unit__col--right">
      <div>
        <div class="clearfix l-unit__stat-col--left super-compact center">
          <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" title="<?=_('Select all');?>" onchange="checkedAll('objects');">
        </div>
        <div class="clearfix l-unit__stat-col--left wide"><b><?=_('Package');?></b></div>
        <div class="clearfix l-unit__stat-col--left wide-5"><b><?=_('Description');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-center wide"><b><?=_('Version');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-center"><b><?=_('Status');?></b></div>
      </div>
    </div>
  </div>

  <!-- Begin update list item loop -->
  <?php
    foreach ($data as $key => $value) {
      ++$i;

      if ($data[$key]['UPDATED'] == 'yes') {
        $status = 'active';
        $upd_status = 'updated';
      } else {
        $status = 'suspended';
        $upd_status = 'outdated';
      }
    ?>
    <div class="l-unit<?php if ($status == 'suspended') echo ' l-unit--outdated';?> animated fadeIn">
      <div class="l-unit-toolbar clearfix">
        <div class="l-unit-toolbar__col l-unit-toolbar__col--right u-noselect">
        </div>
      </div>

      <div class="l-unit__col l-unit__col--right">
        <div>
          <div class="clearfix l-unit__stat-col--left super-compact center">
            <input id="check<?=$i ?>" class="ch-toggle" type="checkbox" title="<?=_('Select');?>" name="pkg[]" value="<?=$key?>">
          </div>
          <div class="clearfix l-unit__stat-col--left wide"><b><?=$key?></b></div>
          <div class="clearfix l-unit__stat-col--left wide-5"><?=_($data[$key]['DESCR'])?></div>
          <div class="clearfix l-unit__stat-col--left text-center wide"><?=$data[$key]['VERSION'] ?> (<?=$data[$key]['ARCH']?>)</div>
          <div class="clearfix l-unit__stat-col--left text-center">
            <?php if ($data[$key]['UPDATED'] == 'no') { echo '<i class="fas fa-exclamation-triangle" style="color: orange;"></i>'; } ?>
            <?php if ($data[$key]['UPDATED'] == 'yes') { echo '<i class="fas fa-check-circle status-icon green"></i>'; } ?>
          </div>
        </div>
      </div>
    </div>
  <?php } ?>

</div>

<div id="vstobjects">
  <div class="l-separator"></div>
</div>
