<!-- Begin toolbar -->
<div class="l-center">
  <div class="l-sort">
    <div class="l-unit-toolbar__buttonstrip">
      <a class="button button-secondary" id="btn-back" href="/list/server/"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back');?></a>
      <a href="/list/server/?cpu" class="button button-secondary"><i class="fas fa-chart-pie status-icon green"></i><?=_('show: CPU / MEM / NET / DISK');?></a>
    </div>
    <div class="l-sort-toolbar">
      <div>
        <a class="vst<?php if ((empty($period)) || ($period == 'daily')) echo " selected" ?>" href="?period=daily"><?=_('Daily');?></a>
        <a class="vst<?php if ((!empty($period)) && ($period == 'weekly')) echo " selected" ?>" href="?period=weekly"><?=_('Weekly');?></a>
        <a class="vst<?php if ((!empty($period)) && ($period == 'monthly')) echo " selected" ?>" href="?period=monthly"><?=_('Monthly');?></a>
        <a class="vst<?php if ((!empty($period)) && ($period == 'yearly')) echo " selected" ?>" href="?period=yearly"><?=_('Yearly');?></a>
      </div>
      <div class="timer-container" style="float:right;">
        <span class="timer-button pause-stop" onclick="stopTimer()"><i class="fas fa-pause"></i></span>
        <div class="timer-button spinner">
          <div class="spinner-inner"></div>
          <div class="spinner-mask"></div>
          <div class="spinner-mask-two"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End toolbar -->

<div class="l-separator"></div>

<div class="l-center units animated fadeIn">
  <!-- Begin graph list item loop -->
  <?php foreach ($data as $key => $value) { ?>
    <div class="l-unit l-unit__stats">
      <div class="l-unit__col l-unit__col--right">
        <div class="l-unit__name separate">
          <?= _($data[$key]['TITLE'])?>
        </div>
        <div>
          <a href="/list/rrd/image.php?/rrd/<?=$data[$key]['TYPE']."/".$period."-".$data[$key]['RRD'].".png"?>" class="u-block" target="_blank">
            <img class="graph-rounded" src="/list/rrd/image.php?/rrd/<?=$data[$key]['TYPE']."/".$period."-".$data[$key]['RRD'].".png"?>" alt="">
          </a>
        </div>
      </div>
    </div>
  <?php } ?>
</div>

<div id="vstobjects">
  <div class="l-separator"></div>
  <div class="l-center"></div>
</div>
