<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title><?php echo $_SERVER['HTTP_HOST']; ?> - <?=__($TAB)?> - <?=__('Hestia Control Panel');?></title>
  <link type="text/css" rel="stylesheet" href="/css/styles.min.css?<?=JS_LATEST_UPDATE?>" />
  <link type="text/css" rel="stylesheet" href="/css/active-theme.css?<?php echo rand(); ?>" />
  <link type="text/css" href="/css/animate.min.css?<?=JS_LATEST_UPDATE?>" rel="stylesheet" />
  <link type="text/css" href="/css/jquery-custom-dialogs.css?<?=JS_LATEST_UPDATE?>" rel="stylesheet" />
  <link type="text/css" href="/css/all.min.css?<?=JS_LATEST_UPDATE?>" rel="stylesheet" />
  <script src="/inc/jquery/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/fingerprint2.min.js?<?=JS_LATEST_UPDATE?>"></script>
  <script>
    //
    //  GLOBAL SETTINGS
    //
    var GLOBAL = {};
    GLOBAL.FTP_USER_PREFIX  = 'admin_';
    GLOBAL.DB_USER_PREFIX   = 'admin_';
    GLOBAL.DB_DBNAME_PREFIX = 'admin_';
    GLOBAL.AJAX_URL = '';
    
    if (window.requestIdleCallback) {
        requestIdleCallback(function () {
            Fingerprint2.get(function (components) {
                var values = components.map(function (component) { return component.value })
                var murmur = Fingerprint2.x64hash128(values.join(''), 31);
                $('#murmur').val(murmur);
            })
        })
    } else {
        setTimeout(function () {
                Fingerprint2.get(function (components) {
                var values = components.map(function (component) { return component.value })
                var murmur = Fingerprint2.x64hash128(values.join(''), 31);
                $('#murmur').val(murmur);
            })  
        }, 500);
    }
  </script>
</head>
<body class="body-<?=strtolower($TAB)?> lang-<?=$_SESSION['language']?>">
