<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Vesta - <?="$TAB"?> </title>
  <link rel="stylesheet" href="/css/styles.min.css?1446554103">

  <link type="text/css" href="/css/jquery-custom-dialogs.css?1446554103" rel="stylesheet" />
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js?1446554103"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js?1446554103"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js?1446554103"></script>
  <script type="text/javascript" src="/js/hotkeys.js?1446554103"></script>
  <script type="text/javascript" src="/js/events.js?1446554103"></script>

  <script language="text/javascript" type="text/javascript">
    var checked = false;
    var frmname = '';

    function checkedAll(frmname) {
        if ($('.l-unit.selected:not(.header)').length > 0) {
            $('.l-unit:not(.header)').removeClass("selected");
            $('.ch-toggle').attr("checked", false);
            $('.toggle-all').removeClass('clicked-on');
        }
        else {
            $('.l-unit:not(.header)').addClass("selected");
            $('.ch-toggle').attr("checked", true);
            $('.toggle-all').addClass('clicked-on');
        }
    }

    function doSearch(url) {
        var url = url || '/search/';
        var loc = url + '?q=' + $('.search-input').val();

        location.href = loc;
        return false;
    }

    $(document).ready(function(){
        if($('.body-login')[0]){
          $('input').first().focus();
        }

        $(".submenu-select-dropdown").each(function(){
            $(this).wrap("<span class='submenu-select-wrapper'></span>");
            $(this).after("<span class='holder'></span>");
        });
        $(".submenu-select-dropdown").change(function(){
            var selectedOption = $(this).find(":selected").text();
            $(this).next(".holder").text(selectedOption);
        }).trigger('change');
        $('.to-top').bind('click', function(evt) {
            $("html, body").animate({ scrollTop: 0 }, "normal");
        });
    })

  </script>
  <script type="text/javascript" src="/js/app.js?1446554103"></script>
  <script type="text/javascript" src="/js/templates.js?1446554103"></script>
  <!-- script type="text/javascript" src="/js/i18n.js.php"></script -->
</head>
<body class="body-<?=strtolower($TAB)?> lang-<?=$_SESSION['language']?>">
