        <center>
            <table class="login">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 0 10px 0 42px; height: 280px; width: 170px;">
                                    <a href="/"><img border=0 src="/images/vesta_logo.png" alt="Vesta Control Panel" style="margin: 0 0 0 0;" /></a>
                                </td>
                                <td style="padding: 20px 0 0 0;">
                                    <form method="post" action="/login/" >
                                    <input type="hidden" name="token" value="<?php echo $_SESSION['token']; ?>">
                                    <table class="login-box">
                                        <tr>
                                            <td syle="padding: 12px 0 0 2px;">
                                                <?php print __('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input tabindex="1" type="text" size="20px" style="width:240px;" name="user" class="vst-input">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 12px 0 0 2px;">
                                                <?php print __('Password');?>
                                                <span style="padding:0 0 0 14px;">
                                                    <a tabindex="5" class="vst-advanced" href="/reset/">
                                                        <?php print __('forgot password');?>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input tabindex="2" type="password" size="20px"  style="width:240px;" name="password" class="vst-input">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="28px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0 12px 0;">
                                                <input tabindex="3" type="submit" value="<?php print __('Log in');?>" class="button">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div class="login-bottom">
                                    <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
                                    <a class="vestacp" href="http://vestacp.com" >vestacp.com</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </center>
    </body>
</html>
