        <center>
            <table class="login">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 22px 30px 0 42px; height: 280px; width: 170px;">
                                    <a href="/"><img border=0 src="/images/logo.svg" title="<?=_('Hestia Control Panel');?>" style="margin-top: 70px;" /></a>
                                </td>
                                <td style="padding: 40px 60px 0 0;" class="animated fadeIn">
                                    <form method="post" action="/login/" id="form_login">
                                    <input type="hidden" name="token" value="<?php echo $_SESSION['token']; ?>">
                                    <table class="login-box">
                                        <tr>
                                            <td style="padding: 12px 0 0 2px;" class="login-welcome">
                                                <?php print _('2 Factor Authentication');?>
                                            </td>
                                        </tr>
                                        <tr class="twofa">
                                            <td style="padding-top: 12px; padding-left:2px;">
                                                <?php print _('2FA Token');?>
                                                <div style="padding:0 6px 0px 14px; float:right;">
                                                    <a tabindex="5" class="vst-advanced" href="/reset2fa/">
                                                        <?php print _('Forgot token');?>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input tabindex="2" type="" size="20px"  style="width:240px;" name="twofa" class="vst-input" autofocus />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0 5px 0;">
                                                <button tabindex="3" type="submit" class="button"><?php print _('Login');?>&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div class="login-bottom">
                                    <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </center>
    </body>
</html>
