        <center>
            <table class="login animated zoomIn">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 22px 30px 0 42px; height: 280px; width: 170px;">
                                    <a href="/"><img border=0 src="/images/logo.png" alt="<?=__('Hestia Control Panel');?>" style="margin: 20px; margin-top: 64px;" /></a>
                                </td>
                                <td style="padding: 40px 60px 0 0;">
                                    <form method="post" action="/login/" id="form_login">
                                    <input type="hidden" name="token" value="<?php echo $_SESSION['token']; ?>">
                                    <table class="login-box">
                                        <tr>
                                            <td style="padding: 12px 0 0 2px;" class="login-welcome">
                                                <?php print __('Welcome to Hestia Control Panel');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 12px 0 0 2px;">
                                                <?php print __('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input tabindex="1" type="text" size="20px" style="width:240px;" name="user" class="vst-input">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 12px 0 0 2px;">
                                                <?php print __('Password');?>
                                                <span style="padding:0 0 0 14px;">
                                                    <a tabindex="5" class="vst-advanced" href="/reset/">
                                                        <?php print __('forgot password');?>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input tabindex="2" type="password" size="20px"  style="width:240px;" name="password" class="vst-input">
                                            </td>
                                        </tr>
                                        <tr class="twofa" style="display:none;">
                                            <td style="padding-top: 12px; padding-left:2px;">
                                                <?php print __('2FA Token');?>
                                                <span style="padding:0 0 0 10px;">
                                                    <a tabindex="5" class="vst-advanced" href="/reset2fa/">
                                                        <?php print __('Forgot token');?>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="twofa" style="display:none;">
                                            <td>
                                                <input tabindex="3" type="text" size="20px" style="width:240px;" name="twofa" class="vst-input">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="28px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0 12px 0;">
                                                    <button tabindex="3" type="submit" class="button"><?php print __('Log in');?>&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div class="login-bottom">
                                    <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </center>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#form_login').on('input', 'input[name="user"]', function() {
                    var username = this.value;
                    $.ajax({
                        type: 'GET',
                        url: '/inc/2fa/active.php?user=' + username,
                        complete: function(xhr) {
                            if(xhr.status == '200'){
                                $('.twofa').show();
                            }else if(xhr.status == '404'){
                                $('.twofa').hide();
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
