        <center>
            <table class="login">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 0 10 0 42;">
                                    <a href="/"><img border=0 src="/images/logo.png" width="124px" height="46px" alt="<?php print _('Vesta Control Panel');?>" /></a>
                                </td>
                                <td style="padding: 20px 0 0 0;">
                                    <form method="post">
                                        <table class="login-box">
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;">
                                                    <input type="hidden" name="action" value="confirm" >
                                                    <input type="hidden" name="user" value="<?php echo $_GET['user'];?>" >
                                                    <input type="hidden" name="code" value="<?php echo $_GET['code'];?>" >
                                                    <?php print _('New Password');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input tabindex="1" type="password" size="20px" style="width:200px;" name="password" class="vst-input">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;">
                                                    <?php print _('Confirm Password');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input tabindex="2" type="password" size="20px"  style="width:200px;" name="password_confirm" class="vst-input">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="28px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 12px 0;">
                                                    <input tabindex="3" type="submit" value="<?php print _('Reset');?>" class="button">
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <table class="login-bottom">
                                        <tr><td>.<?php if (isset($ERROR)) echo $ERROR ?></td></tr>
                                        <tr><td> <a tabindex="6" class="vestacp" href="http://vestacp.com" >vestacp.com</a> | <a tabindex="6" class="vestacp" href="http://chto.su"><?php print _('Translation by ZonD80');?></a></td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
