        <center>
            <table class="login">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 0 10px 0 42px;">
                                    <a href="/"><img border=0 src="/images/logo.png" width="124px" height="46px" alt="<?php print _('Vesta Control Panel');?>" /></a>
                                </td>
                                <td style="padding: 10px 0 0 0;">
                                    <form method="post" action="/reset/" >
                                        <table class="login-box">
                                            <tr>
                                            <td style="padding: 12px 0 0 2px;">
                                                <?php print _('RESET_NOTICE');?>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;">
                                                    <?php print _('Username');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input tabindex="1" type="text" size="20px" style="width:200px" name="user" class="vst-input">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px 0 12px 0;">
                                                    <input tabindex="2" type="submit" value="<?php print _('Submit');?>" class="button">
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <table class="login-bottom">
                                        <tr><td>.<?php if (isset($ERROR)) echo $ERROR ?></td></tr>
                                        <tr><td><a tabindex="6" class="vestacp" href="http://vestacp.com" >vestacp.com</a> | <a tabindex="6" class="vestacp" href="http://chto.su"><?php print _('Translation by ZonD80');?></a></td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>

