<center>
	<table class="login animated zoomIn">
		<tr>
			<td>
				<table>
					<tr>
						<td style="padding: 22px 30px 0 42px; height: 280px; width: 170px;">
							<a href="/"><img src="/images/logo.svg" title="<?=_('Hestia Control Panel');?>" style="margin-top: 70px;"></a>
						</td>
						<td style="padding: 40px 60px 0 0;">
							<form method="post" action="/login/" id="form_login">
								<input type="hidden" name="token" value="<?=$_SESSION['token']; ?>">
								<input type="hidden" name="murmur" value="" id="murmur">
								<table class="login-box">
									<tr>
										<td style="padding: 12px 0 0 2px;" class="login-welcome">
											<?=_('Welcome to Hestia Control Panel');?>
										</td>
									</tr>
									<tr>
										<td style="padding: 12px 0 0 2px;">
											<label for="user" class="form-label"><?=_('Username');?></label>
											<input type="text" class="form-control" name="user" id="user" tabindex="1" style="width:260px;" autofocus>
										</td>
									</tr>
									<tr>
										<td class="u-pt18">
											<button tabindex="3" type="submit" class="button"><?=_('Next');?>&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i></button>
										</td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<div class="login-bottom">
								<div style="height:20px"><?php if (isset($error)) echo $error ?></div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>

</body>

</html>
