        <center>
            <table class="login">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="padding: 22px 30px 0 42px; height: 280px; width: 170px;">
                                    <a href="/"><img border=0 src="/images/logo.svg" title="<?=_('Hestia Control Panel');?>" style="margin-top: 70px;" /></a>
                                </td>
                                <td style="padding: 40px 60px 0 0;" class="animated fadeIn">
                                    <?php if($success){?>
                                        <table class="login-box">
                                            <tr>
                                            <td style="padding: 12px 0 0 2px;">
                                            <?php print _('2FA Reset successfully'); ?>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px 0 12px 0;">
                                                    <input type="button" class="button" value="<?php print _('Log in');?>" onclick="location.href='/login/'">
                                                </td>
                                            </tr>
                                        </table>
                                        <?php }else{ ?>
                                        <form method="post" action="/reset2fa/">
                                        <table class="login-box">
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;" class="login-welcome">
                                                    <?php print _('Reset 2FA');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;">
                                                    <?php print _('Username');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input tabindex="1" type="text" size="20px" style="width:240px" name="user" class="vst-input">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 12px 0 0 2px;">
                                                    <?php print _('2FA Reset Code');?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input tabindex="1" type="text" size="20px" style="width:240px" name="twofa" class="vst-input">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px 0 12px 0;">
                                                    <input tabindex="2" type="submit" value="<?php print _('Submit');?>" class="button">&nbsp;&nbsp;
                                                    <input type="button" class="button cancel" value="<?php print _('Back');?>" onclick="location.href='/login/'">
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                    <?php } ?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2>
                                    <div class="login-bottom">
                                        <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
