<center>
	<table class="login">
		<tr>
			<td>
				<table>
					<tr>
						<td style="padding: 22px 30px 0 42px; height: 280px; width: 170px;">
							<a href="/"><img src="/images/logo.svg" title="<?=_('Hestia Control Panel');?>" style="margin-top: 70px;"></a>
						</td>
						<td style="padding: 40px 60px 0 0;" class="animated fadeIn">
							<form method="post">
								<table class="login-box">
									<tr>
										<td style="padding: 12px 0 0 2px;" class="login-welcome">
											<?=_('Forgot Password');?>
										</td>
									</tr>
									<tr>
										<td style="padding: 12px 0 0 2px;">
											<input type="hidden" name="action" value="confirm">
											<input type="hidden" name="token" value="<?=htmlentities($_SESSION['token']);?>"/>
											<input type="hidden" name="user" value="<?=htmlentities($_GET['user']);?>">
											<input type="hidden" name="code" value="<?=htmlentities($_GET['code']);?>">
											<label for="password" class="form-label"><?=_('New Password');?></label>
											<input type="password" class="form-control" name="password" id="password" tabindex="1" style="width:220px;">
										</td>
									</tr>
									<tr>
										<td style="padding: 12px 0 0 2px;">
											<label for="password_confirm" class="form-label"><?=_('Confirm Password');?></label>
											<input type="password" class="form-control" name="password_confirm" id="password_confirm" tabindex="2" style="width:220px;">
										</td>
									</tr>
									<tr>
										<td style="padding: 20px 0 12px 0;">
											<input tabindex="3" type="submit" value="<?=_('Reset');?>" class="button">&nbsp;&nbsp;
											<input type="button" class="button cancel" value="<?=_('Back');?>" onclick="location.href='/login/'">
										</td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<div class="login-bottom">
								<div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>
</body>

</html>
