<div class="login">
  <div style="padding-top: 40px; padding-right: 30px;">
    <a href="/" class="u-block">
      <img src="/images/logo.svg" alt="<?=_('Hestia Control Panel');?>" width="100" height="120">
    </a>
  </div>
  <div class="animated fadeIn">
    <form method="get" action="/reset/">
      <h1 class="login-title">
        <?=_('Forgot Password');?>
      </h1>
      <?php if (isset($ERROR)) echo $ERROR ?>
      <p style="padding: 12px 0 0 2px;">
        <?=_('RESET_CODE_SENT');?>
      </p>
      <div class="u-mb20">
        <input type="hidden" name="action" value="confirm">
        <input type="hidden" name="token" value="<?=htmlentities($_SESSION['token']);?>"/>
        <input type="hidden" name="user" value="<?=htmlentities($_GET['user'])?>">
        <label for="code" class="form-label"><?=_('Reset Code');?></label>
        <input type="text" class="form-control" name="code" id="code" tabindex="1" style="width:260px;">
      </div>
      <div>
        <input tabindex="2" type="submit" value="<?=_('Confirm');?>" class="button">&nbsp;&nbsp;
        <input type="button" class="button cancel" value="<?=_('Back');?>" onclick="location.href='/reset/'">
      </div>
    </form>
  </div>
</div>

</body>

</html>
