Source: hestia
Package: hestia
Priority: optional
Version: 0.9.8-23
Section: admin
Maintainer: HestiaCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: bash, awk, sed
Description: hestia
 hestia is an open source hosting control panel.
 hestia has a clean and focused interface without the clutter.
 hestia has the latest of very innovative technologies.
