Source: devcp
Package: devcp
Priority: optional
Version: 1.10.0~alpha
Section: admin
Maintainer: DevCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: bash, awk, sed, acl, sysstat, setpriv | util-linux (>= 2.33), zstd, lsb-release, idn2, jq, bubblewrap, at
Description: devcp
 devcp is an open source hosting control panel.
 devcp has a clean and focused interface without the clutter.
 devcp has the latest of very innovative technologies.
 devcp is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin
