html, body, div, span, applet, object, iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.vst-advanced {
    text-decoration: underline;
}

#vstobjects{
    padding-top: 182px;
    min-height: 370px;
    height: auto !important;
    height: 370px;
    width: 1000px;
}
