body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #75b0c5;
    margin: 0;
    padding: 0;
    border: 0;
}

form {
    margin: 0;
}


table {
    border-collapse: collapse;
}

td {
    padding: 0;
}

label {
    cursor: pointer;
}

.hidden {
    display: none;
}

.top {
    width: 1000px;
}

.top.small .submenu{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}


.top .nav-logo .logo-container{
    background-color: #fff;
    width: 167px;
}

.top.small-logo .nav-logo .logo-container{
    position: fixed;
}
.top.small-logo .nav-logo img{
    margin: 29px 0 -4px 10px;
    padding: 0 0 10px;
}


.top-menu {
    height: 24px;
    background-color: #505050;
    width: 1000px;
    position: fixed;
    z-index: 10;
}

.top-link {
    float: left;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 22px;
    padding: 0 20px 2px;
}

.top-link:hover {
    color: #fff;
    background-color: #f79b44;
}

.top-link:active {
    color: #333;
    background-color: #eee;
}

.top-selected-link {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 22px;
    padding: 0 20px 2px;
    color: #333;
    background-color: #eee;
}

.top-selected-link:hover {
    color: #fff;
    background-color: #f79b44;
}

.top-selected-link:active {
    color: #2361a1;
    background-color: #eee;
}

.top-user {
    float: left;
    line-height: 22px;
    padding: 0 4px 2px;
    text-decoration: none;
    color: #ffd62e;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.top-user:hover {
    color: #fff;
}

.top-user:active {
    color: #fff;
    background-color: #f79b44;
}

.top-logout {
    float: left;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 22px;
    padding: 0 4px 2px 4px;
    margin: 0 14px 2px 0;
}

.top-logout:hover {
    color: #fff;
    background-color: #f79b44;
}

.top-logout:active {
    color: #fff;
    background-color: #999;
}

.main-menu{
    display: block;
    float: left;
    margin-bottom: 1px;
}

.nav-logo {
    float: left;
    height: 139px;
    width: 167px;
    margin: 0 0 0px;
}

.nav-logo img{
    margin: 56px 0 0 10px;
}

.nav-lnk {
    text-decoration: none;
    color: #222;
    float:left;
}

.nav-lnk:active {
    color: #f79b44;
}

.nav-block {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 111px;
    width: 119px;
    float:left;
    cursor: pointer;
    padding-bottom: 2px;
}

.nav-block:hover {
    height:108px;
    padding-bottom: 0;
}

.nav-selected-block {
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #4a82be;
    height: 108px;
    width: 119px;
    float: left;
    cursor: pointer;
}

.nav-selected-block:hover {
    height:108px;
}

.nav-selected-block:active {
    color: #f79b44;
}

.top .nav-block .marker,
.top .nav-selected-block .marker {
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
    padding: 0;
    height: 4px;
    margin: 12px 0 0 0;
    width: 100%;
    background-color: #fff;
}

.top .nav-selected-block .marker {
    background-color: #777;
    border-bottom: 1px solid #777;
}

.top.small .marker{
    position: fixed;
    top: 66px;
    width: 119px;
}

.nav-block:hover .marker{
    background-color: #f79b44;
    border-bottom: 1px solid #f79b44;
}

.nav-selected-block:hover .marker{
    background-color: #f79b44;
    border-bottom: 1px solid #f79b44;
}

.nav-header, .nav-selected-header {
    background-color: #FFF;
    font-size: 16pt;
    font-weight: bold;
    height: 27px;
    letter-spacing: -1px;
    margin: 0;
    padding: 16px 0 0 6px;
    position: fixed;
    top: 24px;
    width: 113px;
    z-index: 10;
}

.top.small .nav-header, .top.small .nav-selected-header{
    height: 38px;
}

.nav-counters {
    padding: 1px 0 0 6px;
    margin: 65px 0 0 0;
    height: 58px;
    line-height: 1.4em;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    decoration: none;
    overflow: hidden;
    opacity: 0.8;
}

.submenu {
    font-family:Arial, Helvetica, sans-serif;
    vertical-align: middle;
    float: left;
    width: 1000px;
    border-bottom: 1px solid #e1e8e8;
    border-top: 1px solid #e1e8e8;
    background-color: #fff;
    margin-bottom: -1px;
}

.top.small .submenu{
    position: fixed;
    top: 82px;
}

.submenu .wrapper{
    padding: 11px 10px 14px 10px;
}

.submenu-button-block {
    float: left;
}

.submenu-button-main {
    width: 130px;
    height: 28px;
    cursor: pointer;
    color: #fafafa;
    background-color: #f79b44;
    border: 1px solid #f79b44;
    border-radius: 3px 3px 3px 3px;
    padding: 0;
    font-size: 9pt;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.submenu-button-select {
    width: 28px;
    height: 28px;
    cursor: pointer;
    color: #555;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    padding: 0;
    font-size: 9pt;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.submenu-button-search {
    width: 96px;
    height: 28px;
    cursor: pointer;
    color: #555;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    padding: 0;
    font-size: 9pt;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}


@-moz-document url-prefix() {
    .submenu-button-main {
        padding-bottom: 2px;
    }
}

@-moz-document url-prefix() {
    .submenu-button-select {
        padding-bottom: 2px;
    }
}

@-moz-document url-prefix() {
    .submenu-button-search {
        padding-bottom: 2px;
    }
}

.submenu-button-main:hover {
    border: 1px solid #aaa;
    background-color: #adaeae;

    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

.submenu-button-select:hover {
    border: 1px solid #adaeae;
    background-color: #adaeae;
    color: #fff;
}

.submenu-button-search:hover {
    border: 1px solid #adaeae;
    background-color: #adaeae;
    color: #fff;

}

.submenu-button-main:active {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.submenu-button-select:active {
    color: #fff;
    border: 1px solid #f79b44;
    background-color: #f79b44;
}

.submenu-button-search:active {
    color: #fff;
    border: 1px solid #f79b44;
    background-color: #f79b44;
}

.submenu-select-block {
    float:left;
    padding-left: 30px;
}

.submenu-select-link {
    color: #6a6a6a;
    display: block;
    float: left;
    font-size: 8pt;
    letter-spacing: 0.1em;
    margin: 7px 7px 0 0;
    text-decoration: none;
    padding: 0 4px
}

.submenu-select-link:hover {
    color: #fff;
    background-color: #f79b44;
}

.submenu-select-link:active {
    color: #fff;
    background-color: #777;
}

.submenu-select-dropdown {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #333;
    display: block;
    float: left;
    height: 28px;
    margin: 0 4px 0 0;
    min-width: 138px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    padding: 4px 5px;
}


.submenu-select-dropdown:hover {
    border: 1px solid #909090;
}

.submenu-select-dropdown:focus {
    border: 1px solid #f79b44;
    background-color: #fffcd2;
    color: #333;
}


.submenu-select-dropdown option {
    padding: 5px 5px 5px 8px;
}

.submenu-search-block {
    display: block;
    text-align: right;
    float: right;
}

.submenu-search-field {
    border: 1px solid #d3d3d3;
    border-radius: 3px 3px 3px 3px;
    color: #333;
    font-size: 14px;
    background-color: #fff;
    float: left;
    padding: 0px 3px 0px 3px;
    height: 26px;
    width: 232px;
    margin: 0 4px 0 0;
}

.submenu-search-field:hover {
    border: 1px solid #909090;
}

.submenu-search-field:focus {
    border: 1px solid #f79b44;
    background-color: #FFFCD2;
    color: #333;
}

.bottom {
    background-color: #ebe9dc;
    color: #555;
    margin: 30px 0 0 0;
    padding: 4px 20px 8px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
    text-align: center;
    vertical-align:top;
    line-height: 0.8em;
    border-top: 4px solid #d3d3d3;
}

.bottom a:link {
    font-size: 8pt;
    text-decoration: none;
    color: #555;
}

.bottom a:visited {
    text-decoration: none;
    color: #555;
}

.bottom a:hover {
    text-decoration: underline;
    color: #7fa1cb;
}

.vst {
    padding: 5px 7px 0 7px;
    margin: 0;
    text-decoration: none;
    color: #999;
    font-size: 11pt;
    float: left;
}

.vst:hover {
    text-decoration: underline;
}

.vst:active {
    color: #fff;
    background-color: #f79b44;
}

.vst-selected {
    padding: 5px 7px 0 7px;
    margin: 0;
    text-decoration: none;
    color: #2361a1;
    font-size: 11pt;
    float: left;
}

.vst-selected:hover {
    text-decoration: underline;
}

.vst-selected:active {
    color: #fff;
    background-color: #f79b44;
}

.data {
    width: 1000px;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
    color: #e5a907;
    font-size: 12pt;
    text-align: left;
    vertical-align:top;
    margin: 1px 0 0 0;
    behavior:url("/css/csshover3.htc");
    background-color: #fff
}

.data a {
    text-decoration: none;
}


.data-row.selected, .data-row.selected.suspended{
    background-color: #e4e9e9;
}

.datarowhover {
    margin: 0;
    background-color: #f7f6ed;
}

.data-null {
    margin: 0;
    height: 10px;
    border-top:1px dotted #d3d3d3;
}

.data-spacer {
    margin: 0;
}

.data-add {
    margin: 0;
    background-color: #f7f6ed;
    border-bottom: 1px solid #e9e9e9;
}

.data-dotted {
    text-align: left;
    vertical-align:top;
    border-top: 1px dotted #d3d3d3;
    padding: 0 0 26px 0;
    margin: 0;
}

.data-dotted td {
    margin: 0;
}

.data-col1 {
    text-align: left;
    padding: 0;
    width: 173px;
}

.data-col1 tr td {
    padding:2px 0 6px 26px;
}

.data-col1 tr:first-child td {
    padding:24px 0 0 26px;
}

.data-col2 {
    text-align: left;
    overflow: hidden;
    width: 827px;
}

.data-col5 {
    text-align: left;
    overflow: hidden;
    width: 817px;
    table-layout: fixed;
    white-space: nowrap;
}

.data-date {
    letter-spacing: 0.3em;
    font-size: 8pt;
    color: #6a6a6a
}

.data-active {
    font-size: 8pt;
    letter-spacing: 0.1em;
    color: #81a64f;
}

.data-suspended {
    font-size: 8pt;
    letter-spacing: 0.1em;
    color: #de5543;
}

.data-controls {
    float: right;
    height: 16px;
    border-left: 1px solid #d3d3d3;
    font-size: 8pt;
    padding: 6px 11px 2px;
    letter-spacing: 0.1em;
    color: #3e7c91;
    text-decoration: none;
    cursor: pointer;
}

.data-controls.edit{
    font-weight: bold;
    letter-spacing: 0;
}

.data-controls:hover {
    color: #fff;
    background-color: #f79b44;
}

.data-controls:active {
    background-color: #999;
}


.data-controls img {
    border: 0px;
}

.ch-toggle {
    cursor: pointer;
}

.data-count {
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 8pt;
    padding: 20px 0 20px 174px;
}

.chart1 {
    color:#000;
    font-size: 10pt;
}

.chart2 {
    color: #484243;
    font-size: 8pt;
}

.username {
    color: #222;
    font-size: 14pt;
    padding: 1px 0 2px 0;
}

.domain {
    color: #222;
    font-size: 14pt;
    padding: 1px 0 2px 0;
}

.suspended .domain {
    color: #777;
}

.domain.hostname {
    font-size: 16pt;
}

.cron {
    color: #222;
    font-size: 18px;
    padding: 1px 0 2px 0;
}

.log {
    color: #222;
    font-size: 12pt;
    padding: 1px 0 2px 0;
}

.aliases {
    font-size: 12pt;
    color: #99a7af;
    padding: 0 0 0 8px;
}

.nginx-ext {
    color: black;
    vertical-align:top;
    font-size: 10pt;
}

.fullname {
    font-size: 18px;
    color: #99a7af;
    padding: 0 0 0 8px;
}

.counter-name {
    white-space: nowrap;
    vertical-align:top;
    line-height: 1.2em;
    font-size: 10pt;
    color: #222;
    padding: 2px 4px 1px 0;
}

.cron-counter-name {
    vertical-align:top;
    line-height: 0.8em;
    font-size: 8pt;
    padding: 4px 0 0 0;
    color: #222;
}

.counter-value {
    vertical-align:top;
    line-height: 1.2em;
    font-size: 10pt;
    color: #222;
    padding: 2px 0 1px 2px;
}

.log-counter-value {
    vertical-align:top;
    font-size: 12pt;
    color: #484243;
}

.cron-counter-value {
    vertical-align:top;
    line-height: 1.2em;
    font-size: 12pt;
    color: #484243;
}

.name {
    font-size: 12pt;
    color: #777;
    padding: 0 0 0 10px;
}

.vst-ok {
    font-size: 12pt;
    color: #33691e;
    padding: 4px;
}

.vst-ok a {
    color: #33691e;
}

.vst-ok a:hover {
    background: #f79b44;
    color: #fff;
}

.vst-error {
    font-size: 12pt;
    color: #de6c5d;
    padding: 4px;
    font-weight: bold;
}

.vst-text {
    color: #222;
    font-size: 12pt;
}

.vst-textinput {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px 3px 3px 3px;
    color: #555;
    font-size: 12pt;
    padding: 5px;
    width: 360px;
    height: 90px;
    font-family:Arial, Helvetica, sans-serif;
}

.vst-textinput:hover {
    border: 1px solid #909090;
}

.vst-textinput:focus {
    border: 1px solid #f79b44;
    background-color: #fffcd2;
    color: #333;
}

.vst-textinput:disabled {
    background-color: #f1f1f1;
}

.vst-input {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px 3px 3px 3px;
    color: #555;
    font-size: 14pt;
    padding: 5px;
    width: 360px;
    height: 28px;
    margin: 2px 6px 0 0;
}

.vst-input:hover {
    border: 1px solid #909090;
}

.vst-input:focus {
    border: 1px solid #f79b44;
    background-color: #fffcd2;
    color: #333;
}

.vst-input:disabled {
    background-color: #f1f1f1;
}

.vst-input.long{
    width: 580px;
}

.vst-list {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #555;
    height: 30px;
    min-width: 138px;
    margin: 2px 6px 0 0;
}

@-moz-document url-prefix() {
    .vst-list {
        padding-top: 2px;
    }
}

.vst-checkbox {
    padding: 5px;
    font-size: 12pt;
    border: 1px solid #f7f6ed;
    margin: 2px 6px 0 3px;
}

.vst-checkbox:hover {
    border: 1px solid #f79b44;
}

.button {
    filter:chroma(color=#000);
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 16px 3px 16px;
    width: 108px;
    height: 34px;
    color: #fafafa;
    border: 1px solid #f79b44;
    background-color: #f79b44;
}

.button:hover {
    color: #fff;
    border: 1px solid #999;
    background-color: #999;
}

.button:active {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.login-button {
    filter:chroma(color=#000);
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 16px;
    width: 108px;
    height: 34px;
    color: #fff;
    background-color: #f79b44;
    border: 1px solid #f79b44;
}

.login-button:hover {
    border: 1px solid #adaeae;
    background-color: #adaeae;
}

.login-button:active {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.optional {
    padding:0 0 0 6px;
    font-size: 10pt;
    color:#555;
}

.generate {
    color: #2361a1;
    text-decoration: underline;
    cursor: pointer;
}

.generate:hover {
    background-color: #f79b44;
    color: #fff;
}

.generate:active {
    background-color: #999;
}

.vst-advanced {
    color: #2361a1;
    font-size: 10pt;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 0 2px;
    border-bottom: 1px solid #f79b44;
}

.vst-advanced:hover {
    color: #fff;
    background-color: #f79b44;
}

.vst-advanced:active {
    color: #fff;
    background-color: #777;
}

.fixed {
    position: fixed;
    border: none;
    top: -3px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
}

*html .fixed {
    position:absolute;
    position:fixed;
    _position:absolute;
    top:0;
    _top:expression( eval(document.body.scrollTop) + 'px' );
}

#vstobjects {
    padding-top: 193px;
    min-height: 372px;
}

.login {
    font-family:Arial, Helvetica, sans-serif;
    margin: 80px 0 80px 0;
    padding: 0;
    background-color: #fff;
    text-align: left;
    vertical-align:top;
    width: 500px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.login-box {
    text-align: left;
    vertical-align:top;
    color: #222;
}

.login-bottom {
    text-align: right;
    vertical-align:top;
    width: 474px;
    height: 50px;
    margin: 0;
    padding: 0 26px 0 0;
}

.vestacp {
    font-size: 8pt;
    color: #505050;
    text-align: right;
}

.error {
    font-size: 10pt;
    color: #de6c5d;
}

.hint {
    font-size: 14pt;
    color: #7fa1cb;
}

.step-top { 
    padding-top: 42px;
}

.step-bottom {
    padding-bottom: 20px;
}

.step-left { 
    padding-left: 50px;
}

.input-label {
    padding-top: 20px;
}

.additional-control {
    margin-left: 20px;
    color: #2361a1;
    border-bottom: 1px solid #f79b44;
    font-size: 10pt;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.additional-control:hover {
    color: #7fa1cb;
}

.additional-control:active {
    color: #fff;
    background-color: #f79b44;
}

.ftp-path-prefix {
    color: #848483;
    font-size: 13px;
}

.ftp-path-value {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

.data .suspended {
    background: url(/images/disabled_bg.png);
}

.timer-container .refresh-timer {
    border: 2px solid #c0d4a6;
    border-radius: 14px;
    height: 14px;
    width: 14px;
    margin: 10px;
    float: left;
    margin: 7px 10px 0 0;
}

.timer-container .refresh-timer.paused{
    border: 2px solid #9f9f9f;
}

.timer-container .refresh-timer.paused .loader-half.right,
.timer-container .refresh-timer.paused .loader-half.dark{
    background-color: #9F9F9F;
}

.timer-container .loader-half {
    border-radius: 0 14px 14px 0;
    height: 14px;
    width: 7px;
    float: left;
}

.timer-container .loader-half.left {
    border-radius: 14px 0 0 14px;
    background-color: #fff;
}

.timer-container .loader-half.right {
    margin-left: 7px;
    background-color: #c0d4a6;
}

.timer-container .loader-half.dark{
    background-color: #c0d4a6;
}

.timer-container .movement{
    float: left;
    width: 14px;
    height: 14px;
    position: absolute;
}

.timer-container .movement.left {
    z-index: 10;
}

.timer-container .movement.right{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.timer-container .timer-button{
    cursor: pointer;
    text-decotation: underline;
    margin: 11px 0 0 38px;
    width: 15px;
    float: left;
    height: 10px;
}

.timer-container .timer-button.pause{
    background: url(/images/pause.png) no-repeat ;
}

.timer-container .timer-button.play{
    background: url(/images/start.png) no-repeat;
}
