/* Styles for popups */
.d-popup{
	position:absolute;
	top:100px;
	left:0;
	z-index:100;
	background-color:#ccc;
	background:url(../images/info-popup-bg-2.png) repeat;
	
	width:250px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.d-popup-inner{
	padding:20px;
	color:#fff;	
}
.d-popup .close{
	position:absolute;
	top:10px;
	right:10px;
	
	display:block;
	width:14px;
	height:14px;
	background:url(../images/info-popup-sprite.png) no-repeat 0 -1px;
	cursor:pointer;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	}
	.d-popup span.close:hover{
		background-position:0 -17px;
	}
	.d-popup span.close:active{
		background-position:0 -33px;
	}
	
.d-popup-title{
	font-size:11px;
	text-transform:uppercase;
	text-align:center;
	color:#fffdd4;
	margin:0 0 9px;
}
.d-popup-items{
	font-size:12px;
	color:#fff;
}
.d-popup-items .item{
	margin:0 0 9px;
}
.d-popup-items a{
	color:#aaa;
	padding-right:5px;
}
.d-popup .prop-box{
	display:block;
}
.d-popup .prop-title{
	color:#bbb;
}
.d-popup .prop-value{
	color:#fff;
} 
