<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>404 &mdash; Not Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Sorry, page not found" />
</head>

<body>
    <div style="width:600px; margin-left: auto; margin-right: auto; text-align: center; font-family: Georgia;}">
        <br />
        <a style="font-size: 12pt; color: #333333;" href="http://%domain%">http://%domain%</a>
        <p style="font-size: 48pt; color: #485357;">Page Not Found <br> 404</p>
        <p style="font-size: 14pt; color: gray;">It seems that the page you were trying to reach does not exist anymore, or maybe it has just moved. You can start again from the <a style="color: gray;" href="/">home</a> or go back to <a style="color: gray;" href="javascript: history.go(-1)">previous page</a>.</p>
    </div>
</body>

</html>
