<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>500 &mdash; Internal Sever Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Sorry, something went wrong. Internal Server Error" />
</head>

<body>
    <div style="width:600px; margin-left: auto; margin-right: auto; text-align: center; font-family: Georgia;}">
        <br />
        <a style="font-size: 12pt; color: #333333;" href="http://%domain%">http://%domain%</a>
        <p style="font-size: 48pt; color: #485357;">Internal Sever Error <br> 500</p>
        <p style="font-size: 14pt; color: gray;"> Sorry, something went wrong :( </p>
    </div>
</body>

</html>
