Source: hestia-php
Package: hestia-php
Priority: optional
Version: 0.9.8-23
Section: admin
Maintainer: HestaCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: hestia
Description: Hestia php-fpm
 Hestia is an open source hosting control panel.
 Hestia has a clean and focused interface without the clutter.
 Hestiahas the latest of very innovative technologies.

