<script language="javascript">
  function elementHideShow(elementToHideOrShow)
    {
      var el = document.getElementById(elementToHideOrShow);
      if (el.style.display == "block") {
        el.style.display = "none";
      } else {
        el.style.display = "block";
      }
    }
</script>


<table class='data'>
<tr class="data-add">
    <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
        <table class="data-col1">
            <tr><td style="padding: 18 0 4 18;"></td></tr>
        </table>
    </td>
    <td class="data-dotted" width="830px" style="vertical-align:top;">
        <table width="830px"><tr>
            <td></td>
        </tr></table>
        <table class="data-col2" width="600px">
            <form method="post" name="v_add_user">
            <tr><td class="add-text" style="padding: 10 0 0 2px;">Domain</td></tr>
            <tr><td><input type="text" size="20" class="add-input" name="v_domain" <?php echo "value=".$v_domain;  ?> disabled ><input type="hidden" name="v_domain" <?php echo "value=".$v_domain;  ?>></td></tr>
            <tr><td class="add-text" style="padding: 10px 0 0 2px;">Record</td></tr>
            <tr><td><input type="text" size="20" class="add-input" name="v_rec" <?php if (!empty($v_rec)) echo "value=".$v_rec; ?>></tr>
            <tr><td class="add-text" style="padding: 10px 0 0 2px;">Type</td></tr>
            <tr><td><select class="add-list" name="v_type">
                    <option value="A" <?php if ($v_type == 'A') echo selected; ?>>A</option>
                    <option value="AAAA" <?php if ($v_type == 'AAAA') echo selected; ?>>AAAA</option>
                    <option value="NS" <?php if ($v_type == 'NS') echo selected; ?>>NS</option>
                    <option value="CNAME" <?php if ($v_type == 'CNAME') echo selected; ?>>CNAME</option>
                    <option value="MX" <?php if ($v_type == 'MX') echo selected; ?>>MX</option>
                    <option value="TXT" <?php if ($v_type == 'TXT') echo selected; ?>>TXT</option>
                    <option value="SRV" <?php if ($v_type == 'SRV') echo selected; ?>>SRV</option>
                    <option value="DNSKEY" <?php if ($v_type == 'DNSKEY') echo selected; ?>>DNSKEY</option>
                    <option value="KEY" <?php if ($v_type == 'KEY') echo selected; ?>>KEY</option>
                    <option value="IPSECKEY" <?php if ($v_type == 'IPSECKEY') echo selected; ?>>IPSECKEY</option>
                    <option value="PTR" <?php if ($v_type == 'PTR') echo selected; ?>>PTR</option>
                    <option value="SPF" <?php if ($v_type == 'SPF') echo selected; ?>>SPF</option>
                </select></td></tr>
            <tr><td class="add-text" style="padding: 10px 0 0 2px;">Value</td></tr>
            <tr><td><input type="text" size="20" class="add-input" name="v_val" <?php if (!empty($v_val)) echo "value=".$v_val; ?>></tr>
            <tr><td class="add-text" style="padding: 10px 0 0 2px;">Priority <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(optional)</span></td></tr>
            <tr><td><input type="text" size="20" class="add-input" name="v_priority" <?php if (!empty($v_priority)) echo "value=".$v_priority; ?>></tr>

            <tr><td style="padding: 24px 0 0 0;">
                <input type="submit" name="ok_rec" value="OK" class="add-button"></form>
                <input type="button" class="add-button" value="Cancel" onClick="location.href='/list/dns/<?php echo "?domain=".$v_domain;  ?>'">
            </td></tr>
        </table>
    </td>
</tr>
</table>
