            <?php
                $back = $_SESSION['back'];
                if (empty($back)) {
                    $back = "location.href='/list/package/'";
                } else {
                    $back = "location.href='".$back."'";
                }
            ?>

            <table class="submenu">
                <tr>
                    <td style="padding: 20px 10px;" ><a class="name"><b><?php print __('Adding Package');?></b></a>
                        <?php
                            if (!empty($_SESSION['error_msg'])) {
                                echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                            } else {
                                if (!empty($_SESSION['ok_msg'])) {
                                    echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                }
                            }
                        ?>
                    </td>
                </tr>
            </table>
        </div>

        <form id="vstobjects" name="v_add_package" method="post">
            <table class="data mode-add">
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Package Name');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_package" <?php if (!empty($v_package)) echo "value=".$v_package;  ?> >
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Template') . " <span style='color:#777;'>/ " .strtoupper($_SESSION['WEB_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_web_template">
                                        <?php
                                            foreach ($web_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_web_template)) && ( $value == $v_web_template)){
                                                    echo 'selected' ;
                                                }
                                                if ((!empty($v_web_template)) && ( $value == $_POST['v_web_template'])){
                                                    echo 'selected' ;
                                                }
                                                echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <?php if (!empty($_SESSION['WEB_BACKEND'])) { echo ""; ?> 
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Backend Template') . " <span style='color:#777;'>/ " .strtoupper($_SESSION['WEB_BACKEND']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_backend_template">
                                        <?php
                                            foreach ($backend_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_backend_template)) && ( $value == $v_backend_template)){
                                                    echo 'selected' ;
                                                }
                                                if ((!empty($v_backend_template)) && ( $value == $_POST['v_backend_template'])){
                                                    echo 'selected' ;
                                                }
                                                echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <?php echo ""; }?> 
                            <?php if (!empty($_SESSION['PROXY_SYSTEM'])) { echo ""; ?> 
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Proxy Template')  . " <span style='color:#777;'> / " .strtoupper($_SESSION['PROXY_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_proxy_template">
                                        <?php
                                            foreach ($proxy_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_proxy_template)) && ( $value == $v_proxy_template)){
                                                    echo 'selected' ;
                                                }
                                                if ((!empty($v_proxy_template)) && ( $value == $_POST['v_proxy_template'])){
                                                    echo 'selected' ;
                                                }
                                                echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <?php echo ""; }?> 
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS Template') . " <span style='color:#777;'>/ " .strtoupper($_SESSION['DNS_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_dns_template">
                                        <?php
                                            foreach ($dns_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_dns_template)) && ( $value == $v_dns_template)){
                                                    echo 'selected' ;
                                                }
                                                if ((!empty($v_dns_template)) && ( $value == $_POST['v_dns_template'])){
                                                    echo 'selected' ;
                                                }
                                                echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('SSH Access');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_shell">
                                        <?php
                                            foreach ($shells as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_shell)) && ( $value == $v_shell)){
                                                echo 'selected' ;
                                            }
                                            if ((!empty($v_shell)) && ( $value == $_POST['v_shell'])){
                                                echo 'selected' ;
                                            }
                                            echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_web_domains" <?php if (isset($v_web_domains)) echo "value=".$v_web_domains; ?>>
                                    <img class="unlim-trigger" id="unlim-web-domains" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Aliases');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print __('per domain');?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_web_aliases" <?php if (isset($v_web_aliases)) echo "value=".$v_web_aliases; ?>>
                                    <img id="unlim-web-aliases" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_dns_domains" <?php if (isset($v_dns_domains)) echo "value=".$v_dns_domains; ?>>
                                    <img id="unlim-dns-domain" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS records');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print __('per domain');?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_dns_records" <?php if (isset($v_dns_records)) echo "value=".$v_dns_records; ?>>
                                    <img id="unlim-dns-records" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Mail Domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_mail_domains" <?php if (isset($v_mail_domains)) echo "value=".$v_mail_domains; ?>>
                                    <img id="unlim-mail-domains" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Mail Accounts');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print __('per domain');?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_mail_accounts" <?php if (isset($v_mail_accounts)) echo "value=".$v_mail_accounts; ?>>
                                    <img id="unlim-mail-accounts" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Databases');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_databases" <?php if (isset($v_databases)) echo "value=".$v_databases; ?>>
                                    <img id="unlim-databases" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Cron Jobs');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_cron_jobs" <?php if (isset($v_cron_jobs)) echo "value=".$v_cron_jobs; ?>>
                                    <img id="unlim-cron-jobs" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Backups');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_backups" <?php if (isset($v_backups)) echo "value=".$v_backups; ?>>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Quota');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print __('in megabytes');?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_disk_quota" <?php if (isset($v_disk_quota)) echo "value=".$v_disk_quota; ?>>
                                    <img id="unlim-disk-quota" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Bandwidth');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print __('in megabytes');?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_bandwidth" <?php if (isset($v_bandwidth)) echo "value=".$v_bandwidth; ?>>
                                    <img name="unlim-bandwidth" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Name servers');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns1" <?php if (!empty($v_ns1)) echo "value=".$v_ns1; ?>>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns2" <?php if (!empty($v_ns2)) echo "value=".$v_ns2; ?>>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns3" <?php if (!empty($v_ns3)) echo "value=".$v_ns3; ?>>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns4" <?php if (!empty($v_ns4)) echo "value=".$v_ns4; ?>>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <input type="submit" name="ok" value="<?php print __('Add');?>" class="button">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
        <script type="text/javascript" src="/js/pages/add.package.js"></script>
