    <div class="l-center">
      <div class="l-sort clearfix">
        <div class="l-sort-toolbar clearfix float-left">
                <span class="title"><b><?=__('Adding Mail Account')?></b></span>
                  <?php
                    if (!empty($_SESSION['error_msg'])) {
                      echo "<span class=\"vst-error\"> → ".htmlentities($_SESSION['error_msg'])."</span>";
                    } else {
                      if (!empty($_SESSION['ok_msg'])) {
                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                      }
                    }
                  ?>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
        <?php
          $back = $_SESSION['back'];
          if (empty($back)) {
            $back = "location.href='/list/mail/?domain=".$v_domain."'";
          } else {
            $back = "location.href='".$back."'";
          }
        ?>
        <form id="vstobjects" name="v_add_mail_acc" method="post">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="ok_acc" value="add" />

            <table class="data mode-add">
            <tr class="data-add">
                <td class="data-dotted">
                    <table class="data-col1">
                        <tr><td></td></tr>
                    </table>
                </td>
                <td class="data-dotted">
                    <table class="data-col2" width="600px">
                        <tr>
                            <td class="vst-text step-top">
                                <?php print __('Domain');?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input" name="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>" disabled >
                                <input type="hidden" name="v_domain" value="<?=htmlentities(trim($v_domain, "'"))?>">
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-label">
                                <?php print __('Account');?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input" name="v_account" value="<?=htmlentities(trim($v_account, "'"))?>">
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-label">
                                <?php print __('Password');?> / <a href="javascript:randomString();" class="generate"><?php print __('generate');?></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input password" name="v_password">
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-label">
                                <a href="javascript:elementHideShow('advtable');" class="vst-advanced"> <?php print __('Advanced options');?></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-label">
                                <table style="display:<?php if (empty($v_adv)) echo 'none';?> ;" id="advtable">
                                    <tr>
                                        <td class="vst-text input-label">
                                            <?php print __('Quota');?> <span class="optional">(<?=__('in megabytes')?>)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" size="20" class="vst-input" name="v_quota" value="<?=htmlentities(trim($v_quota, "'"))?>">
                                            <img class="unlim-trigger" id="unlim-quota" src="/images/unlim.png" />
                                        </td>
                                    </tr>
                                <tr>
                                    <td class="vst-text input-label">
                                        <?php print __('Aliases');?> <span class="optional">(<?=__('use local-part')?>)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea size="20" class="vst-textinput" name="v_aliases"><?=htmlentities(trim($v_aliases, "'"))?></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vst-text input-label">
                                        <?php print __('Forward to');?> <span class="optional">(<?=__('one or more email addresses')?>)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea size="20" class="vst-textinput" name="v_fwd"><?=htmlentities(trim($v_fwd, "'"))?></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vst-text input-label">
                                        <label><input type="checkbox" size="20" class="vst-checkbox" name="v_fwd_only" <?php if ($v_fwd_only == 'yes') echo "checked=yes" ?>> <?php print __('Do not store forwarded mail');?></label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text input-label">
                            <?php print __('Send login credentials to email address') ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text"  class="vst-input" name="v_send_email" value="<?=htmlentities(trim($v_send_email, "'"))?>">
                            <input type="hidden" name="v_credentials" id="v_credentials">
                        </td>
                    </tr>
                </table>
                <table class="data-col2">
                    <tr>
                        <td class="step-top" width="116px">
                            <input type="submit" name="ok_acc" value="<?=__('Add')?>" class="button">
                        </td>
                        <td class="step-top">
                            <input type="button" class="button cancel" value="<?=__('Back')?>" onclick="<?=$back?>">
                        </td>
                    </tr>
                </table>
            </td>
            <td class="mail-infoblock-td">
                <div class="mail-infoblock">
                    <table>
                        <?php $uname_arr=posix_uname(); $hostname=$uname_arr['nodename']; ?>
                        <tr>
                            <td colspan="2">
                                <select id="mail_configuration" class="vst-list flat">
                                    <option v_type="hostname" domain="<?=$hostname?>"><?=__('Use server hostname')?></option>
                                    <option v_type="hostname" domain="<?=$v_domain?>"><?=__('Use domain hostname')?></option>
                                    <option v_type="starttls"><?=__('Use STARTTLS')?></option>
                                    <option v_type="ssl"><?=__('Use SSL / TLS')?></option>
                                    <option v_type="no_encryption" domain="<?=htmlentities(trim($v_domain, "'"))?>" no_encryption="<?=__('No encryption')?>"><?=__('No encryption')?></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><?=__('Username')?>:</td>
                            <td><div><span id="v_account">example</span>@<?=htmlentities(trim($v_domain, "'"))?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('Password')?>:</td>
                            <td><div id="v_password">******</div></td>
                        </tr>
                        <tr>
                            <td><?=__('IMAP hostname')?>:</td>
                            <td><div id="td_imap_hostname"><?=$hostname?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('IMAP port')?>:</td>
                            <td><div id="td_imap_port">143</div></td>
                        </tr>
                        <tr>
                            <td><?=__('IMAP security')?>:</td>
                            <td><div id="td_imap_encryption"><?=__('STARTTLS')?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('IMAP auth method')?>:</td>
                            <td><div><?=__('Normal password')?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('SMTP hostname')?>:</td>
                            <td><div id="td_smtp_hostname"><?=$hostname?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('SMTP port')?>:</td>
                            <td><div id="td_smtp_port">587</div></td>
                        </tr>
                        <tr>
                            <td><?=__('SMTP security')?>:</td>
                            <td><div id="td_smtp_encryption"><?=__('STARTTLS')?></div></td>
                        </tr>
                        <tr>
                            <td><?=__('SMTP auth method')?>:</td>
                            <td><div><?=__('Normal password')?></div></td>
                        </tr>
                        <?
                            list($http_host, $port) = explode(':', $_SERVER["HTTP_HOST"].":");
                            $webmail = "http://".$http_host."/webmail/";
                            if (!empty($_SESSION['MAIL_URL'])) $webmail = $_SESSION['MAIL_URL'];
                        ?>
                        <tr>
                            <td><?=__('Webmail URL')?>:</td>
                            <td><div><a class="vst" href="<?=$webmail?>" target="_blank"><?=$webmail?> <i></i></a></div></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    </form>
  </div>
