    <div class="l-center">
      <div class="l-sort clearfix">
        <div class="l-sort-toolbar clearfix float-left">
                <span class="title"><b><?=__('Adding Cron Job')?></b></span>
                  <?php
                    if (!empty($_SESSION['error_msg'])) {
                      echo "<span class=\"vst-error\"> → ".htmlentities($_SESSION['error_msg'])."</span>";
                    } else {
                      if (!empty($_SESSION['ok_msg'])) {
                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                      }
                    }
                  ?>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
        <?php
          $back = $_SESSION['back'];
          if (empty($back)) {
            $back = "location.href='/list/cron/'";
          } else {
            $back = "location.href='".$back."'";
          }
        ?>

                                <div class="vst-text step-top helper-container">
                                    <div id="tabs"  class="cron-helper-tabs">
                                      <ul>
                                        <li><a href="#tabs-1"><?=__('Minutes')?></a></li>
                                        <li><a href="#tabs-2"><?=__('Hourly')?></a></li>
                                        <li><a href="#tabs-3"><?=__('Daily')?></a></li>
                                        <li><a href="#tabs-4"><?=__('Weekly')?></a></li>
                                        <li><a href="#tabs-5"><?=__('Monthly')?></a></li>
                                      </ul>
                                      <div id="tabs-1">
                                        <form>
                                            <input type="hidden" name="h_hour" value="*" />
                                            <input type="hidden" name="h_day" value="*" />
                                            <input type="hidden" name="h_month" value="*" />
                                            <input type="hidden" name="h_wday" value="*" />
                                            <p><span class="first"><?=__('Run Command')?>:</span>
                                                <select name="h_min" class="vst-list">
                                                    <option value="*"  selected="selected"><?=__('every minute')?></option>
                                                    <option value="*/2"><?=__('every two minutes')?></option>
                                                    <option value="*/5"><?=__('every')?> 5</option>
                                                    <option value="*/10"><?=__('every')?> 10</option>
                                                    <option value="*/15"><?=__('every')?> 15</option>
                                                    <option value="*/30"><?=__('every')?> 30</option>
                                                </select>
                                            </p>
                                            <p class="step-top">
                                                <input type="submit" value="<?=__('generate')?>" class="button">
                                            </p>
                                        </form>
                                      </div>


                                      <div id="tabs-2">
                                        <form>
                                            <input type="hidden" name="h_day" value="*" />
                                            <input type="hidden" name="h_month" value="*" />
                                            <input type="hidden" name="h_wday" value="*" />
                                            <p><span class="first"><?=__('Run Command')?>:</span>
                                                <select name="h_hour" class="vst-list">
                                                    <option value="*" selected="selected"><?=__('every hour')?></option>
                                                    <option value="*/2"><?=__('every two hours')?></option>
                                                    <option value="*/6"><?=__('every')?> 6</option>
                                                    <option value="*/12"><?=__('every')?> 12</option>
                                                </select>
                                            </p>

                                            <p><span class="first"><?=__('Minute')?>:</span>
                                                <select name="h_min" class="vst-list short">
                                                    <option value="0" selected="selected">00</option>
                                                    <option value="15">15</option>
                                                    <option value="30">30</option>
                                                    <option value="45">45</option>
                                                </select>
                                            </p>

                                            <p class="step-top">
                                                <input type="submit" value="<?=__('generate')?>" class="button">
                                            </p>
                                        </form>
                                      </div>


                                      <div id="tabs-3">
                                        <form>
                                            <input type="hidden" name="h_month" value="*" />
                                            <input type="hidden" name="h_wday" value="*" />
                                            <p><span class="first"><?=__('Run Command')?>:</span>
                                                <select name="h_day" class="vst-list">
                                                    <option value="*" selected="selected"><?=__('every day')?></option>
                                                    <option value="1-31/2"><?=__('every odd day')?></option>
                                                    <option value="*/2"><?=__('every even day')?></option>
                                                    <option value="*/3"><?=__('every')?> 3</option>
                                                    <option value="*/5"><?=__('every')?> 5</option>
                                                    <option value="*/10"><?=__('every')?> 10</option>
                                                    <option value="*/15"><?=__('every')?> 15</option>
                                                </select>
                                            </p>

                                            <p><span class="first"><?=__('Hour')?>:</span>
                                                <select name="h_hour" class="vst-list short">
                                                    <option value="0">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                    <option value="5">05</option>
                                                    <option value="6">06</option>
                                                    <option value="7">07</option>
                                                    <option value="8">08</option>
                                                    <option value="9">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12"  selected="selected">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                </select>

                                                <span><?=__('Minute')?>:</span>
                                                <select name="h_min" class="vst-list  short">
                                                    <option value="0" selected="selected">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="5">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                </select>
                                            </p>
                                            <p class="step-top">
                                                <input type="submit" value="<?=__('generate')?>" class="button">
                                            </p>
                                        </form>
                                      </div>


                                      <div id="tabs-4">
                                        <form>
                                            <input type="hidden" name="h_month" value="*" />
                                            <input type="hidden" name="h_day" value="*" />

                                            <p><span class="first"><?=__('Run Command')?>:</span>
                                                <select name="h_wday" class="vst-list">
                                                    <option value="*" selected="selected"><?=__('every day')?></option>
                                                    <option value="1,2,3,4,5"><?=__('weekdays (5 days)')?></option>
                                                    <option value="0,6"><?=__('weekend (2 days)')?></option>
                                                    <option value="1"><?=__('Monday')?></option>
                                                    <option value="2"><?=__('Tuesday')?></option>
                                                    <option value="3"><?=__('Wednesday')?></option>
                                                    <option value="4"><?=__('Thursday')?></option>
                                                    <option value="5"><?=__('Friday')?></option>
                                                    <option value="6"><?=__('Saturday')?></option>
                                                    <option value="0"><?=__('Sunday')?></option>
                                                </select>
                                            </p>

                                            <p><span class="first"><?=__('Hour')?>:</span>
                                                <select name="h_hour" class="vst-list short">
                                                    <option value="0">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                    <option value="5">05</option>
                                                    <option value="6">06</option>
                                                    <option value="7">07</option>
                                                    <option value="8">08</option>
                                                    <option value="9">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12"  selected="selected">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                </select>

                                                <span><?=__('Minute')?>:</span>
                                                <select name="h_min" class="vst-list short">
                                                    <option value="0" selected="selected">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="5">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                </select>
                                            </p>

                                            <p class="step-top">
                                                <input type="submit" value="<?=__('generate')?>" class="button">
                                            </p>
                                        </form>
                                      </div>


                                      <div id="tabs-5">
                                        <form>
                                            <input type="hidden" name="h_wday" value="*" />

                                            <p><span class="first"><?=__('Run Command')?>:</span>
                                                <select name="h_month" class="vst-list">
                                                    <option value="*" selected="selected"><?=__('every month')?></option>
                                                    <option value="1-11/2"><?=__('every odd month')?></option>
                                                    <option value="*/2"><?=__('every even month')?></option>
                                                    <option value="*/3"><?=__('every')?> 3</option>
                                                    <option value="*/6"><?=__('every')?> 6</option>
                                                    <option value="1"><?=__('Jan')?></option>
                                                    <option value="2"><?=__('Feb')?></option>
                                                    <option value="3"><?=__('Mar')?></option>
                                                    <option value="4"><?=__('Apr')?></option>
                                                    <option value="5"><?=__('May')?></option>
                                                    <option value="6"><?=__('Jun')?></option>
                                                    <option value="7"><?=__('Jul')?></option>
                                                    <option value="8"><?=__('Aug')?></option>
                                                    <option value="9"><?=__('Sep')?></option>
                                                    <option value="10"><?=__('Oct')?></option>
                                                    <option value="11"><?=__('Nov')?></option>
                                                    <option value="12"><?=__('Dec')?></option>
                                                </select>
                                            </p>

                                            <p><span class="first"><?=__('Date')?>:</span>
                                                <select name="h_day" class="vst-list short">
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>

                                                <span><?=__('Hour')?>:</span>
                                                <select name="h_hour" class="vst-list short">
                                                    <option value="0">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                    <option value="5">05</option>
                                                    <option value="6">06</option>
                                                    <option value="7">07</option>
                                                    <option value="8">08</option>
                                                    <option value="9">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12"  selected="selected">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                </select>

                                                <span><?=__('Minute')?>:</span>
                                                <select name="h_min" class="vst-list short">
                                                    <option value="0" selected="selected">00</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="5">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                </select>
                                            </p>

                                            <p class="step-top">
                                                <input type="submit" value="<?=__('generate')?>" class="button">
                                            </p>
                                        </form>
                                      </div>
                                    </div>
                                </div>

        <form id="vstobjects" name="v_add_cron" method="post">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="ok" value="Add" />
            <table class="data mode-add">
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2" width="600px">
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Command');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="30" class="vst-input long" name="v_cmd" value="<?=htmlentities(trim($v_cmd, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Minute');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input short" name="v_min" value="<?=htmlentities(trim($v_min, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Hour');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input short" name="v_hour" value="<?=htmlentities(trim($v_hour, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Day');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input short" name="v_day" value="<?=htmlentities(trim($v_day, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Month');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input short" name="v_month" value="<?=htmlentities(trim($v_month, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Day of week');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input short" name="v_wday" value="<?=htmlentities(trim($v_wday, "'"))?>">
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <input type="submit" name="ok" value="<?=__('Add')?>" class="button">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button cancel" value="<?=__('Back')?>" onclick="<?=$back?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
