<script language="javascript">
  function elementHideShow(elementToHideOrShow)
    {
      var el = document.getElementById(elementToHideOrShow);
      if (el.style.display == "block") {
        el.style.display = "none";
      } else {
        el.style.display = "block";
      }
    }
</script>


<table class='data'>
<tr class="data-add">
    <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
        <table class="data-col1">
            <tr><td style="padding: 18 0 4 18;"></td></tr>
        </table>
    </td>
    <td class="data-dotted" width="830px" style="vertical-align:top;">
        <table width="830px"><tr>
            <td></td>
        </tr></table>
        <table class="data-col2" width="600px">
            <form method="post" name="v_add_user">
            <tr><td class="add-text" style="padding: 10 0 0 2px;">Domain</td></tr>
            <tr><td><input type="text" size="20" class="add-input" name="v_domain" <?php if (!empty($v_domain)) echo "value=".$v_domain;  ?> ></td></tr>
            <tr><td class="add-text" style="padding: 10px 0 0 2px;">IP address</td></tr>
            <tr><td><select class="add-list" name="v_ip">
            <?php
                foreach ($ips as $key => $value) {
                echo "\t\t\t\t<option value=\"".$key."\"";
                    if ((!empty($v_ip)) && ( $key == $_POST['v_ip'])){
                        echo ' selected';
                    }
                    echo ">".$key."</option>\n";
                }
            ?>
                </select></td></tr>

            <tr><td class="add-text" style="padding: 10px 0 0 2px;">Template</td></tr>
            <tr><td><select class="add-list" name="v_template">
            <?php
                foreach ($templates as $key => $value) {
                    echo "\t\t\t\t<option value=\"".$key."\"";
                    if ((!empty($v_template)) && ( $key == $_POST['v_template'])){
                        echo ' selected' ;
                    }
                    echo ">".$key."</option>\n";
                }
            ?>
                </select></td></tr>
            <tr><td class="add-text" style="padding: 10 0 0 2px;">DNS support</td></tr>
            <tr><td><input type="checkbox" size="20" class="add-checkbox" name="v_dns" <?php if (empty($v_dns)) echo "checked=yes"; ?>></tr>

            <tr><td class="add-text" style="padding: 10 0 0 2px;">Mail support</td></tr>
            <tr><td><input type="checkbox" size="20" class="add-checkbox" name="v_mail" <?php if (empty($v_mail)) echo "checked=yes"; ?>></tr>
            <tr><td class="add-text" style="padding: 10 0 0 2px;"><a href="javascript:elementHideShow('advtable');" class="add-advanced">Advanced Options ⇢</a></td></tr>
            <tr><td class="add-text" style="padding: 10 0 0 0px;">
                <table style="display:<?php if (empty($v_adv)) echo 'none';?> ;" id="advtable">
                    <tr><td class="add-text" style="padding: 0 0 0 2px;">Aliases</td></tr>
                    <tr><td><textarea size="20" class="add-input" name="v_aliases"><?php if (!empty($v_aliases)) echo $v_aliases;  ?></textarea></td></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">Error Logging</td></tr>
                    <tr><td><input type="checkbox" size="20" class="add-checkbox" name="v_elog" <?php if (!empty($v_elog)) echo "checked=yes" ?>></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">Nginx Support</td></tr>
                    <tr><td><input type="checkbox" size="20" class="add-checkbox" name="v_nginx" <?php if (!empty($v_nginx)) echo "checked=yes" ?>></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">SSL Support</td></tr>
                    <tr><td><input type="checkbox" size="20" class="add-checkbox" name="v_ssl" <?php if (!empty($v_ssl)) echo "checked=yes" ?>></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">SSL Certificate</td></tr>
                    <tr><td><textarea size="20" class="add-input" name="v_ssl_cert"><?php if (!empty($v_ssl_cert)) echo $v_ssl_cert;  ?></textarea></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">SSL Key</td></tr>
                    <tr><td><textarea size="20" class="add-input" name="v_ssl_key"><?php if (!empty($v_ssl_key)) echo $v_ssl_key;  ?></textarea></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">SSL PEM</td></tr>
                    <tr><td><textarea size="20" class="add-input" name="v_ssl_pem"><?php if (!empty($v_ssl_pem)) echo $v_ssl_pem;  ?></textarea></tr>
                    <tr><td class="add-text" style="padding: 10px 0 0 2px;">Web Statistics</td></tr>
                    <tr><td><select class="add-list" name="v_stats">
                    <?php
                        foreach ($stats as $key => $value) {
                            $svalue = "'".$value."'";
                            echo "\t\t\t\t<option value=\"".$value."\"";
                            if (empty($v_stats)) $v_stats = 'none';
                            if (( $value == $v_stats ) || ($svalue == $v_stats )){
                                echo ' selected' ;
                            }
                            echo ">".$value."</option>\n";
                        }
                    ?>
                    </select></td></tr>
                </table>
            </td></tr>
            <tr><td style="padding: 24px 0 0 0;">
                <input type="submit" name="ok" value="OK" class="add-button">
                <input type="submit" class="add-button" name="cancel" value="Cancel">
            </td></tr>
            </form>
        </table>
    </td>
</tr>
</table>
