  <script>
    function elementHideShow(elementToHideOrShow){
      var el = document.getElementById(elementToHideOrShow);
      el.style.display = el.style.display === 'none' ? 'block' : 'none';
    }

    function randomString() {
      var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz';
      var string_length = 10;
      var randomstring = '';
      for (var i = 0; i < string_length; i++) {
        var rnum = Math.floor(Math.random() * chars.length);
        randomstring += chars.substr(rnum, 1);
      }
      document.v_add_db.v_password.value = randomstring;
    }

    GLOBAL.DB_USER_PREFIX = <?=json_encode($user.'_')?>;
    GLOBAL.DB_DBNAME_PREFIX = <?=json_encode($user.'_')?>;
  </script>
  <script src="/js/pages/add.db.js"></script>
