<?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/db/'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

<table class="sub-menu" style="background: white;">
    <tr>
        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Adding database');?></b></a>
            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
            } else {
            if (!empty($_SESSION['ok_msg'])) {
            echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
            }
            }
            ?>
        </td>
    </tr>
</table>
</td>
</tr>
</table>

<form id="vstobjects" name="v_add_db" method="post">
    <script type="text/javascript">
        function elementHideShow(elementToHideOrShow) {
            var el = document.getElementById(elementToHideOrShow);
            if (el.style.display == "block") {
                el.style.display = "none";
            } else {
                el.style.display = "block";
            }
        }
        function randomString() {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var string_length = 10;
            var randomstring = '';
            for (var i=0; i<string_length; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum,rnum+1);
            }
            document.v_add_db.v_password.value = randomstring;
        }
    </script>

    <table class='data'>
        <tr class="data-add">
            <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                <table class="data-col1">
                    <tr><td style="padding: 18 0 4 18;"></td></tr>
                </table>
            </td>
            <td class="data-dotted" width="830px" style="vertical-align:top;">
                <table width="830px">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table class="data-col2" width="600px">
                    <tr>
                        <td style="padding: 10 0 0 2px; color:99a7af;" >
                            <?php print _('DB_PREFIX_WILL_BE_ADDED',$user."_");?>
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text" style="padding: 10 0 0 2px;">
                            <?php print _('Database');?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="20" class="vst-input" name="v_database" <?php if (!empty($v_database)) echo "value=".$v_database; ?>>
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                            <?php print _('Username');?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="20" class="vst-input" name="v_dbuser" <?php if (!empty($v_dbuser)) echo "value=".$v_dbuser; ?>>
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                            <?php print _('Password');?> <a href="javascript:randomString();" class="genpass"><?php print _('generate');?></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" size="20" class="vst-input" name="v_password">
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text" style="padding: 10 0 0 2px;">
                            <?php print _('Type');?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="vst-list" name="v_type">
                                <?php
                                                        foreach ($db_types as $key => $value) {
                                echo "\t\t\t\t<option value=\"".$value."\"";
                                if ((!empty($v_type)) && ( $value == $v_type )) echo ' selected';
                                echo ">".$value."</option>\n";
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="vst-text" style="padding: 10 0 0 2px;">
                            <?php print _('Charset');?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="vst-list" name="v_charset">
                                <option value=big5 <?php if ((!empty($v_charset)) && ( $v_charset == 'big5')) echo 'selected';?> >big5</option>
                                <option value=dec8 <?php if ((!empty($v_charset)) && ( $v_charset == 'dec8')) echo 'selected';?> >dec8</option>
                                <option value=cp850 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp850')) echo 'selected';?> >cp850</option>
                                <option value=hp8 <?php if ((!empty($v_charset)) && ( $v_charset == 'hp8')) echo 'selected';?> >hp8</option>
                                <option value=koi8r <?php if ((!empty($v_charset)) && ( $v_charset == 'koi8r')) echo 'selected';?> >koi8r</option>
                                <option value=latin1 <?php if ((!empty($v_charset)) && ( $v_charset == 'latin1')) echo 'selected';?> >latin1</option>
                                <option value=latin2 <?php if ((!empty($v_charset)) && ( $v_charset == 'latin2')) echo 'selected';?> >latin2</option>
                                <option value=swe7 <?php if ((!empty($v_charset)) && ( $v_charset == 'swe7')) echo 'selected';?> >swe7</option>
                                <option value=ascii <?php if ((!empty($v_charset)) && ( $v_charset == 'ascii')) echo 'selected';?> >ascii</option>
                                <option value=ujis <?php if ((!empty($v_charset)) && ( $v_charset == 'ujis')) echo 'selected';?> >ujis</option>
                                <option value=sjis <?php if ((!empty($v_charset)) && ( $v_charset == 'sjis')) echo 'selected';?> >sjis</option>
                                <option value=hebrew <?php if ((!empty($v_charset)) && ( $v_charset == 'hebrew')) echo 'selected';?> >hebrew</option>
                                <option value=tis620 <?php if ((!empty($v_charset)) && ( $v_charset == 'tis620')) echo 'selected';?> >tis620</option>
                                <option value=euckr <?php if ((!empty($v_charset)) && ( $v_charset == 'euckr')) echo 'selected';?> >euckr</option>
                                <option value=koi8u <?php if ((!empty($v_charset)) && ( $v_charset == 'koi8u')) echo 'selected';?> >koi8u</option>
                                <option value=gb2312 <?php if ((!empty($v_charset)) && ( $v_charset == 'gb2312')) echo 'selected';?> >gb2312</option>
                                <option value=greek <?php if ((!empty($v_charset)) && ( $v_charset == 'greek')) echo 'selected';?> >greek</option>
                                <option value=cp1250 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp1250')) echo 'selected';?> >cp1250</option>
                                <option value=gbk <?php if ((!empty($v_charset)) && ( $v_charset == 'gbk')) echo 'selected';?> >gbk</option>
                                <option value=latin5 <?php if ((!empty($v_charset)) && ( $v_charset == 'latin5')) echo 'selected';?> >latin5</option>
                                <option value=armscii8 <?php if ((!empty($v_charset)) && ( $v_charset == 'armscii8')) echo 'selected';?> >armscii8</option>
                                <option value=utf8 <?php if ((!empty($v_charset)) && ( $v_charset == 'utf8')) echo 'selected';?> <?php if (empty($v_charset)) echo 'selected';?> >utf8</option>
                                <option value=ucs2 <?php if ((!empty($v_charset)) && ( $v_charset == 'ucs2')) echo 'selected';?> >ucs2</option>
                                <option value=cp866 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp866')) echo 'selected';?> >cp866</option>
                                <option value=keybcs2 <?php if ((!empty($v_charset)) && ( $v_charset == 'keybcs2')) echo 'selected';?> >keybcs2</option>
                                <option value=macce <?php if ((!empty($v_charset)) && ( $v_charset == 'macce')) echo 'selected';?> >macce</option>
                                <option value=macroman <?php if ((!empty($v_charset)) && ( $v_charset == 'macroman')) echo 'selected';?> >macroman</option>
                                <option value=cp852 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp852')) echo 'selected';?> >cp852</option>
                                <option value=latin7 <?php if ((!empty($v_charset)) && ( $v_charset == 'latin7')) echo 'selected';?> >latin7</option>
                                <option value=cp1251 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp1251')) echo 'selected';?> >cp1251</option>
                                <option value=cp1256 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp1256')) echo 'selected';?> >cp1256</option>
                                <option value=cp1257 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp1257')) echo 'selected';?> >cp1257</option>
                                <option value=binary <?php if ((!empty($v_charset)) && ( $v_charset == 'binary')) echo 'selected';?> >binary</option>
                                <option value=geostd8 <?php if ((!empty($v_charset)) && ( $v_charset == 'geostd8')) echo 'selected';?> >geostd8</option>
                                <option value=cp932 <?php if ((!empty($v_charset)) && ( $v_charset == 'cp932')) echo 'selected';?> >cp932</option>
                                <option value=eucjpms <?php if ((!empty($v_charset)) && ( $v_charset == 'eucjpms')) echo 'selected';?> >eucjpms</option>
                            </select>
                        </td>
                    <tr>
                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                            <?php print _('Send credentials to'); echo $panel[$user]['CONTACT'] ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" size="20" class="vst-checkbox" name="v_notify" <?php if (empty($v_notify)) echo "checked=yes"; ?>>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 24px 0 0 0;">
                            <input type="submit" name="ok" value="<?php print _('Add');?>" class="button">
                            <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
