<table class='data'>
<tr class="data-add">
    <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
        <table class="data-col1">
            <tr><td style="padding: 18 0 4 18;"></td></tr>
        </table>
    </td>
    <td class="data-dotted" width="830px" style="vertical-align:top;">
        <table width="830px"><tr>
            <td></td>
        </tr></table>

        <table class="data-col2" width="830px">
            <tr>
                <td style="padding: 24px 0 0 0;">
                    <form method="post">
                        <input type="button" class="add-button" value="Back to users" onClick="location.href='/list/user/'">
                    </form>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
