    <div class="l-center edit">
      <div class="l-sort clearfix">
        <div class="l-sort-toolbar clearfix float-left">
          <span class="title edit"><b><?=__('Editing Package')?></b></span>
            <?php
              if (!empty($_SESSION['error_msg'])) {
                echo "<span class=\"vst-error\"> → ".htmlentities($_SESSION['error_msg'])."</span>";
              } else {
                if (!empty($_SESSION['ok_msg'])) {
                  echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                }
              }
            ?>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
      <?php
        $back = "location.href='/list/package/'";
      ?>
        <form id="vstobjects" name="v_edit_package" method="post"  class="<?=$v_status?>">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="save" value="save" />
            <table class='data'>
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?=translate_date($v_date)?></a><br>
                                    <a class="data-date"><?=$v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?=$v_status?>"><b><?=__($v_status)?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Package Name');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_package" value="<?=htmlentities(trim($v_package, "'"))?>" disabled >
                                    <input type="hidden" name="v_package" value="<?=htmlentities(trim($v_package, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Template')  . " <span class='optional'> " .strtoupper($_SESSION['WEB_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_web_template">
                                        <?php
                                            foreach ($web_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                if ((!empty($v_web_template)) && ( $value == $v_web_template)){
                                                    echo ' selected' ;
                                                }
                                                if ((!empty($v_web_template)) && ( $value == $_POST['v_web_template'])){
                                                    echo ' selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <?php if (!empty($_SESSION['WEB_BACKEND'])) { echo ""; ?>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Backend Template')  . "<span class='optional'>" .strtoupper($_SESSION['WEB_BACKEND']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_backend_template">
                                        <?php
                                            foreach ($backend_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if ((!empty($v_backend_template)) && ( $value == $v_backend_template)){
                                                    echo ' selected' ;
                                                }
                                                if ((!empty($v_backend_template)) && ( $value == $_POST['v_backend_template'])){
                                                    echo ' selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <?php echo ""; }?>
                            <?php if (!empty($_SESSION['PROXY_SYSTEM'])) { echo ""; ?>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Proxy Template')  . "<span class='optional'>" .strtoupper($_SESSION['PROXY_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_proxy_template">
                                        <?php
                                            foreach ($proxy_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                if ((!empty($v_proxy_template)) && ( $value == $v_proxy_template)){
                                                    echo ' selected' ;
                                                }
                                                if ((!empty($v_proxy_template)) && ( $value == $_POST['v_proxy_template'])){
                                                    echo ' selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <?php echo ""; }?>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS Template')  . "<span class='optional'>" .strtoupper($_SESSION['DNS_SYSTEM']) . "</span>";?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_dns_template">
                                        <?php
                                            foreach ($dns_templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                if ((!empty($v_dns_template)) && ( $value == $v_dns_template)){
                                                    echo ' selected' ;
                                                }
                                                if ((!empty($v_dns_template)) && ( $value == $_POST['v_dns_template'])){
                                                    echo ' selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('SSH Access');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_shell">
                                        <?php
                                            foreach ($shells as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".htmlentities($value)."\"";
                                                if ((!empty($v_shell)) && ( $value == $v_shell)){
                                                    echo ' selected' ;
                                                }
                                                if ((!empty($v_shell)) && ( $value == $_POST['v_shell'])){
                                                    echo ' selected' ;
                                                }
                                                echo ">".htmlentities($value)."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_web_domains" value="<?=htmlentities(trim($v_web_domains, "'"))?>">
                                    <img class="unlim-trigger" id="unlim-web-domains" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Aliases');?> <span class="optional">(<?=__('per domain')?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_web_aliases" value="<?=htmlentities(trim($v_web_aliases, "'"))?>">
                                    <img id="unlim-web-aliases" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_dns_domains" value="<?=htmlentities(trim($v_dns_domains, "'"))?>">
                                    <img id="unlim-dns-domain" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('DNS records');?> <span class="optional">(<?=__('per domain')?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_dns_records" value="<?=htmlentities(trim($v_dns_records, "'"))?>">
                                    <img id="unlim-dns-records" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Mail Domains');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_mail_domains" value="<?=htmlentities(trim($v_mail_domains, "'"))?>">
                                    <img id="unlim-mail-domains" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Mail Accounts');?> <span class="optional">(<?=__('per domain')?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_mail_accounts" value="<?=htmlentities(trim($v_mail_accounts, "'"))?>">
                                    <img id="unlim-mail-accounts" class="unlim-trigger" src="/images/unlim.png" />
                                <td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Databases');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_databases" value="<?=htmlentities(trim($v_databases, "'"))?>">
                                    <img id="unlim-databases" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Cron Jobs');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_cron_jobs" value="<?=htmlentities(trim($v_cron_jobs, "'"))?>">
                                    <img id="unlim-cron-jobs" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Backups');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_backups" value="<?=htmlentities(trim($v_backups, "'"))?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Quota');?> <span class="optional">(<?=__('in megabytes')?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_disk_quota" value="<?=htmlentities(trim($v_disk_quota, "'"))?>">
                                    <img id="unlim-disk-quota" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Bandwidth');?> <span class="optional">(<?=__('in megabytes')?>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_bandwidth" value="<?=htmlentities(trim($v_bandwidth, "'"))?>">
                                    <img name="unlim-bandwidth" class="unlim-trigger" src="/images/unlim.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Name Servers');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns1" value="<?=htmlentities(trim($v_ns1, "'"))?>">
                                    <span class="remove-ns additional-control delete"><?=__('delete')?></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_ns2" value="<?=htmlentities(trim($v_ns2, "'"))?>">
                                    <span class="remove-ns additional-control delete"><?=__('delete')?></span>
                                </td>
                            </tr>

                            <?  if($v_ns3)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns3" value="'.htmlentities(trim($v_ns3, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns4)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns4" value="'.htmlentities(trim($v_ns4, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns5)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns5" value="'.htmlentities(trim($v_ns5, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns6)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns6" value="'.htmlentities(trim($v_ns6, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns7)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns7" value="'.htmlentities(trim($v_ns7, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';

                                if($v_ns8)
                                  echo '<tr>
                                    <td>
                                        <input type="text" size="20" class="vst-input" name="v_ns8" value="'.htmlentities(trim($v_ns8, "'")).'">
                                        <span class="remove-ns additional-control delete">'.__('delete').'</span>
                                    </td>
                                </tr>';
                                ?>

                                <tr class="add-ns" <? if($v_ns8) echo 'style="display:none;"'; ?> >
                                    <td class="step-top-small">
                                      <span class="add-ns-button additional-control add"><?=__('Add one more Name Server')?></span>
                                    </td>
                                </tr>

                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <input type="submit" class="button" name="save" value="<?=__('Save')?>">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button cancel" value="<?=__('Back')?>" onclick="<?=$back?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>