            <?php
                $back = $_SESSION['back'];
                if (empty($back)) {
                    $back = "location.href='/list/web/'";
                } else {
                    $back = "location.href='".$back."'";
                }
            ?>
            <table class="submenu">
                <tr>
                    <td style="padding: 20px 10px;" ><a class="name"><b><?php print __('Editing Domain');?></b></a>
                        <?php
                            if (!empty($_SESSION['ok_msg'])) {
                                echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                            }
                            if (!empty($_SESSION['error_msg'])) {
                                echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                            }
                            if (!empty($_SESSION['flash_error_msg'])) {
                                echo " / <span class=\"vst-error\"> FTP USER ".$_SESSION['flash_error_msg']."</span>";
                                unset($_SESSION['flash_error_msg']);
                            }
                        ?> 
                    </td>
                </tr>
            </table>
        </div>

        <form id="vstobjects" name="v_edit_web" method="post">
            <script language="javascript">
                function WEBrandom() {
                    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                    var string_length = 10;
                    var webrandom = '';
                    for (var i=0; i<string_length; i++) {
                        var rnum = Math.floor(Math.random() * chars.length);
                        webrandom += chars.substring(rnum,rnum+1);
                    }
                    document.v_edit_web.v_stats_password.value = webrandom;
                }

                function FTPrandom(elm) {
                    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                    var string_length = 10;
                    var ftprandomstring = '';
                    for (var i=0; i<string_length; i++) {
                        var rnum = Math.floor(Math.random() * chars.length);
                        ftprandomstring += chars.substring(rnum,rnum+1);
                    }

                    $(elm).parents('.ftptable').find('.v-ftp-user-psw').val(ftprandomstring);
                }

                function elementHideShow(elementToHideOrShow){
                    var el = document.getElementById(elementToHideOrShow);
                    if (el.style.display == "block") {
                        el.style.display = "none";
                    } else {
                        el.style.display = "block";
                    }
                }
            </script>
            <table class='data'>
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?php echo strftime("%d %b %Y", strtotime($v_date))?></a><br>
                                    <a class="data-date"><?php echo $v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?php echo $v_status ?>"><b><?php echo __($v_status) ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Domain');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_domain" <?php if (!empty($v_domain)) echo "value=".$v_domain;  ?> disabled> <input type="hidden" name="v_domain" <?php if (!empty($v_domain)) echo "value=".$v_domain;  ?>>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('IP Address');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_ip">
                                        <?php
                                            foreach ($ips as $key => $value) {
                                                $display_ip = $key;
                                                if (!empty($value['NAT'])) $display_ip = $value['NAT'];
                                                $skey = "'".$display_ip."'";
                                                echo "\n\t\t\t\t\t\t\t\t\t\t\t\t<option value=\"".$display_ip."\"";
                                                if ((!empty($v_ip)) && ( $display_ip == $v_ip ) || ( $skey == $v_ip )){
                                                    echo ' selected';
                                                }
                                                echo ">".$display_ip."</option>\n";
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Aliases');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea size="20" class="vst-textinput" name="v_aliases"><?php if (!empty($v_aliases)) echo $v_aliases;  ?></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Web Template');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_template">
                                        <?php
                                            foreach ($templates as $key => $value) {
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                $svalue = "'".$value."'";
                                                if ((!empty($v_template)) && ( $value == $v_template ) || ($svalue == $v_template)){
                                                    echo ' selected' ;
                                                }
                                                echo ">".$value."</option>\n";
                                            }
                                        ?> 
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_proxy" <?php if (!empty($v_proxy)) echo "checked=yes" ?> onclick="javascript:elementHideShow('proxytable');"> <?php print __('Proxy Support');?></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="step-left">
                                    <table style="display:<?php if (empty($v_proxy)) { echo 'none';} else {echo 'block';}?> ;" id="proxytable">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Proxy Template');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="vst-list" name="v_proxy_template">
                                                    <?php
                                                        foreach ($proxy_templates as $key => $value) {
                                                            echo "\t\t\t\t<option value=\"".$value."\"";
                                                            $svalue = "'".$value."'";
                                                            if ((!empty($v_proxy_template)) && ( $value == $v_proxy_template ) || ($svalue == $v_proxy_template)){
                                                                echo ' selected' ;
                                                            }
                                                            if ((empty($v_proxy_template)) && ($value == 'default')){
                                                                echo ' selected' ;
                                                            }
                                                            echo ">".$value."</option>\n";
                                                        }
                                                    ?> 
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Proxy Extensions');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="vst-textinput" name="v_proxy_ext"><?php if (!empty($v_proxy_ext)) { echo $v_proxy_ext;} else { echo 'jpg, jpeg, gif, png, ico, svg, css, zip, tgz, gz, rar, bz2, exe, pdf, doc, xls, ppt, txt, odt, ods, odp, odf, tar, bmp, rtf, js, mp3, avi, mpeg, flv, html, htm'; }  ?></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                            	    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_ssl" <?php if ($v_ssl == 'yes') echo "checked=yes" ?> onclick="javascript:elementHideShow('ssltable');"> <?php print __('SSL Support');?></label> /
                                    <a class="generate" target="_blank" href="/generate/ssl/?domain=<?php echo $v_domain ?>"><?php print __('Generate CSR') ?></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="step-left">
                                    <table style="display:<?php if ($v_ssl == 'no' ) { echo 'none';} else {echo 'block';}?> ;" id="ssltable">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Home Directory');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="vst-list" name="v_ssl_home">

                                                    <option value='same' <?php if ($v_ssl_home == 'same') echo "selected";?>>
                                                         public_html
                                                    </option>
                                                    <option value='single' <?php if ($v_ssl_home == 'single') echo "selected";?>>
                                                        public_shtml
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Certificate');?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="vst-textinput" name="v_ssl_crt"><?php if (!empty($v_ssl_crt)) echo $v_ssl_crt; ?></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Key');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="vst-textinput" name="v_ssl_key"><?php if (!empty($v_ssl_key)) echo $v_ssl_key; ?></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('SSL Certificate Authority / Intermediate');?> <span class="optional">(<?php print __('optional');?>)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea size="20" class="vst-textinput" name="v_ssl_ca"><?php if (!empty($v_ssl_ca)) echo $v_ssl_ca; ?></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Web Statistics');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="v_stats">
                                        <?php
                                            foreach ($stats as $key => $value) {
                                                $svalue = "'".$value."'";
                                                echo "\t\t\t\t<option value=\"".$value."\"";
                                                if (empty($v_stats)) $v_stats = 'none';
                                                if (( $value == $v_stats ) || ($svalue == $v_stats )){
                                                    echo ' selected' ;
                                                }
                                            echo ">". __($value) ."</option>\n";
                                            }
                                    ?> 
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_stats_auth" <?php if (!empty($v_stats_user)) echo "checked=yes" ?> onclick="javascript:elementHideShow('statstable');"><?php print __('Statistics Authorization');?></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="step-left">
                                    <table style="display:<?php if (empty($v_stats_user)) { echo 'none';} else {echo 'block';}?> ;" id="statstable" name="v-add-web-domain-stats-user">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_stats_user" <?php if (!empty($v_stats_user)) echo "value=".$v_stats_user;  ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('Password');?> / <a href="javascript:WEBrandom();" class="generate"><?php print __('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input password" name="v_stats_password" <?php if (!empty($v_stats_password)) echo "value=".$v_stats_password;  ?> id="v_password">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text step-top">
                                    <label><input type="checkbox" size="20" class="vst-checkbox" name="v_ftp" <?php if (!empty($v_ftp_user)) echo "checked=yes" ?> onclick="App.Actions.WEB.toggle_additional_ftp_accounts(this)"> <?php print __('Additional FTP Account');?></label>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <?php foreach ($v_ftp_users as $i => $ftp_user): ?>
                                    <?php
                                        $v_ftp_user     = $ftp_user['v_ftp_user'];
                                        $v_ftp_password = $ftp_user['v_ftp_password'];
                                        $v_ftp_path     = $ftp_user['v_ftp_path'];
                                        $v_ftp_email    = $ftp_user['v_ftp_email'];
                                        $v_ftp_pre_path = $ftp_user['v_ftp_pre_path'];
                                    ?>
                                    <table style="display:<?php if (empty($v_ftp_user)) { echo 'none';} else {echo 'block';}?> ;" class="ftptable ftptable-nrm" name="v_add_domain_ftp">
                                        <tr>
                                            <td class="vst-text input-label">
                                                <?php print __('FTP') ?> #<span class="ftp-user-number"><?php print $i + 1; ?></span> <a class="ftp-remove-user additional-control" onCLick="App.Actions.WEB.remove_ftp_user(this)">(<?php print __('remove') ?>)</a>
                                                <input type="hidden" class="v-ftp-user-deleted" name="v_ftp_user[<?php print $i ?>][delete]" value="0" />
                                                <input type="hidden" class="v-ftp-user-is-new" name="v_ftp_user[<?php print $i ?>][is_new]" value="<?php print $ftp_user['is_new'] ?>" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                <?php print __('Username');?><br>
                                                <span style="font-size: 10pt; color:#777;"><?php print __('Prefix will be automaticaly added to username',$user."_");?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text" size="20" class="vst-input v-ftp-user" <?php print $ftp_user['is_new'] != 1 ? 'disabled="disabled"' : '' ?> name="v_ftp_user[<?php print $i ?>][v_ftp_user]" <?php if (!empty($v_ftp_user)) echo "value=".$v_ftp_user; ?>>
                                                <small class="hint"></small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text step-left  input-label">
                                                <?php print __('Password');?> / <a href="javascript:void(0);" onClick="FTPrandom(this)"; class="generate" ><?php print __('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text" class="vst-input v-ftp-user-psw password" name="v_ftp_user[<?php print $i ?>][v_ftp_password]" <?php if (!empty($v_ftp_password)) echo "value=".$v_ftp_password; ?>>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                 <?php print __('Path');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="hidden" class="vst-input v-ftp-pre-path" name="v_ftp_pre_path" value="<?php print !empty($v_ftp_pre_path) ? $v_ftp_pre_path : '/'; ?>">
                                                <input type="text"  class="vst-input v-ftp-path" name="v_ftp_user[<?php print $i ?>][v_ftp_path]" <?php if (!empty($v_ftp_path)) echo "value=".($v_ftp_path[0] != '/' ? '/' : '').$v_ftp_path; ?>>
                                                <br /><span class="ftp-path-prefix"><?php print $v_ftp_pre_path ?></span><span class="ftp-path-value v-ftp-path-hint"></span>
                                            </td>
                                        </tr>
                                        <?php if ($ftp_user['is_new'] == 1): ?>
                                        <tr>
                                            <td class="vst-text step-left input-label">
                                                 <?php print __('Send FTP credentials to email');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="step-left">
                                                <input type="text"  class="vst-input" name="v_ftp_user[<?php print $i ?>][v_ftp_email]" <?php if (!empty($v_ftp_email)) echo "value=".$v_ftp_email; ?>>
                                            </td>
                                        </tr>
                                        <?php endif; ?>
                                </table>
                                    <?php endforeach; ?>
                                </td>
                            </tr>
                            
                            <tr class="add-new-ftp-user-button" style="<?php print !empty($v_ftp_user) ? '' : 'display:none;' ?>">
                                <td class="vst-text step-top v-add-new-user step-bottom">
                                    <a class="additional-control" onClick="App.Actions.WEB.add_ftp_user_form()"><?php print __('Add one more FTP Account');?></a>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <input type="submit" class="button" name="save" value="<?php print __('Save');?>">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
        
        <div id="templates" class="hidden">
            <table class="ftptable ftptable-nrm" name="v_add_domain_ftp">
                <tr> 
                    <td class="vst-text input-label">
                        <?php print __('FTP') ?> #<span class="ftp-user-number"></span> <a class="ftp-remove-user additional-control" onCLick="App.Actions.WEB.remove_ftp_user(this)">(<?php print __('remove') ?>)</a>
                        <input type="hidden"  class="v-ftp-user-deleted" name="v_ftp_user[%INDEX%][delete]" value="0" />
                        <input type="hidden" class="v-ftp-user-is-new" name="v_ftp_user[%INDEX%][is_new]" value="1" />
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left input-label">
                        <?php print __('Username');?><br>
                        <span style="font-size: 10pt; color:#777;"><?php print __('Prefix will be automaticaly added to username',$user."_");?></span>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text" size="20" class="vst-input v-ftp-user" name="v_ftp_user[%INDEX%][v_ftp_user]" value="">
                        <small class="hint"></small>
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left  input-label">
                        <?php print __('Password');?> / <a href="javascript:void(0);" onClick="FTPrandom(this)"; class="generate" ><?php print __('generate');?></a>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text" class="vst-input v-ftp-user-psw password" name="v_ftp_user[%INDEX%][v_ftp_password]" value="">
                    </td>
                </tr>

                <tr>
                    <td class="vst-text step-left input-label">
                         <?php print __('Path');?>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="hidden" class="vst-input v-ftp-pre-path" name="v_ftp_pre_path" value="">
                        <input type="text"  class="vst-input v-ftp-path" name="v_ftp_user[%INDEX%][v_ftp_path]" value="">
                        <br /><span class="ftp-path-prefix"><?php print $v_ftp_pre_path_new_user ?></span><span class="ftp-path-value v-ftp-path-hint"></span>
                    </td>
                </tr>
                <tr>
                    <td class="vst-text step-left input-label">
                         <?php print __('Send FTP credentials to email');?>
                    </td>
                </tr>
                <tr>
                    <td class="step-left">
                        <input type="text"  class="vst-input" name="v_ftp_user[%INDEX%][v_ftp_email]" value="">
                    </td>
                </tr>
        </table>
        </div>
        
        <script type="text/javascript">
            GLOBAL.FTP_USER_PREFIX = '<?php echo $user; ?>_';
            $('#vstobjects').bind('submit', function(evt) {
                $('input[disabled]').each(function(i, elm) {
                    var copy_elm = $(elm).clone(true);
                    $(copy_elm).attr('type', 'hidden');
                    $(copy_elm).removeAttr('disabled');
                    $(elm).after(copy_elm);
                });
            });
        </script>
        <script type="text/javascript" src="/js/pages/edit.web.js"></script>

