                                <?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/dns/?domain=".$_GET['domain']."'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Editing DNS Record');?></b></a>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                                                } else {
                                                    if (!empty($_SESSION['ok_msg'])) {
                                                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                                    }
                                                }
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <form id="vstobjects" name="v_edit_dns_rec" method="post">
                        <table class='data'>
                            <tr class="data-add">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 24px 0 2px 4px;"><a class="data-date" ?><?php echo date("d M Y", strtotime($v_date))?></a></td></tr>
                                        <tr><td style="padding: 0 0 6px 4px;"><a class="data-date" ?><?php echo $v_time?></a></td></tr>
                                        <tr><td style="padding: 0 0 0 21px;" class="data-<?php echo $v_status ?>"><b><?php echo $v_status ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Domain');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_domain" <?php echo "value=".$v_domain;  ?> disabled >
                                                <input type="hidden" name="v_domain" <?php echo "value=".$v_domain; 	 ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Record');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_rec" <?php if (!empty($v_rec)) echo "value=".$v_rec; ?> disabled> <input type="hidden" name="v_record_id" <?php if (!empty($v_record_id)) echo "value=".$v_record_id; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Type');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_type" <?php if (!empty($v_rec)) echo "value=".$v_type; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('IP or Value');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_val" <?php if (!empty($v_val)) echo "value='".$v_val."'"; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Priority');?> <span style="padding:0 0 0 6px; font-size: 10pt; color:#555;">(<?php print _('optional');?>)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_priority" <?php if (!empty($v_priority)) echo "value=".$v_priority; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 24px 0 0 0;">
                                                <input type="submit" class="button" name="save" value="<?php print _('Save');?>">
                                                <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
