                                <?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/db/'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Editing Database');?></b></a>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                                                } else {
                                                    if (!empty($_SESSION['ok_msg'])) {
                                                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                                    }
                                                }
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <form id="vstobjects" name="v_edit_db" method="post">
                        <script type="text/javascript">
                            function elementHideShow(elementToHideOrShow) {
                                var el = document.getElementById(elementToHideOrShow);
                                if (el.style.display == "block") {
                                    el.style.display = "none";
                                } else {
                                    el.style.display = "block";
                                }
                            }
                            function randomString() {
                                var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                                var string_length = 10;
                                var randomstring = '';
                                for (var i=0; i<string_length; i++) {
                                    var rnum = Math.floor(Math.random() * chars.length);
                                    randomstring += chars.substring(rnum,rnum+1);
                                }
                                document.v_edit_db.v_password.value = randomstring;
                            }
                        </script>

                       <table class='data'>
                            <tr class="data-add">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 24px 0 2px 4px;"><a class="data-date" ?><?php echo date("d M Y", strtotime($v_date))?></a></td></tr>
                                        <tr><td style="padding: 0 0 6px 4px;"><a class="data-date" ?><?php echo $v_time?></a></td></tr>
                                        <tr><td style="padding: 0 0 0 21px;" class="data-<?php echo $v_status ?>"><b><?php echo $v_status ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <table class="data-col2" width="600px">
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Database');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_database" <?php if (!empty($v_database)) echo "value=".$v_database; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Username');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_dbuser" <?php if (!empty($v_dbuser)) echo "value=".$v_dbuser; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10px 0 0 2px;">
                                                <?php print _('Password');?> <a href="javascript:randomString();" class="genpass"><?php print _('generate');?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_password"  <?php if (!empty($v_password)) echo "value=".$v_password; ?>>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Type');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_type" <?php if (!empty($v_type)) echo "value=".$v_type; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Host');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_host" <?php if (!empty($v_host)) echo "value=".$v_host; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="vst-text" style="padding: 10 0 0 2px;">
                                                <?php print _('Charset');?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" size="20" class="vst-input" name="v_charset" <?php if (!empty($v_charset)) echo "value=".$v_charset; ?> disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 24px 0 0 0;">
                                                <input type="submit" name="save" value="<?php print _('Save');?>" class="button">
                                                <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
