    <div class="l-center edit">
      <div class="l-sort clearfix">
        <div class="l-sort-toolbar clearfix float-left">
          <span class="title edit"><b><?=__('Editing Mail Account')?></b></span>
            <?php
              if (!empty($_SESSION['error_msg'])) {
                echo "<span class=\"vst-error\"> → ".htmlentities($_SESSION['error_msg'])."</span>";
              } else {
                if (!empty($_SESSION['ok_msg'])) {
                  echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                }
              }
            ?>
        </div>

      </div>
      <? display_error_block() ?>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
      <?php
        $back = $_SESSION['back'];
        if (empty($back)) {
          $back = "location.href='/list/mail/?domain=".$_GET['domain']."'";
        } else {
          $back = "location.href='".$back."'";
        }
      ?>
        <form id="vstobjects" name="v_edit_mail_acc" method="post"  class="<?=$v_status?>">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <input type="hidden" name="save" value="save" />
            <script type="text/javascript">
                function elementHideShow(elementToHideOrShow) {
                    var el = document.getElementById(elementToHideOrShow);
                    if (el.style.display == "block") {
                        el.style.display = "none";
                    } else {
                        el.style.display = "block";
                    }
                }
                function randomString() {
                    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                    var string_length = 10;
                    var randomstring = '';
                    for (var i=0; i<string_length; i++) {
                        var rnum = Math.floor(Math.random() * chars.length);
                        randomstring += chars.substring(rnum,rnum+1);
                    }
                    document.v_edit_mail_acc.v_password.value = randomstring;
                }
            </script>

            <table class='data'>
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?=translate_date($v_date)?></a><br>
                                    <a class="data-date"><?=$v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?php echo $v_status ?>"><b><?php echo $v_status ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                    <table class="data-col2" width="600px">
                        <tr>
                            <td class="vst-text step-top input-label">
                                <?php print __('Account');?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input" name="v_email" <?php if (!empty($v_account)) echo "value=".htmlentities($_GET['account'])."@".htmlentities($_GET['domain']); ?> disabled >
                                <input type="hidden" name="v_domain" <?php echo "value=".htmlentities($v_domain); ?>>
                                <input type="hidden" name="v_account" <?php if (!empty($v_account)) echo "value=".htmlentities($v_account); ?> >
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <?php print __('Password');?> / <a href="javascript:randomString();" class="generate"><?php print __('generate');?></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input password" name="v_password" <?php if (!empty($v_password)) echo "value=".htmlentities($v_password); ?>
                            </td>
                         </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <?php print __('Quota');?> <span class="optional">(<?=__('in megabytes')?>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" size="20" class="vst-input" name="v_quota" <?php if (!empty($v_quota)) {echo "value=".htmlentities($v_quota);} else { echo "value=0";}; ?>>
                                <img class="unlim-trigger" id="unlim-quota" src="/images/unlim.png" />
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <?php print __('Aliases');?> <span class="optional">(<?=__('use local-part')?>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea size="20" class="vst-textinput" name="v_aliases"><?php if (!empty($v_aliases)) echo htmlentities($v_aliases);  ?></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <?php print __('Forward to');?> <span class="optional">(<?=__('one or more email addresses')?>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea size="20" class="vst-textinput" name="v_fwd"><?php if (!empty($v_fwd)) echo htmlentities($v_fwd);  ?></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <label><input type="checkbox" size="20" class="vst-checkbox" name="v_fwd_only" <?php if ($v_fwd_only == 'yes') echo "checked=yes" ?>> <?php print __('Do not store forwarded mail');?></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="vst-text input-type input-label">
                                <label><input type="checkbox" size="20" class="vst-checkbox" name="v_autoreply" <?php if ($v_autoreply == 'yes') echo "checked=yes" ?> onclick="javascript:elementHideShow('autoreplytable');"> <?php print __('Autoreply');?></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="step-left">
                                <table style="display:<?php if ($v_autoreply == 'no') { echo 'none';} else {echo 'block';}?> ;" id="autoreplytable">
                                    <tr>
                                        <td class="vst-text" style="padding: 12px 0 0 0;">
                                            <?php print __('Message');?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea size="20" class="vst-textinput" name="v_autoreply_message"><?php if (!empty($v_autoreply_message)) echo htmlentities($v_autoreply_message); ?></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table class="data-col2">
                        <tr>
                            <td class="step-top" width="116px">
                                <input type="submit" name="save" value="<?php print __('Save');?>" class="button">
                            </td>
                            <td class="step-top">
                                <input type="button" class="button cancel" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="/js/pages/edit.mail_acc.js"></script>
