                                <?php
                                    $back = $_SESSION['back'];
                                    if (empty($back)) {
                                        $back = "location.href='/list/mail/?domain=".$_GET['domain']."'";
                                    } else {
                                        $back = "location.href='".$back."'";
                                    }
                                ?>

                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 10px 2px 10px 0;" ><a class="name"><b><?php print _('Editing Mail Account');?></b></a>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                                    echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                                                } else {
                                                    if (!empty($_SESSION['ok_msg'])) {
                                                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                                    }
                                                }
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <form id="vstobjects" name="v_edit_mail_acc" method="post">
                        <script type="text/javascript">
                            function elementHideShow(elementToHideOrShow) {
                                var el = document.getElementById(elementToHideOrShow);
                                if (el.style.display == "block") {
                                    el.style.display = "none";
                                } else {
                                    el.style.display = "block";
                                }
                            }
                            function randomString() {
                                var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                                var string_length = 10;
                                var randomstring = '';
                                for (var i=0; i<string_length; i++) {
                                    var rnum = Math.floor(Math.random() * chars.length);
                                    randomstring += chars.substring(rnum,rnum+1);
                                }
                                document.v_edit_mail_acc.v_password.value = randomstring;
                            }
                        </script>

                        <table class='data'>
                            <tr class="data-add">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 24px 0 2px 4px;"><a class="data-date" ?><?php echo date("d M Y", strtotime($v_date))?></a></td></tr>
                                        <tr><td style="padding: 0 0 6px 4px;"><a class="data-date" ?><?php echo $v_time?></a></td></tr>
                                        <tr><td style="padding: 0 0 0 21px;" class="data-<?php echo $v_status ?>"><b><?php echo $v_status ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                </table>
                                <table class="data-col2" width="600px">
                                    <tr>
                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                            <?php print _('Account');?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" size="20" class="vst-input" name="v_email" <?php if (!empty($v_account)) echo "value=".$_GET['account']."@".$_GET['domain']; ?> disabled >
                                            <input type="hidden" name="v_domain" <?php echo "value=".$v_domain; ?>>
                                            <input type="hidden" name="v_account" <?php if (!empty($v_account)) echo "value=".$v_account; ?> >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                            <?php print _('Password');?> <a href="javascript:randomString();" class="genpass"><?php print _('generate');?></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" size="20" class="vst-input" name="v_password" <?php if (!empty($v_password)) echo "value=".$v_password; ?>
                                        </td>
                                     </tr>
                                    <tr>
                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                            <?php print _('Quota');?> <span style="padding: 0pt 0pt 0pt 6px; font-size: 10pt; color: rgb(85, 85, 85);">(<?php print _('in megabytes');?>)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" size="20" class="vst-input" name="v_quota" <?php if (!empty($v_quota)) {echo "value=".$v_quota;} else { echo "value=0";}; ?>>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vst-text" style="padding: 10 0 0 2px;">
                                            <?php print _('Aliases');?> <span style="padding: 0pt 0pt 0pt 6px; font-size: 10pt; color: rgb(85, 85, 85);">(<?php print _('use local-part');?>)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea size="20" class="vst-textinput" name="v_aliases"><?php if (!empty($v_aliases)) echo $v_aliases;  ?></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vst-text" style="padding: 10 0 0 2px;">
                                            <?php print _('Forward to');?> <span style="padding: 0pt 0pt 0pt 6px; font-size: 10pt; color: rgb(85, 85, 85);">(<?php print _('one or more email addresses');?>)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea size="20" class="vst-textinput" name="v_fwd"><?php if (!empty($v_fwd)) echo $v_fwd;  ?></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vst-text" style="padding: 10px 0 0 2px;">
                                            <?php print _('Autoreply');?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" size="20" class="vst-checkbox" name="v_autoreply" <?php if ($v_autoreply == 'yes') echo "checked=yes" ?> onclick="javascript:elementHideShow('autoreplytable');">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="display:<?php if ($v_autoreply == 'no') { echo 'none';} else {echo 'block';}?> ;" id="autoreplytable">
                                                <tr>
                                                    <td class="vst-text" style="padding: 9px 0 0 2px;">
                                                        <?php print _('Message');?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <textarea size="20" class="vst-textinput" name="v_autoreply_message"><?php if (!empty($v_autoreply_message)) echo $v_autoreply_message; ?></textarea>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 24px 0 0 0;">
                                            <input type="submit" name="save" value="<?php print _('Save');?>" class="button">
                                            <input type="button" class="button" value="<?php print _('Back');?>" onclick="<?php echo $back ?>">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </form>
