            <?php
                $back = $_SESSION['back'];
                if (empty($back)) {
                    $back = "location.href='/list/db/'";
                } else {
                    $back = "location.href='".$back."'";
                }
            ?> 
            <table class="submenu">
                <tr>
                    <td style="padding: 20px 10px;" ><a class="name"><b><?php print __('Editing Database');?></b></a>
                        <?php
                            if (!empty($_SESSION['error_msg'])) {
                                echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                            } else {
                                if (!empty($_SESSION['ok_msg'])) {
                                    echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                                }
                            }
                        ?> 
                    </td>
                </tr>
            </table>
        </div>

        <form id="vstobjects" name="v_edit_db" method="post">
            <script type="text/javascript">
                function elementHideShow(elementToHideOrShow) {
                    var el = document.getElementById(elementToHideOrShow);
                    if (el.style.display == "block") {
                        el.style.display = "none";
                    } else {
                        el.style.display = "block";
                    }
                }
                function randomString() {
                    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
                    var string_length = 10;
                    var randomstring = '';
                    for (var i=0; i<string_length; i++) {
                        var rnum = Math.floor(Math.random() * chars.length);
                        randomstring += chars.substring(rnum,rnum+1);
                    }
                    document.v_edit_db.v_password.value = randomstring;
                }
            </script>

           <table class='data'>
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                    <a class="data-date"><?php echo strftime("%d %b %Y", strtotime($v_date))?></a><br>
                                    <a class="data-date"><?php echo $v_time?></a>
                                </td>
                            </tr>
                            <tr><td class="data-<?php echo $v_status ?>"><b><?php echo __($v_status) ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2" width="600px">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Database');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_database" <?php if (!empty($v_database)) echo "value=".$v_database; ?> disabled>
                                    <small class="hint"></small>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('User');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_dbuser" <?php if (!empty($v_dbuser)) echo "value=".$v_dbuser; ?>>
                                    <small class="hint"></small>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Password');?> / <a href="javascript:randomString();" class="generate"><?php print __('generate');?></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input password" name="v_password"  <?php if (!empty($v_password)) echo "value=".$v_password; ?>>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Type');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_type" <?php if (!empty($v_type)) echo "value=".$v_type; ?> disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Host');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_host" <?php if (!empty($v_host)) echo "value=".$v_host; ?> disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    <?php print __('Charset');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" size="20" class="vst-input" name="v_charset" <?php if (!empty($v_charset)) echo "value=".$v_charset; ?> disabled>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <input type="submit" class="button" name="save" value="<?php print __('Save');?>">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>

    <script type="text/javascript">
        GLOBAL.DB_USER_PREFIX = '<?php echo $user; ?>_';
        GLOBAL.DB_DBNAME_PREFIX = '<?php echo $user; ?>_';
    </script>
    <script type="text/javascript" src="/js/pages/edit.db.js"></script>
