            <table class="submenu">
                <tr>
                    <td class="wrapper">
                        <div class="submenu-button-block">
                            <button class="submenu-button-main" onclick="location.href='/add/ip/'"> <?php print __('Add IP');?> </button>
                        </div>
                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <div class="submenu-select-block">
                            <form action="/bulk/ip/" method="post" id="objects">
                            <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                            <select class="submenu-select-dropdown" name="action">
                                <option value=""><?php print __('apply to selected');?></option>
                                <option value="reread IP"><?php print __('reread IP');?></option>
                                <option value="delete"><?php print __('delete');?></option>
                            </select>
                            <input type="submit" name="ok" value="›" class="submenu-button-select">
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
            <table class='data'>

                <?php
                    foreach ($data as $key => $value) {
                        ++$i;
                ?> 

                <tr class="data-row">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td><input type="checkbox" class="ch-toggle" name="ip[]" value="<?php echo $key ?>"></td></tr>
                            <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></a></td></tr>
                            <tr><td class="data-active"><b><?php print __('active');?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                            <span class="do_delete">
                                <img src="/images/delete.png" width="7px" height="7px">
                                <?php print __('delete');?> 
                                <input type="hidden" name="delete_url" value="/delete/ip/?ip=<?php echo "$key" ?>" />
                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print __('Confirmation');?>">
                                    <p class="counter-value"><?php print __('DELETE_IP_CONFIRMATION',$key);?></p>
                                </div>
                            </span>
                        </a>
                        <a href="/edit/ip/?ip=<?php echo $key ?>" class="data-controls">
                            <span>
                                <img src="/images/edit.png" width="8px" height="8px">
                                <?php print __('edit');?>
                            </span>
                        </a>

                        <table class="data-col2">
                            <tr>
                                <td colspan=3 class="domain">
                                    <b><?php echo $key ?></b>
                                    <?php if (!empty($data[$key]['NAT'])) echo ' → <b>' . $data[$key]['NAT'] . '</b>'; ?>
                                    <a class="aliases" style="padding:0 0 0 8px;"><?php echo  $data[$key]['NAME'] ?></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top;" width="239px">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php echo $data[$key]['NETMASK'] ?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name">
                                                <?php echo $data[$key]['INTERFACE'] ?> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;" width="297px">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Domains');?>:
                                            </td>
                                            <td>
                                                <a class="counter-value"><?php echo $data[$key]['U_WEB_DOMAINS'] ?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Status');?>:
                                            </td>
                                            <td>
                                                <a class="counter-value"> <?php echo __($data[$key]['STATUS']) ?></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Owner');?>:
                                            </td>
                                            <td>
                                                <a class="counter-value"> <?php echo __($data[$key]['OWNER']) ?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Users');?>:
                                            </td>
                                            <td>
                                                <a class="counter-value"> <?php echo str_replace(',', ', ', $data[$key]['U_SYS_USERS']) ?></a>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <?php
                    }
                ?> 
            </table>
            </form>

            <div class="data-count">
                <?php
                    if ( $i == 1) {
                        echo __('1 IP address');
                    } else {
                        echo __('%s IP addresses',$i);
                    }
                ?> 
            </div>
        </div>
