    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
        <?php
          if ($user == 'admin') {
            echo '<a href="/add/user/" class="ui-button cancel" title="'.__('Add User').'"><i class="fas fa-plus-circle status-icon-green"></i>'.__('Add User').'</a>&nbsp;';
          } else {
            echo '<a href="/add/web/" class="ui-button cancel" title="'.__('Add Web Domain').'"><i class="fas fa-plus-circle status-icon-green"></i>'.__('Add Web Domain').'</a>';
          }
        ?>
      </div>
        <ul class="context-menu sort-order" style="display:none;">
          <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-name"><span class="name"><?=__('Username')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-disk" sort_as_int="1"><span class="name"><?=__('Disk')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-bandwidth" sort_as_int="1"><span class="name"><?=__('Bandwidth')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="sort-by">
                  <?=__('sort by');?>: <span><b><?=__('Date')?></b></span> <i class="l-icon-down-arrow media-top"></i>
                </td>
              <td>
                <form action="/bulk/user/" method="post" id="objects">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <div class="l-select">
                    <select class="" name="action">
                      <option value=""><?=__('apply to selected')?></option>
                      <option value="rebuild"><?=__('rebuild')?></option>
                      <option value="rebuild web"><?=__('rebuild web')?></option>
                      <option value="rebuild dns"><?=__('rebuild dns')?></option>
                      <option value="rebuild mail"><?=__('rebuild mail')?></option>
                      <option value="rebuild db"><?=__('rebuild db')?></option>
                      <option value="rebuild cron"><?=__('rebuild cron')?></option>
                      <option value="update counters"><?=__('update counters')?></option>
                      <option value="suspend"><?= __('suspend')?></option>
                      <option value="unsuspend"><?=__('unsuspend')?></option>
                      <option value="delete"><?=__('delete')?></option>
                    </select>
                  </div>
                  <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
              </td>

            </tr>
          </table>
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>

    <!-- /.l-separator --> 
    <div class="l-center units animated fadeIn">
        <div class="l-unit table-header">
      
            <div class="l-unit__col l-unit__col--right">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                    </div>
                  
                  <div class="clearfix l-unit__stat-col--left wide-3"><b><?php print __('Name');?></b></div>
                  <div class="clearfix l-unit__stat-col--left"><b>&nbsp;</b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact-3"><b><?php print __('Package');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('IPs');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Disk');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Bandwidth');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Web');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Mail');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('DNS');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('DB');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Jobs');?></b></div>
                  <div class="clearfix l-unit__stat-col--left text-center compact"><b><?php print __('Backups');?></b></div>
             </div>
          </div>

      <?php
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_USER_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend' ;
            $spnd_confirmation = 'SUSPEND_USER_CONFIRMATION' ;
          }
      ?>

      <div class="l-unit  <? if($status == 'suspended') echo 'l-unit--suspended'; if($_SESSION['favourites']['USER'][$key] == 1) echo ' l-unit--starred';?>" v_section="user"
v_unit_id="<?=$key?>" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>"
sort-bandwidth="<?=$data[$key]['U_BANDWIDTH']?>" sort-disk="<?=$data[$key]['U_DISK']?>" sort-star="<? if($_SESSION['favourites']['USER'][$key] == 1) echo '1'; else echo '0'; ?>">
      
<!-- /.l-unit-toolbar -->
        <div class="l-unit__col l-unit__col--right">
          <div class="clearfix l-unit__stat-col--left super-compact">
            <input id="check<?=$i?>" class="ch-toggle" type="checkbox" name="user[]" value="<?=$key?>">
          </div>
              <div class="clearfix l-unit__stat-col--left wide-3"><b><a href="/edit/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>"><?=$data[$key]['FNAME']?> <?=$data[$key]['LNAME']?> <span style="font-weight: normal !important;">(<?=$key?>)</span></b></a><br /><span style="font-size: 0.75rem;"><?=str_replace(',', '<br />',$data[$key]['NS'])?></span></div>
              <div class="clearfix l-unit__stat-col--left text-right"><b>
                  <!-- START QUICK ACTION TOOLBAR AREA -->

                    <!-- l-unit-toolbar__col -->
                    <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
                        <div class="actions-panel clearfix">
                            <?
                            if ($key == $user) {
                            ?>
                            <?php
                              } else {
                              ?>
                              <a href="/login/?loginas=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-sign-in-alt status-icon-green status-icon-dim icon-large"></i></a>
                            <?}?>
                            
                          <div class="actions-panel__col actions-panel__edit shortcut-enter" key-action="href"><a href="/edit/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-pencil-alt status-icon-orange status-icon-dim"></i></div>
                          <div class="actions-panel__col actions-panel__suspend shortcut-s" key-action="js">
                            <a id="<?=$spnd_action ?>_link_<?=$i?>" class="data-controls do_<?=$spnd_action?>">
                              <i class="fas fa-pause status-icon-highlight status-icon-dim do_<?=$spnd_action?>"></i>
                              <input type="hidden" name="<?=$spnd_action?>_url" value="/<?=$spnd_action?>/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>" />
                              <div id="<?=$spnd_action?>_dialog_<?=$i?>" class="confirmation-text-suspention hidden" title="<?=__('Confirmation')?>">
                                <p class="confirmation"><?=__($spnd_confirmation,$key)?></p>
                              </div>
                            </a>
                          </div>
                          <div class="actions-panel__col actions-panel__delete shortcut-delete" key-action="js">
                            <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                              <i class="fas fa-trash status-icon-red status-icon-dim do_delete"></i>
                              <input type="hidden" name="delete_url" value="/delete/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>" />
                              <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                                <p class="confirmation"><?=__('DELETE_USER_CONFIRMATION',$key)?></p>
                              </div>
                            </a>
                          </div>
            
                        </div>
                        <!-- /.actiona-panel -->
                      </div>
                      <!-- l-unit-toolbar__col -->
                    <!-- END QUICK ACTION TOOLBAR AREA -->
                </b></div>
              <div class="clearfix l-unit__stat-col--left text-center compact-3"><b><?=$data[$key]['PACKAGE']?></b></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['IP_OWNED']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_DISK'])?></span></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?></span></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_WEB_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_MAIL_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_DNS_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_DATABASES']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_CRON_JOBS']?></div>
              <div class="clearfix l-unit__stat-col--left text-center compact"><?=$data[$key]['U_BACKUPS']?></div>
          </div>
         </div>
       <!-- /.l-unit__col -->
     <!-- /.l-unit -->
     <!--div class="l-separator"></div-->
     <!-- /.l-separator -->
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator visible"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 user account');
              } else {
                echo __('%s user accounts',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
