
                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 12px 0 8px 6px">
                                            <div style="float:left">
                                                <button style="width:120px; padding: 2px 0px;" > <?php print _('Create Backup');?> </button>
                                            </div>
                                            <div style="text-align: right; float: right;">
                                                <form action="/search/" method="get" >
                                                <input type="text" name="q" style="margin: 2px 2px 0px 0px; width: 250px; padding: 3px;" size="30">
                                                <input type="submit" value="Search" class="button" style="font-size: 12px; height: 24px;">
                                                </form>
                                            </div>
                                            <div style="float:left; padding-left: 26px;">
                                                <form action="/bulk/backup/" method="post" id="objects">
                                                <a style="padding: 0 4px 0 12px" class="select-controls" href='javascript:checkedAll("objects");'> <?php print _('toggle all');?> </a>
                                                <select style="margin:0 2px 0 0px;" name="action">
                                                    <option><?php print _('apply to selected');?></option>
                                                    <option><?php print _('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="button" style="width: 37px; font-size: 12px; height: 24px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class="data">

                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    $web = 'no';
                                    $dns = 'no';
                                    $mail = 'no';
                                    $db = 'no';

                                    if (!empty($data[$key]['WEB'])) $web = 'yes ¨';
                                    if (!empty($data[$key]['DNS'])) $dns = 'yes ¨';
                                    if (!empty($data[$key]['MAIL'])) $mail = 'yes ¨';
                                    if (!empty($data[$key]['DB'])) $db = 'yes ¨';
                            ?>

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="backup[]" value="<?php echo $key ?>" ></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                        <tr><td class="data-active"><b><?php print _('active');?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                            <td class="data-controls" width="80px"><a href="/download/backup/?backup=<?php echo $key ?>" target="_blank"><img src="/images/download.png" width="8px" height="8px"> <?php print _('download');?></a></td>
                                            <td class="data-controls" width="80px"><a href="#" id="restore_link_<?php echo "$i"?>"><img src="/images/restore.png" width="6px" height="8px"> <?php print _('restore');?></a></td>
                                            <td class="data-controls do_delete" width="70px">
                                                <img src="/images/delete.png" width="7px" height="7px" class="do_delete">
                                                <a id="delete_link_<?php echo $i ?>" class="do_delete"> <?php print _('delete');?></a>
                                                <input type="hidden" name="delete_url" value="/delete/backup/?backup=<?php echo "$key" ?>" />
                                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print _('Confirmation');?>">
                                                    <p class="counter-value"><?php print _('BACKUP_DELETE_CONFIRMATION',$key);?></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="domain" style="padding: 0 0 0 4px;">
                                                <b><?php echo $key ?></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;" >
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" style="padding: 2px 0 0 0">
        	                                            <?php echo $data[$key]['TYPE'] ?> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="chart1">
                                                            <?php print _('Run Time');?>: <?php echo humanize_time($data[$key]['RUNTIME']) ?>
                                                        </td>
	                                            </tr>
                                                    <tr>
                                                        <td class="chart1">
                                                            <?php print _('Backup Size');?>: <?php echo humanize_usage($data[$key]['SIZE']) ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="250">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('SYS');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo $data[$key]['VESTA'] ?>">
                                                                <?php echo $data[$key]['VESTA'] ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('WEB');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo str_replace(',', ', ', $data[$key]['WEB']) ?>">
                                                                <?php echo $web ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('DNS');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo str_replace(',', ', ', $data[$key]['DNS']) ?>"> 
                                                                <?php echo $dns ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td rowspan=4 style="vertical-align:top;" width="300">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('MAIL');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo str_replace(',', ', ', $data[$key]['MAIL']) ?>"> 
                                                                <?php echo $mail ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('DB');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo str_replace(',', ', ', $data[$key]['DB']) ?>">
                                                                <?php echo $db ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name" width="48">
                                                            <?php print _('CRON');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value" title="<?php echo $data[$key]['CRON'] ?>">
                                                                <?php echo $data[$key]['CRON'] ?> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <?php
                                }
                            ?> 
    
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo _('one archive');
                                        } else {
                                            echo _('%s archives',$i);
                                        }
                                    ?>
                                </td>
                            </tr>
                        </table>
                    </div>

