    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <a href="/add/package/" class="l-sort__create-btn" title="<?=__('Add Package')?>"></a>
        <ul class="context-menu sort-order" style="display:none;">
          <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-name"><span class="name"><?=__('Package Name')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <input type="submit" value="" class="l-sort-toolbar__search" onClick="return doSearch('/search/')" />
                </form>
              </td>
              <td class="toggle-all">
                <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                <label for="toggle-all" class="check-label toggle-all"><?=__('toggle all')?></label>
              </td>
              <td class="sort-by">
                <?=__('sort by');?>: <span><b><?=__('Date')?></b></span> <i class="l-icon-down-arrow media-top"></i>
              </td>
              <td>
                <form action="/bulk/package/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action" id="">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="delete"><?=__('delete')?></option>
                  </select>
                </div>
                <input type="submit" class="l-sort-toolbar__filter-apply" value="" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units">
      <?php
        foreach ($data as $key => $value) {
           ++$i;
      ?>


      <div class="l-unit <? if($data[$key]['SUSPENDED'] == 'yes') echo 'l-unit--suspended'; if($_SESSION['favourites']['PACKAGE'][$key] == 1) echo ' l-unit--starred'; ?>"
v_unit_id="<?=$key?>" v_section="package" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>"
sort-star="<?if($_SESSION['favourites']['PACKAGE'][$key] == 1) echo '1'; else echo '0'; ?>">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
            <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="package[]" value="<?php echo $key ?>">
            <label for="check<?php echo $i ?>" class="check-label"></label>
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <div class="actions-panel clearfix">
              <div class="actions-panel__col actions-panel__edit shortcut-enter" key-action="href"><a href="/edit/package/?package=<?=$key?>"><?=__('edit')?> <i></i></a><span class="shortcut enter">&nbsp;&#8629;</span></div>
              <div class="actions-panel__col actions-panel__delete shortcut-delete" key-action="js">
                <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                  <?=__('delete')?> <i class="do_delete"></i>
                  <input type="hidden" name="delete_url" value="/delete/package/?package=<?=$key?>&token=<?=$_SESSION['token']?>" />
                  <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__('DELETE_PACKAGE_CONFIRMATION',$key)?></p>
                  </div>
                </a>
                <span class="shortcut delete">&nbsp;Del</span>
              </div>

            </div>
            <!-- /.actiona-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix">
          <div class="l-unit__date">
            <?=translate_date($data[$key]['DATE'])?>
          </div>
          <div class="l-unit__suspended"><?__('suspended')?></div>
          <div class="text-center">
            <i class="l-icon-star"></i>
          </div>
        </div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__name separate">
            <?=$key?>
          </div>


          <div class="l-unit__stats">
            <table>

               <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Web Template')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['WEB_TEMPLATE']?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('DNS domains')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['DNS_DOMAINS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Backups')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['BACKUPS']?></b>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <? if (!empty($_SESSION['PROXY_SYSTEM'])) { ?>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Proxy Template')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['PROXY_TEMPLATE']?></b>
                    </div>
                  </div>
                  <? } ?>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('DNS records')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['DNS_RECORDS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Bandwidth')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
<?php if (preg_match('/[a-z]/i', $data[$key]['BANDWIDTH'])): ?>
                      <b><?=__($data[$key]['BANDWIDTH'])?></b>
<?php else: ?>
                      <b><?=humanize_usage_size($data[$key]['BANDWIDTH'])?></b> <?=humanize_usage_measure($data[$key]['BANDWIDTH'])?>

<?php endif; ?>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('DNS Template')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['DNS_TEMPLATE']?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Mail Domains')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['MAIL_DOMAINS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Disk')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
<?php if (preg_match('/[a-z]/i', $data[$key]['DISK_QUOTA'])): ?>
                      <b><?=__($data[$key]['DISK_QUOTA'])?></b>
<?php else: ?>
                      <b><?=humanize_usage_size($data[$key]['DISK_QUOTA'])?></b> <?=humanize_usage_measure($data[$key]['DISK_QUOTA'])?>

<?php endif; ?>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('SSH Access')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=$data[$key]['SHELL']?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Mail Accounts')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['MAIL_ACCOUNTS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Name Servers')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=str_replace(',', '<br>',$data[$key]['NS'])?></b>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Web Domains')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['WEB_DOMAINS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Databases')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['DATABASES'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Web Aliases')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['WEB_ALIASES'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Cron Jobs')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><?=__($data[$key]['CRON_JOBS'])?></b>
                    </div>
                  </div>
                </td>
                <td>
                </td>
              </tr>

            </table>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!-- div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 package');
              } else {
                echo __('%s packages',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
