    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
          <a class="ui-button cancel" href="/list/backup/"><i class="fas fa-arrow-left status-icon-blue"></i><?=__('Back')?></a>
          <a href="/edit/backup/exclusions/" class="ui-button cancel" title="<?=__('Edit Backup Exclusions')?>"><i class="fas fa-pencil-alt status-icon-orange"></i> <?=__('Edit Backup Exclusions')?></a>
        </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <button type="submit" class="l-sort-toolbar__filter-apply" onclick="return doSearch('/search/')" value=""><i class="fas fa-search"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units animated fadeIn">
      <?
        foreach ($data as $key => $value) {
      ?>

      <div class="l-unit">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <!-- div class="actions-panel__col actions-panel__delete">
              <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                <?=__('delete')?> <i class="do_delete"></i>
                <input type="hidden" name="delete_url" value="/delete/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>" />
                <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                  <p class="confirmation"><?=__('DELETE_BACKUP_CONFIRMATION',$key)?></p>
                </div>
              </a>
            </div-->

            <!-- /.actiona-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix"></div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__stats">
            <table>
              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left l-unit__name small-2"><?=$key?></div>
                    <div class="l-unit__stat-col l-unit__stat-col--left wide-3">
                      <?
                        if (empty($value)) echo __('no exclusions');
                        foreach ($value as $ex_key => $ex_value) {
                         echo '<b>'.$ex_key.' </b>'.$ex_value.'<br>';
                        }
                      ?>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!--div class="l-separator"></div-->
      <!-- /.l-separator -->
      <? } ?>

    </div>



    <div id="vstobjects">
      <div class="l-separator"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right total clearfix">
          </div>
      </div>
    </div>
  </div>
