<div class="l-center">
  <div class="l-sort clearfix noselect">
    <div class="l-unit-toolbar__buttonstrip">
      <? if (($_SESSION['userContext'] === 'admin') && (isset($_GET['user'])) && ($_GET['user'] !== 'admin')) { ?>
        <a href="/list/log/?user=<?php echo $_GET['user']; ?>&token=<?=$_SESSION['token']?>" id="btn-back" class="ui-button cancel" dir="ltr"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back')?></a>
        <? } else { ?>
        <a href="/list/log/" id="btn-back" class="ui-button cancel" dir="ltr"><i class="fas fa-arrow-left status-icon blue"></i><?=_('Back')?></a>
        <? } ?>
    </div>
    <div class="l-unit-toolbar__buttonstrip float-right">
      <a href="javascript:location.reload();" class="ui-button cancel" dir="ltr"><i class="fas fa-redo status-icon green"></i><?=_('Refresh')?></a>
      <? if (($_SESSION['userContext'] === 'admin') && ($_SESSION['look'] === 'admin') && ($_SESSION['POLICY_SYSTEM_PROTECTED_ADMIN'] === 'yes')) {?>
          <!-- Hide delete buttons-->
      <? } else { ?>
        <? if (($_SESSION['userContext'] === 'admin') || (($_SESSION['userContext'] === 'user') && ($_SESSION['POLICY_USER_DELETE_LOGS'] !== 'no'))) {?>
          <div class="actions-panel display-inline-block" key-action="js">
            <a class="data-controls do_delete ui-button danger cancel">
              <i class="do_delete fas fa-times-circle status-icon red"></i><?=_('Delete')?>
                <? if (($_SESSION['userContext'] === 'admin') && (isset($_GET['user']))) {?>
                  <input type="hidden" name="delete_url" value="/delete/log/auth/?user=<?=$_GET['user'];?>&token=<?=$_SESSION['token']?>" />
                <? } else { ?>
                  <input type="hidden" name="delete_url" value="/delete/log/auth/?token=<?=$_SESSION['token']?>" />
                <? } ?>
                <div class="confirmation-text-delete hidden" title="<?=_('Confirmation')?>">
                  <p class="confirmation"><?=_('DELETE_LOGS_CONFIRMATION')?></p>
                </div>
            </a>
          </div>
        <? } ?>
      <? } ?>
    </div>
  </div>
</div>

<div class="l-separator"></div>

<div class="l-center units">
<div class="header table-header">     
    <div class="l-unit__col l-unit__col--right">
      <div class="clearfix l-unit__stat-col--left super-compact text-center">
        <b><?php print _('Active');?></b>
      </div>
      <div class="clearfix l-unit__stat-col--left compact text-center">
        <b><?php print _('Status');?></b>
      </div>
      <div class="clearfix l-unit__stat-col--left"><b><?php print _('Date');?></b></div>
      <div class="clearfix l-unit__stat-col--left compact-2"><b><?php print _('Time');?></b></div>
      <div class="clearfix l-unit__stat-col--left"><b><?php print _('IP address');?></b></div>
      <div class="clearfix l-unit__stat-col--left wide-6"><b><?php print _('Browser');?></b></div>
    </div>
  </div> 
<?php
  foreach ($data as $key => $value) {
    ++$i;
  ?>
  <div class="l-unit header animated fadeIn">
    <div class="l-unit__col l-unit__col--right">
      <div class="clearfix l-unit__stat-col--left super-compact text-center">
        <? if ($data[$key]['ACTION'] == 'login') { ?>
          <? if ($data[$key]['ACTIVE'] === 'yes') {?>
            <i class="fas fa-sign-in-alt status-icon maroon icon-pad-right" title="<?=_('Login')?>"></i>
          <? } else {?>
            <i class="fas fa-sign-in-alt status-icon dim icon-pad-right" title="<?=_('Login')?>"></i>
          <? } ?>
        <? } ?>
      </div>
      <div class="clearfix l-unit__stat-col--left compact text-center">
        <? if ($data[$key]['STATUS'] == 'success') { ?>
          <i class="fas fa-check-circle status-icon green icon-pad-right" title="<?=_('Success')?>"></i>
        <? } else {?>
          <i class="fas fa-minus-circle status-icon red icon-pad-right" title="<?=_('Failed')?>"></i>
        <? } ?>
      </div>
      <div class="clearfix l-unit__stat-col--left"><b><?=translate_date($data[$key]['DATE'])?></b></div>
      <div class="clearfix l-unit__stat-col--left compact-2"><b><?=$data[$key]['TIME']?></b></div>
      <div class="clearfix l-unit__stat-col--left"><?=$data[$key]['IP']?></div>
      <div class="clearfix l-unit__stat-col--left wide-7"><?=$data[$key]['USER_AGENT']?></b></div>
    </div>
  </div>
<?}?>

</div>

<div id="vstobjects">
  <div class="l-separator"></div>
  <div class="l-center">
    <div class="l-unit-ft">
      <table class='data'></table>
      <div class="data-count l-unit_col l-unit_col--right clearfix">
        <?
          printf(ngettext('%d log record', '%d log records', $i),$i);
        ?>
      </div>
    </div>
  </div>
</div>