    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <a href="/add/mail/?domain=<?=htmlentities($_GET['domain'])?>" class="l-sort__create-btn" title="<?=str_replace(' ', '&nbsp;', __('Add Mail Account'))?>"></a>
        <ul class="context-menu sort-order" style="display:none;">
          <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-name"><span class="name"><?=__('Account')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-disk" sort_as_int="1"><span class="name"><?=__('Disk')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="step-right">
                <?
                  list($http_host, $port) = explode(':', $_SERVER["HTTP_HOST"].":");
                  $webmail = "http://".$http_host."/webmail/";
                  if (!empty($_SESSION['MAIL_URL'])) $webmail = $_SESSION['MAIL_URL'];
                ?>
                <a class="vst" href="<?=$webmail?>" target="_blank"><?=__('open webmail')?> <i></i></a>
              </td>
              <td class="l-sort-toolbar__search-box step-left">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <input type="submit" value="" class="l-sort-toolbar__search" onClick="return doSearch('/search/')" />
                </form>
              </td>
              <td class="toggle-all">
                <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                <label for="toggle-all" class="check-label toggle-all"><?=__('toggle all')?></label>
              </td>
              <td class="sort-by">
                <?=__('sort by');?>: <span><b><?=__('Date')?></b></span> <i class="l-icon-down-arrow media-top"></i>
              </td>
              <td>
                <form action="/bulk/mail/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="" id="">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="suspend"><?=__('suspend')?></option>
                    <option value="unsuspend"><?=__('unsuspend')?></option>
                    <option value="delete"><?=__('delete')?></option>
                  </select>
                </div>
                <input type="submit" value="" class="l-sort-toolbar__filter-apply" />
              </td>
            </tr>
          </table>
          <!--  -->
        </div>

      </div>

      <? display_error_block() ?>

      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->



    <div class="l-center units">
      <div class="l-unit">
        <div class="subtitle"><?=__('Listing')?>  <?=htmlentities($_GET['domain'])?></div>
      </div>

      <?
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_MAIL_ACCOUNT_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend';
            $spnd_confirmation = 'SUSPEND_MAIL_ACCOUNT_CONFIRMATION' ;
          }
      ?>


      <div class="l-unit <? if($status == 'suspended') echo 'l-unit--suspended'; if($_SESSION['favourites']['MAIL_ACC'][$key."@".$_GET['domain']] == 1) echo ' l-unit--starred'; ?>"
 v_unit_id="<?=$key."@".$_GET['domain']?>" v_section="mail_acc" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>" sort-disk="<?$data[$key]['U_DISK']?>" 
sort-star="<? if($_SESSION['favourites']['MAIL_ACC'][$key."@".$_GET['domain']] == 1) echo '1'; else echo '0'; ?>">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
            <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="account[]" value="<?php echo $key ?>">
            <input type="hidden" value="<?php echo $_GET['domain'] ?>" name="domain" />
            <label for="check<?php echo $i ?>" class="check-label"></label>
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <div class="actions-panel clearfix">
              <div class="actions-panel__col actions-panel__edit"><a href="/edit/mail/?domain=<?=$_GET['domain']?>&account=<?=$key?>"><?=__('edit')?> <i></i></a></div>
              <div class="actions-panel__col actions-panel__suspend">
                <a id="<?=$spnd_action ?>_link_<?=$i?>" class="data-controls do_<?=$spnd_action?>">
                  <?=__($spnd_action)?> <i class="do_<?=$spnd_action?>"></i>
                  <input type="hidden" name="<?=$spnd_action?>_url" value="/<?=$spnd_action?>/mail/?domain=<?=$_GET['domain']?>&account=<?php echo $key ?>&token=<?=$_SESSION['token']?>" />
                  <div id="<?=$spnd_action?>_dialog_<?=$i?>" class="confirmation-text-suspention hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__($spnd_confirmation,$key)?></p>
                  </div>
                </a>
              </div>
              <div class="actions-panel__col actions-panel__delete">
                <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                  <?=__('delete')?> <i class="do_delete"></i>
                  <input type="hidden" name="delete_url" value="/delete/mail/?domain=<?=$_GET['domain']?>&account=<?=$key?>&token=<?=$_SESSION['token']?>" />
                  <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__('DELETE_MAIL_ACCOUNT_CONFIRMATION',$key)?></p>
                  </div>
                </a>
              </div>
            </div>
            <!-- /.actiona-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix">
          <div class="l-unit__date">
            <?=translate_date($data[$key]['DATE'])?>
          </div>
          <div class="l-unit__suspended""><?=__('suspended')?></div>
          <div class="text-center">
            <i class="l-icon-star"></i>
          </div>
        </div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__name separate">
            <?=$key."@".$_GET['domain']?> <span><?=str_replace(',', ', ', $data[$key]['ALIAS'])?></span>
          </div>
          <!-- /.l-unit__name -->
          <div class="l-unit__stats">
            <table>
              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix graph">
                    <div class="l-unit__stat-col l-unit__stat-col--left">
                      <?=__('Disk')?>
                    </div>
                    <div class="l-unit__stat-col l-unit__stat-col--right text-right volume">
                      <b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <?=humanize_usage_measure($data[$key]['U_DISK'])?>
                    </div>
                  </div>
                  <div class="l-percent">
                    <div class="l-percent__fill" style="width: <?=get_percentage($data[$key]['U_DISK'],$data[$key]['QUOTA'])?>%"></div>
                  </div>
                  <!-- /.percent -->
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Quota')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">
                      <b><? echo __($data[$key]['QUOTA']) ?></b>
                    </div>
                  </div>
                </td>
                <td>
                  <? if($data[$key]['AUTOREPLY'] == 'no'){ ?>
                    <div class="l-unit__stat-cols clearfix disabled"><?=__('Autoreply')?></div>
                  <? } else {?>
                    <div class="l-unit__stat-cols clearfix">
                      <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Autoreply')?>:</div>
                      <div class="l-unit__stat-col l-unit__stat-col--right">
                        <b><?=__($data[$key]['AUTOREPLY'])?></b>
                      </div>
                    </div>
                  <? } ?>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2">
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Forward to')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right wide">
                      <b><?=str_replace(',', ', ', $data[$key]['FWD'])?></b>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!--div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>

    </div>


    <div id="vstobjects">
      <div class="l-separator"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 mail account');
              } else {
                echo __('%s mail accounts',$i);
              }
            ?>
          </div>
        </div>
      </div>
    </div>
