            <table class="submenu">
                <tr>
                    <td class="wrapper">
                        <div style="submenu-button-block">
                            <a class="vst<?php if ((empty($_GET['period'])) || ($_GET['period'] == 'daily')) echo "-selected" ?>" href="?period=daily"><?php print __('Daily');?></a>
                            <a class="vst<?php if ((!empty($_GET['period'])) && ($_GET['period'] == 'weekly')) echo "-selected" ?>" href="?period=weekly"><?php print __('Weekly');?></a>
                            <a class="vst<?php if ((!empty($_GET['period'])) && ($_GET['period'] == 'monthly')) echo "-selected" ?>" href="?period=monthly"><?php print __('Monthly');?></a>
                            <a class="vst<?php if ((!empty($_GET['period'])) && ($_GET['period'] == 'yearly')) echo "-selected" ?>" href="?period=yearly"><?php print __('Yearly');?></a>
                        </div>

			<div class="timer-container">
		    	    <span class="timer-button pause"></span>
    			    <span class="timer-button play hidden"></span>

            		    <div class="refresh-timer">
                    		<div class="movement left">
                            	    <div class="loader-half left"></div>
                    		</div>
    				<div class="movement right">
                            	    <div class="loader-half right"></div>
                    		</div>
            		    </div>
			</div>

                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
            <table class='data'>
                <?php
                    if (empty($_GET['period'])) {
                        $period='daily';
                    } else {
                        $period=$_GET['period'];
                    }
                    foreach ($data as $key => $value) {
                ?>

                <tr class="data-row">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE']))?></a></td></tr>
                            <tr><td><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo $data[$key]['TIME']?></a></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <a href="/list/rrd/image.php?/rrd/<?php echo $data[$key]['TYPE']."/".$period."-".$data[$key]['RRD'].".png"?>" target="_blank" class="data-controls">
                            <span>
                                <img src="/images/download.png" width="8px" height="8px">
                                <?php print __('download');?> 
                            </span>
                        </a>
                        <table class="data-col2">
                            <tr><td colspan=3 class="domain"><b><?php echo __($data[$key]['TITLE']); ?></b></td></tr>
                            <tr>
                                <td style="vertical-align:top; padding:4px 0 0 0;" width="630px">
                                    <table>
                                        </tr>
                                            <td style="background: #7a766d;" width="630px" height="250px">
                                                <img style="padding: 0 0 0 36px;" src="/list/rrd/image.php?/rrd/<?php echo $data[$key]['TYPE']."/".$period."-".$data[$key]['RRD'].".png" ?>">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            <?php
                }
            ?> 
        </table>
    </div>
