                                <table class="submenu">
                                    <tr>
                                        <td style="padding: 2px 0 0 6px">
                                            <div class="submenu-button-block">
                                                <button class="submenu-button" onclick="location.href='/add/package/'"> <?php print __('Add Package');?> </button>
                                            </div>
                                            <div class="submenu-search-block">
                                                <form action="/search/" method="get">
                                                    <input type="text" name="q" class="submenu-search-field">
                                                    <input type="submit" value="<?php print __('Search');?>" class="submenu-button" style="width: 96px;">
                                                </form>
                                            </div>
                                            <div class="submenu-select-block">
                                                <form action="/bulk/package/" method="post" id="objects">
                                                <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                                                <select class="submenu-select-dropdown" name="action">
                                                    <option value=""><?php print __('apply to selected');?></option>
                                                    <option value="delete"><?php print __('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="submenu-button" style="width: 36px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class='data'>

                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                            ?> 

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="package[]" value="<?php echo $key ?>"></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                                        <span class="do_delete">
                                            <img src="/images/delete.png" width="7px" height="7px" >
                                            <?php print __('delete');?> 
                                            <input type="hidden" name="delete_url" value="/delete/package/?package=<?php echo "$key" ?>" />
                                            <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print __('Confirmation');?>">
                                                <p class="counter-value"><?php print __('DELETE_PACKAGE_CONFIRMATION',$key);?></p>
                                            </div>
                                        </span>
                                    </a>

                                    <a href="/edit/package/?package=<?php echo $key ?>" class="data-controls">
                                        <span>
                                            <img src="/images/edit.png" width="8px" height="8px">
                                        <?php print __('edit');?> 
                                        </span>
                                    </a>
                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="username" style="padding: 10 0 0 4px;">
                                                <b><?php echo $key?></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;" >
                                                <table>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Web Template');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['WEB_TEMPLATE'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Proxy Template');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['PROXY_TEMPLATE'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('DNS Template');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['DNS_TEMPLATE'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="chart1" colspan=2 style="padding: 8px 0 0 2px;">
                                                            <?php print __('Bandwidth');?>: <?php echo humanize_usage($data[$key]['BANDWIDTH']) ?> 
                                                            <div style="width:160px; height:5px; font-size:0;background-color:#c7d5b3;">
                                                                <div style="width:0%; height:5px; background-color:#9bbb62; border-right:1px #9bbb62 solid;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="chart1" colspan=2 style="padding: 0 0 0 2px;">
                                                            <?php print __('Disk');?>: <?php echo humanize_usage($data[$key]['DISK_QUOTA']) ?> 
                                                            <div style="width:160px; height:5px; font-size:0;background-color:#c7d5b3;">
                                                                <div style="width:0%; height:5px; background-color:#9bbb62; border-right:1px #9bbb62 solid;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="300">
                                                <table width="300">
                                                    <tr>
                                                        <td class="counter-name" width="37%"><?php print __('Web Domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['WEB_DOMAINS'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Web Aliases');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['WEB_ALIASES'] ?> <?php print __('per domain');?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('DNS domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['DNS_DOMAINS'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('DNS records');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['DNS_RECORDS'] ?> <?php print __('per domain');?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Name Servers');?>:</td>
                                                        <td class="counter-value"><?php echo str_replace(',', ', ',$data[$key]['NS']) ?> </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="280">
                                                <table class="data-col4" width="280">
                                                    <tr>
                                                        <td class="counter-name" width="48%"><?php print __('Mail Domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['MAIL_DOMAINS'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Mail Accounts');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['MAIL_ACCOUNTS'] ?> <?php print __('per domain');?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Databases');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['DATABASES'] ?> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Cron Jobs');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['CRON_JOBS'] ?> </td>
                                                    </tr>
                                                        <td class="counter-name"><?php print __('SSH Access');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['SHELL'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print __('Backups');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['BACKUPS'] ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <?php
                                }
                            ?> 
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo __('1 package');
                                        } else {
                                            echo __('%s packages',$i);
                                        }
                                    ?> 
                                </td>
                            </tr>
                        </table>
                    </div>
