
            <table class="submenu">
                <tr>
                    <td class="wrapper">
                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <div class="submenu-button-block">
                            <form action="/bulk/vesta/" method="post" id="objects">
                            <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                            <select class="submenu-select-dropdown" name="action">
                                <option value=""><?php print __('apply to selected') ?></option>
                                <option value="update"><?php print __('update') ?></option>
                            </select>
                            <input type="submit" name="ok" value="›" class="submenu-button-select">
                        </div>
                        <div class="submenu-select-block">
                            <?php
                                if($autoupdate == 'Enabled') {
                            ?>
                            <a class="submenu-select-link" href="/delete/cron/autoupdate/">[ <?php print __('disable autoupdate');?> ]</a>
                            <?php
                                } else {
                            ?>
                            <a class="submenu-select-link" href="/add/cron/autoupdate/">[ <?php print __('enable autoupdate');?> ]</a>
                            <?php
                                }
                            ?>
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
            <table class='data'>

               <?php
                    foreach ($data as $key => $value) {
                        ++$i;
                        if ($data[$key]['UPDATED'] == 'yes') {
                            $status = 'active';
                            $upd_status = __('updated');
                        } else {
                            $status = 'suspended';
                            $upd_status = __('outdated');
                        }
                    ?>

                <tr class="data-row">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td style="padding: 18 0 6 18;"><input type="checkbox" class="ch-toggle" name="pkg[]" value="<?php echo $key ?>" ></td></tr>
                            <tr><td class="data-<?php echo $status ?>"><b><?php echo $upd_status ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <?php
                            if ($data[$key]['UPDATED'] == 'no') {
                        ?> 
                        <a href="/update/vesta/?pkg=<?php echo $key ?>" class="data-controls">
                            <span>
                                <img src="/images/update.png" width="6px" height="7px">
                                <?php print __('update') ?>
                            </span>
                        </a>
                        <?php
                            }
                        ?> 
                        <div style="height:20px;"></div>

                        <table class="data-col2">
                            <tr>
                                <td colspan=4 class="domain">
                                    <b><?php echo $key ?></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top;" width="239px">
                                    <table>
                                        <tr>
                                            <td class="counter-name" style="padding: 2px 0 0 0">
                                                <?php echo __($data[$key]['DESCR']) ?> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;" width="297px">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Version') ?>:
                                            </td>
                                            <td class="counter-value">
                                                <?php echo $data[$key]['VERSION'] ?> (<?php echo $data[$key]['ARCH'] ?>)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print __('Release') ?>:
                                            </td>
                                            <td class="counter-value">
                                                <?php echo $data[$key]['RELEASE'] ?> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <?php
                    }
                ?> 
            </table>
            </form>
        </div>
