<table class='data'>

<?php
foreach ($data as $key => $value) {
    ++$i;
    if ($data[$key]['SUSPENDED'] == 'yes') {
        $status = 'suspended';
        $spnd_action = 'ususpend' ;
    } else {
        $status = 'active';
        $spnd_action = 'suspend' ;
    }
    ?>

<tr class="data-row">
    <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
        <table class="data-col1">
            <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="object" ></td></tr>
            <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE'])) ?></td></tr>
            <tr><td class="data-<?php echo $status ?>"><b><?php echo $status ?></b></td></tr>

        </table>
    </td>
    <td class="data-dotted" width="830px" style="vertical-align:top;">
        <table width="830px"><tr>
            <td></td>
            <td class="data-controls" width="50px"><img src="/images/edit.png" width="8px" height="8px"><a href="#"> edit</a></td>
            <td class="data-controls" width="80px"><img src="/images/suspend.png" width="7px" height="8px"><a href="#"> <?php echo $spnd_action ?></a></td>
            <td class="data-controls" width="70px"><img src="/images/delete.png" width="7px" height="7px"><a href="#"> delete</a></td>
        </tr></table>

        <table class="data-col5" width="780px">
            <tr>
                <td class="log" style="padding: 0 0 0 4px;" width="200"><b><?php echo $data[$key]['RECORD'] ?></b></td>
                <td class="log-counter-value" width="80"><?php echo $data[$key]['TYPE'] ?></td>
                <td class="log-counter-value" width="80"><?php echo $data[$key]['PRIORITY'] ?></td>
                <td class="log-counter-value" ><?php echo $data[$key]['VALUE'] ?></td>
            </tr>
        </table>
    </td>
</tr>


    <?php
}
?>
</table>
<table class="data-count">
<tr>
    <td>→ 
    <?php
        if ( $i == 1) {
            echo "1 dns record ";
        } else {
            echo "$i dns records ";
        }
    ?>
    </td>
</tr>
</table>
