                                <table class="submenu">
                                    <tr>
                                        <td style="padding: 2px 0 0 6px">
                                            <div class="submenu-button-block">
                                                <button class="submenu-button" onclick="location.href='/add/ip/'"> <?php print _('Add IP');?> </button>
                                            </div>
                                            <div class="submenu-search-block">
                                                <form action="/search/" method="get">
                                                    <input type="text" name="q" class="submenu-search-field">
                                                    <input type="submit" value="<?php print _('Search');?>" class="submenu-button" style="width: 96px;">
                                                </form>
                                            </div>
                                            <div class="submenu-select-block">
                                                <form action="/bulk/ip/" method="post" id="objects">
                                                <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print _('toggle all');?> </a>
                                                <select class="submenu-select-dropdown" name="action">
                                                    <option value=""><?php print _('apply to selected');?></option>
                                                    <option value="reread IP"><?php print _('reread IP');?></option>
                                                    <option value="delete"><?php print _('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="submenu-button" style="width: 36px;">
                                            </div>
                                            <?php
                                                if (!empty($_SESSION['error_msg'])) {
                                            ?> 
                                            <div>
                                                <script type="text/javascript">
                                                    $(function() {
                                                        $( "#dialog:ui-dialog" ).dialog( "destroy" );
                                                        $( "#dialog-message" ).dialog({
                                                            modal: true,
                                                            buttons: {
                                                                Ok: function() {
                                                                    $( this ).dialog( "close" );
                                                                }
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <div id="dialog-message" title="Error">
                                                    <p><?php echo $_SESSION['error_msg'] ?></p>
                                                </div>
                                            </div>
                                            <?php
                                                    unset($_SESSION['error_msg']);
                                                }
                                            ?> 
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class='data'>

                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                            ?> 

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="ip[]" value="<?php echo $key ?>"></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></td></tr>
                                        <tr><td class="data-active"><b><?php print _('active');?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                                        <span class="do_delete">
                                            <img src="/images/delete.png" width="7px" height="7px">
                                            <?php print _('delete');?> 
                                            <input type="hidden" name="delete_url" value="/delete/ip/?ip=<?php echo "$key" ?>" />
                                            <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print _('Confirmation');?>">
                                                <p class="counter-value"><?php print _('IP_DELETE_CONFIRMATION',$key);?></p>
                                            </div>
                                        </span>
                                    </a>
                                    <a href="/edit/ip/?ip=<?php echo $key ?>" class="data-controls">
                                        <span>
                                            <img src="/images/edit.png" width="8px" height="8px">
                                            <?php print _('edit');?>
                                        </span>
                                    </a>

                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="domain" style="padding: 0 0 0 4px;">
                                                <b><?php echo $key ?></b>
                                                <?php if (!empty($data[$key]['NAT'])) echo ' → <b>' . $data[$key]['NAT'] . '</b>'; ?>
                                                <a class="aliases" style="padding:0 0 0 8px;"><?php echo  $data[$key]['NAME'] ?></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;" >
                                                <table>
                                                    <tr>
                                                        <td class="counter-name" style="padding: 2px 0 0 0">
                                                            <?php echo $data[$key]['NETMASK'] ?> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name">
                                                            <?php echo $data[$key]['INTERFACE'] ?> 
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="250">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name">
                                                            <?php print _('Domains');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value"><?php echo $data[$key]['U_WEB_DOMAINS'] ?></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name">
                                                            <?php print _('Status');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value"> <?php echo _($data[$key]['STATUS']) ?></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td rowspan=4 style="vertical-align:top;" width="300">
                                                <table>
                                                    <tr>
                                                        <td class="counter-name">
                                                            <?php print _('Owner');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value"> <?php echo _($data[$key]['OWNER']) ?></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name">
                                                            <?php print _('Users');?>:
                                                        </td>
                                                        <td>
                                                            <a class="counter-value"> <?php echo str_replace(',', ', ', $data[$key]['U_SYS_USERS']) ?></a>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <?php
                                }
                            ?> 
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo _('1 IP address');
                                        } else {
                                            echo _('%s IP addresses',$i);
                                        }
                                    ?> 
                                </td>
                            </tr>
                        </table>
                    </div>
