<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title><?php echo $_SERVER['HTTP_HOST']; ?> - <?=_($TAB)?> - <?=_('Hestia Control Panel');?></title>
  <link rel="stylesheet" href="/css/styles.min.css?1446554105">
  <link rel="stylesheet" href="/css/active-theme.css?<?php echo rand(); ?>">
  <link type="text/css" href="/css/animate.min.css?1446554103" rel="stylesheet" />
  <link type="text/css" href="/css/jquery-custom-dialogs.css?1446554103" rel="stylesheet" />
  <link type="text/css" href="/css/all.min.css?1446554103" rel="stylesheet" />
  <script src="/inc/jquery/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery-ui-1.8.20.custom.min.js"></script>
  <script type="text/javascript" src="/js/events.js"></script>
</head>
<body>
  <a href="#" class="to-top">
    <i class="fas fa-arrow-up"></i>
  </a>
  <div class="l-header">
    <div class="l-center">
      <a href="/list/web/" class="l-logo"></a>
      <div class="l-menu clearfix">
        <div class="l-menu__item"><a href="/list/rrd/" title="<?=_('Back')?>"><i class="fas fa-arrow-alt-circle-left"></i></a></div>
        <div class="l-menu__item <?php if(isset($_GET['cpu'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?cpu"><i class="fas fa-microchip"></i>&nbsp;&nbsp;&nbsp;<?=_('CPU')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['mem'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?mem"><i class="fas fa-memory"></i>&nbsp;&nbsp;&nbsp;<?=_('RAM')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['disk'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?disk"><i class="fas fa-hdd"></i>&nbsp;&nbsp;&nbsp;<?=_('Disk')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['net'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?net"><i class="fas fa-ethernet"></i>&nbsp;&nbsp;&nbsp;<?=_('Network')?></a></div>
        <?php if ((isset($_SESSION['WEB_SYSTEM'])) && (!empty($_SESSION['WEB_SYSTEM']))) {?><div class="l-menu__item <?php if(isset($_GET['web'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?web"><i class="fas fa-globe-europe"></i>&nbsp;&nbsp;&nbsp;<?=_('Web')?></a></div><?php }?>
        <?php if ((isset($_SESSION['DNS_SYSTEM'])) && (!empty($_SESSION['DNS_SYSTEM']))) {?><div class="l-menu__item <?php if(isset($_GET['dns'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?dns"><i class="fas fa-atlas"></i>&nbsp;&nbsp;&nbsp;<?=_('DNS')?></a></div><?php }?>
        <?php if ((isset($_SESSION['MAIL_SYSTEM'])) && (!empty($_SESSION['MAIL_SYSTEM']))) {?><div class="l-menu__item <?php if(isset($_GET['mail'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?mail"><i class="fas fa-mail-bulk"></i>&nbsp;&nbsp;&nbsp;<?=_('Mail')?></a></div><?php }?>
        <?php if ((isset($_SESSION['DB_SYSTEM'])) && (!empty($_SESSION['DB_SYSTEM']))) {?><div class="l-menu__item <?php if(isset($_GET['db'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?db"><i class="fas fa-database"></i>&nbsp;&nbsp;&nbsp;<?=_('DB')?></a></div><?php }?>
      </div>
      <div class="l-profile noselect">
        <div class="l-menu__item"><a href="javascript:location.reload();" title="<?=_('Refresh')?>"><i class="fas fa-redo"></i></a></div>
        <div class="l-menu__item"><a href="/logout/" title="<?=_('Log out')?>" class="l-profile__logout"><i class="fas fa-sign-out-alt"></i></a></div>
      </div>
    </div>
  </div>

  <div class="server-info-output">.</div><div class="l-center">
  <pre class="console-output animated fadeIn">
