    <div class="l-center">
      <div class="l-sort clearfix noselect">
          <div class="l-unit-toolbar__buttonstrip">
              <a class="ui-button cancel" href='/list/stats/'><i class="fas fa-info-circle status-icon lightblue"></i> <?=_('Overall Statistics')?></a>
          </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td>
                <form action="/list/stats/" method="get" id="objects">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <div class="l-select">
                    <select class="" name="user">
                      <option value=""><?=_('show per user')?></option>
                        <?
                          foreach ($users as $key => $value) {
                            echo "\t\t\t\t<option value=\"".$value."\"";
                            if ((!empty($v_user)) && ( $value == $_GET['user'])){
                              echo ' selected';
                            }
                              echo ">".$value."</option>\n";
                            }
                          ?>
                    </select>
                  </div>
                  <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="l-separator"></div>

    <div class="l-center units animated fadeIn">
      <div class="header table-header">     
        <div class="l-unit__col l-unit__col--right">
          <div class="clearfix l-unit__stat-col--left super-compact">&nbsp;</div>
          <div class="clearfix l-unit__stat-col--left wide-2"><b><?php print _('Month');?></b></div>
          <div class="clearfix l-unit__stat-col--left compact text-right"><b>&nbsp;</b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><?php print _('IPs');?></b></div>
          <div class="clearfix l-unit__stat-col--left text-center compact"><b><i class="fas fa-hdd" title="<?php print _('Disk');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center compact"><b><i class="fas fa-exchange-alt" title="<?php print _('Bandwidth');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-globe-americas" title="<?php print _('Web Domains');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-link" title="<?php print _('Web Aliases');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-atlas" title="<?php print _('DNS Domains');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-globe" title="<?php print _('DNS Records');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-mail-bulk" title="<?php print _('Mail Domains');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-inbox" title="<?php print _('Mail Accounts');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-database" title="<?php print _('Databases');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-clock" title="<?php print _('Cron Jobs');?>"></i></b></div>
          <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-file-archive" title="<?php print _('Backups');?>"></i></b></div>
        </div>
      </div>
    
     <?php
        foreach ($data as $key => $value) {
        ++$i;
      ?>
        <div class="l-unit header">
          <div class="l-unit__col l-unit__col--right">
            <div class="clearfix l-unit__stat-col--left super-compact"><i class="fas fa-calendar-alt status-icon dim"></i></div>
            <div class="clearfix l-unit__stat-col--left wide-2"><b><?=_(strftime("%b", strtotime($key))).strftime(" %Y", strtotime($key))?></b></div>
            <div class="clearfix l-unit__stat-col--left compact text-right"><b>&nbsp;</b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><?=$data[$key]['IP_OWNED']?></b></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_DISK'])?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_WEB_DOMAINS']?> <?php print _('Web Domains');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_WEB_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_WEB_ALIASES']?> <?php print _('Web Aliases');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_WEB_ALIASES']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_DNS_DOMAINS']?> <?php print _('DNS Domains');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DNS_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_DNS_RECORDS']?> <?php print _('DNS Records');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DNS_RECORDS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_MAIL_DOMAINS']?> <?php print _('Mail Domains');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_MAIL_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_MAIL_ACCOUNTS']?> <?php print _('Mail Accounts');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_MAIL_ACCOUNTS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_DATABASES']?> <?php print _('Databases');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DATABASES']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_CRON_JOBS']?> <?php print _('Cron Jobs');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_CRON_JOBS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact" title="<?=$data[$key]['U_BACKUPS']?> <?php print _('Backups');?>"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_BACKUPS']?></b></span></div>
          </div>
        </div>
      <?}?>
    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              printf(ngettext('%d month', '%d months', $i),$i);
            ?>
          </div>
      </div>
    </div>
  </div>
