
                                <table class="sub-menu" style="background: white;">
                                    <tr>
                                        <td style="padding: 12px 0 0 16px">
                                            <div style="float:left">
                                            </div>
                                            <div style="text-align: right; float: right;">
                                                <form action="/search/" method="get" >
                                                <input type="text" name="q" style="margin: 2px 2px 0px 0px; width: 250px; padding: 3px;" size="30">
                                                <input type="submit" value="<?php print _('Search');?>" class="button" style="font-size: 12px; height: 24px;">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class='data'>

                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                            ?>

                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150px">
                                    <table class="data-col1" width="150">
                                        <tr><td style="padding: 14 0 4 0;"><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo date("d M Y", strtotime($data[$key]['DATE']))?></a></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo $data[$key]['TIME']?></a></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <table width="830px">
                                        <tr>
                                            <td></td>
                                        </tr>
                                </table>
                                <table class="data-col5" width="720px">
                                    <tr>
                                        <td class="username" style="padding: 0 0 20 0" >
                                            <?php echo $data[$key]['CMD'] ?>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <?php
                            }
                        ?> 

                    </table>

                    <table class="data-count">
                        <tr>
                            <td width="160px"></td>
                            <td>
                                <?php
                                    if ( $i == 1) {
                                        echo _('one log record');
                                    } else {
                                        echo _('%s log records',$i);
                                    }
                                ?>
                            </td>
                        </tr>
                    </table>
                </div>
