    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-sort-toolbar clearfix float-left">
                <span class="title"><b><?=__('Generating CSR')?></b></span>
                  <?php
                    if (!empty($_SESSION['error_msg'])) {
                      echo "<span class=\"vst-error\"> → ".$_SESSION['error_msg']."</span>";
                    } else {
                      if (!empty($_SESSION['ok_msg'])) {
                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                      }
                    }
                  ?>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
      <?php
        $back = $_SESSION['back'];
        if (empty($back)) {
          $back = "location.href='/generate/ssl/'";
        } else {
          $back = "location.href='".$back."'";
        }
      ?>
        <form id="vstobjects" name="v_generate_csr" method="post">
            <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
            <table class='data'>
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2">
                            <tr>
                                <td class="vst-text" style="padding: 24px 0 0 0;">
                                    <?php print __('SSL CSR');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea size="20" class="vst-textinput" name="v_csr"><?php print $v_csr ?> </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text" style="padding: 12px 0 0 0;"><?php print __('SSL Certificate');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea size="20" class="vst-textinput" name="v_crt"><?php print $v_crt ?> </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text" style="padding: 12px 0 0 0;">
                                    <?php print __('SSL Key');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea size="20" class="vst-textinput" name="v_key"><?php print $v_key ?> </textarea>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td style="padding: 24px 0 0 0;">
                                    <input type="button" class="button cancel" value="<?php print __('Back');?>" onclick="<?php echo $back ?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
