<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Web Log Manager</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link type="text/css" href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <div style="margin:0 auto;display: block; background: #fff;" >
        <div class="top">
            <div class="top-menu">
                <a class="top-<?php if($_GET['type'] == 'access') echo 'selected-' ?>link" href="/list/web-log/?domain=<?php echo $_GET['domain']."&type=access"?>">
                    <?php print __('AccessLog') ?> 
                </a>
                <a class="top-<?php if($_GET['type'] == 'error' ) echo 'selected-' ?>link" href="/list/web-log/?domain=<?php echo $_GET['domain']."&type=error"?>">
                    <?php print __('ErrorLog') ?> 
                </a>
                <a class="top-link" href="/download/web-log/?domain=<?php echo $_GET['domain']."&type=access"?>">
                    <?php print __('Download AccessLog') ?>
                </a>
                <a class="top-link" href="/download/web-log/?domain=<?php echo $_GET['domain']."&type=error"?>">
                    <?php print __('Download ErrorLog') ?>
                </a>
            </div>
        </div>
    </div>
    <div style="color: #323232; padding: 40px 0 20px 0;background: #fff;"><?php echo __('Last 70 lines of %s.%s.log',$_GET['domain'],$_GET['type']) ;?></div>
    <pre>
