            <table class="submenu">
                <tr>
                    <td style="padding: 14px 10px">
                        <div class="submenu-button-block">
                            <button class="submenu-button-main" onclick="location.href='/add/dns/'"> <?php print __('Add DNS Domain');?> </button>
                        </div>
                        <div class="submenu-search-block">
                            <form action="/search/" method="get">
                            <input type="text" name="q" class="submenu-search-field">
                            <input type="submit" value="<?php print __('Search');?>" class="submenu-button-search">
                            </form>
                        </div>
                        <div class="submenu-select-block">
                            <form action="/bulk/dns/" method="post" id="objects">
                            <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print __('toggle all');?> </a>
                            <select class="submenu-select-dropdown" name="action">
                                <option value=""><?php print __('apply to selected');?></option>
                                <option value="suspend"><?php print __('suspend');?></option>
                                <option value="unsuspend"><?php print __('unsuspend');?></option>
                                <option value="delete"><?php print __('delete');?></option>
                            </select>
                            <input type="submit" name="ok" value="›" class="submenu-button-select">
                        </div>
                        <?php display_error_block(); ?> 
                    </td>
                </tr>
            </table>
        </div>

        <div id="vstobjects">
            <table class="data">
                <?php
                    foreach ($data as $key => $value) {
                        ++$i;
                        if ($data[$key]['SUSPENDED'] == 'yes') {
                            $status = 'suspended';
                            $spnd_action = 'unsuspend' ;
                            $spnd_confirmation = 'UNSUSPEND_DOMAIN_CONFIRMATION' ;
                        } else {
                            $status = 'active';
                            $spnd_action = 'suspend' ;
                            $spnd_confirmation = 'SUSPEND_DOMAIN_CONFIRMATION' ;
                        }
                ?> 
                <tr class="data-row">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td><input type="checkbox" class="ch-toggle" name="domain[]" value="<?php echo $key ?>" ></td></tr>
                            <tr><td><a class="data-date" title="<?php echo  $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE'])) ?></a></td></tr>
                            <tr><td class="data-<?php echo $status ?>"><b><?php echo __($status) ?></b></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                            <span class="do_delete">
                                <img src="/images/delete.png" width="7px" height="7px">
                                <?php print __('delete');?> 
                                <input type="hidden" name="delete_url" value="/delete/dns/?domain=<?php echo $key ?>" />
                                <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print __('Confirmation');?>">
                                    <p class="counter-value"><?php print __('DELETE_DOMAIN_CONFIRMATION',$key);?></p>
                                </div>
                            </span>
                        </a>
                        <a id="<?php echo $spnd_action ?>_link_<?php echo $i ?>" class="data-controls do_<?php echo $spnd_action ?>">
                            <span class="do_<?php echo $spnd_action ?>">
                                <img src="/images/suspend.png" width="7px" height="8px">
                                <?php echo __($spnd_action); ?> 
                                <input type="hidden" name="<?php echo $spnd_action ?>_url" value="/<?php echo $spnd_action ?>/dns/?domain=<?php echo $key ?>" />
                                <div id="<?php echo $spnd_action ?>_dialog_<?php echo $i ?>" class="confirmation-text-suspention hidden" title="<?php print __('Confirmation');?>">
                                    <p class="counter-value"><?php print __($spnd_confirmation,$key);?></p>
                                </div>
                            </span>
                        </a>
                        <a href="/edit/dns/?domain=<?php echo $key ?>" class="data-controls">
                            <span>
                                <img src="/images/edit.png" width="8px" height="8px">
                                <?php print __('edit');?> 
                            </span>
                        </a>
                        <a href="/add/dns/?domain=<?php echo $key ?>" class="data-controls">
                            <span>
                                <img src="/images/add.png" width="8px" height="8px">
                                <?php print __('add record');?> 
                            </span>
                        </a>
                        <a href="/list/dns/?domain=<?php echo $key ?>" class="data-controls">
                            <span>
                                <img src="/images/more.png" width="8px" height="8px">
                                <?php print __('list records',$data[$key]['RECORDS']); ?> 
                            </span>
                        </a>
                        <table class="data-col2">
                            <tr>
                                <td colspan=3 class="domain">
                                    <b><?php echo $key ?></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top;" width="239px">
                                    <table>
                                        <tr>
                                            <td class="counter-name">
                                                <?php echo $data[$key]['IP'] ?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name">
                                                <?php print $data[$key]['SRC'] ?> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;" width="297px">
                                    <table>
                                        <tr>
                                            <td class="counter-name"><?php print __('Template') ?>:</td>
                                            <td class="counter-value"><?php echo $data[$key]['TPL'] ?></td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name"><?php print __('SOA') ?>:</td>
                                            <td class="counter-value"><?php echo $data[$key]['SOA'] ?></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top;">
                                    <table>
                                        <tr>
                                            <td class="counter-name"><?php print __('TTL') ?>:</td>
                                            <td class="counter-value"><?php echo $data[$key]['TTL'] ?></td>
                                        </tr>
                                        <tr>
                                            <td class="counter-name"><?php print __('Expire');?>:</td>
                                            <td class="counter-value"><?php echo strftime("%d %b %Y", strtotime($data[$key]['EXP'])) ?></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <?php
                    }
                ?> 
            </table>
            </form>

            <div class="data-count">
                <?php
                    if ( $i == 1) {
                        echo __('1 domain');
                    } else {
                        echo __('%s domains',$i);
                    }
                ?> 
            </div>
        </div>
