<div class="l-center edit">
        <div class="l-sort clearfix">
          <div class="l-unit-toolbar__buttonstrip">
            <a class="ui-button cancel" id="btn-back" href="/edit/web/?domain=<?=$v_domain?>"><i class="fas fa-arrow-left status-icon blue"></i> <?=_('Back')?></a>
          </div>
          <div class="l-unit-toolbar__buttonstrip float-right">
          </div>
        </div>
      </div>

    <div class="l-separator"></div>

    <div class="l-center animated fadeIn" style="padding-top:240px;">
        <?php
            $back = $_SESSION['back'];
            if (empty($back)) {
            $back = "location.href='/list/web/'";
            } else {
            $back = "location.href='".$back."'";
            }
        ?>       
        <div style="margin-left:68px; margin-top: 20px">
          <div class="page-title">
              <span><?=_('Quick Install App')?></span><br>
          </div>
          <div>
              <span>
                  <?php
                  if (!empty($_SESSION['error_msg'])) {
                      echo "<span class=\"vst-error\"> <i class=\"fas fa-exclamation-circle status-icon red\"></i> ".htmlentities($_SESSION['error_msg'])."</span>";
                  } else {
                      if (!empty($_SESSION['ok_msg'])) {
                          echo "<span class=\"vst-ok\"> <i class=\"fas fa-check-circle status-icon green\"></i> ".$_SESSION['ok_msg']."</span>";
                      }
                  }
              ?>
            </span>
          </div>
        </div>
        <div class="app-list cards">
            <?php foreach($v_web_apps as $webapp):?>
                <div class="card <?=($webapp['enabled']?'':'disable')?>" >
                    <span class="card-thumb"><img src="<?=$webapp['thumbnail']?>"></span>
                    <div class="card-details">
                        <p class="card-title"><?=$webapp['name']?></p>
                        <p><?=_('version')?>: <?=$webapp['version']?></p>
                        <a href="/add/webapp/?app=<?=$webapp['name']?>&domain=<?=$v_domain?>" class="ui-button cancel"><?=_('Setup')?></a>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
