    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <a href="/edit/backup/exclusions/" class="l-sort__create-btn edit" title="<?=__('Configure')?>"></a>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <input type="submit" value="" class="l-sort-toolbar__search" onClick="return doSearch('/search/')" />
                </form>
              </td>
              <!--td class="toggle-all">
                <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all">
                <label for="toggle-all" class="check-label toggle-all"><?=__('toggle all')?></label>
              </td>
              <td>
                <form action="/bulk/backup/exclusions/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="" id="">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="delete"><?php print __('delete') ?></option>
                  </select>
                </div>
                <input type="submit" value="" class="l-sort-toolbar__filter-apply" />
              </td-->
            </tr>
          </table>
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units">
      <?
        foreach ($data as $key => $value) {
      ?>

      <div class="l-unit">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <!-- div class="actions-panel__col actions-panel__delete">
              <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                <?=__('delete')?> <i class="do_delete"></i>
                <input type="hidden" name="delete_url" value="/delete/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>" />
                <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                  <p class="confirmation"><?=__('DELETE_BACKUP_CONFIRMATION',$key)?></p>
                </div>
              </a>
            </div-->

            <!-- /.actiona-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix"></div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__stats">
            <table>
              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left l-unit__name small-2"><?=$key?></div>
                    <div class="l-unit__stat-col l-unit__stat-col--left wide-3">
                      <?
                        if (empty($value)) echo __('no exclusions');
                        foreach ($value as $ex_key => $ex_value) {
                         echo '<b>'.$ex_key.' </b>'.$ex_value.'<br>';
                        }
                      ?>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!--div class="l-separator"></div-->
      <!-- /.l-separator -->
      <? } ?>

    </div>



    <div id="vstobjects">
      <div class="l-separator"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right total clearfix">
            <a class="button cancel" href="/list/backup/"><?=__('Back')?></a>
          </div>
      </div>
    </div>
  </div>
