<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Vesta - <?=__($TAB)?></title>
  <link rel="stylesheet" href="/css/styles.min.css">

  <link type="text/css" href="/css/jquery-custom-dialogs.css" rel="stylesheet" />
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js"></script>
  <script type="text/javascript" src="/js/events.js"></script>
</head>
<body>
  <a href="#" class="to-top">
    <i class="l-icon-to-top"></i>
  </a>
  <div class="l-header">
    <div class="l-center">
      <a href="/" class="l-logo"></a>
      <!-- /.l-logo -->
      <div class="l-menu clearfix">
        <div class="l-menu__item <?php if(isset($_GET['cpu'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?cpu"><?=__('CPU')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['mem'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?mem"><?=__('MEMORY')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['disk'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?disk"><?=__('DISK')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['net'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?net"><?=__('NETWORK')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['web'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?web"><?=__('WEB')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['dns'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?dns"><?=__('DNS')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['mail'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?mail"><?=__('MAIL')?></a></div>
        <div class="l-menu__item <?php if(isset($_GET['db'])) echo 'l-menu__item--active' ?>"><a href="/list/server/?db"><?=__('DB')?></a></div>
      </div>
      <!-- /.l-menu -->
      <div class="l-profile">
        <a class="l-profile__username" href="/edit/user/?user=<?php echo $user; ?>"><?=$user?></a>
        <a class="l-profile__logout" href="/logout/"> <?=__('Log out')?> </a>
      </div>
      <!-- /.l-profile -->
    </div>
  </div>
  <!-- /.l-header -->

  <div style="color: #ff6701; padding: 10px 0 20px 20px; background: #fff; ">.</div><div class="l-center">
  <pre style="color: #555">
