<div class="l-center">
  <div class="l-sort clearfix noselect">
    <div class="l-unit-toolbar__buttonstrip">
      <a href="javascript:location.reload();" class="ui-button cancel"><i class="fas fa-redo status-icon green"></i> <?=_('Refresh')?></a>
      <div class="actions-panel display-inline-block" key-action="js">
        <a class="data-controls do_delete ui-button danger cancel">
          <i class="do_delete fas fa-times-circle status-icon red"></i>
          <?=_('Delete')?>
          <input type="hidden" name="delete_url" value="/delete/log/?token=<?=$_SESSION['token']?>" />
            <div class="confirmation-text-delete hidden" title="<?=_('Confirmation')?>">
              <p class="confirmation"><?=_('DELETE_LOGS_CONFIRMATION')?></p>
            </div>
        </a>
      </div>
    </div>
    <div class="l-sort-toolbar clearfix">
    </div>
  </div>
</div>

<div class="l-separator"></div>

<div class="l-center units animated fadeIn">

  <div class="header table-header">     
    <div class="l-unit__col l-unit__col--right">
      <div class="clearfix l-unit__stat-col--left super-compact">
        &nbsp;
      </div>       
      <div class="clearfix l-unit__stat-col--left"><b><?php print _('Date');?></b></div>
      <div class="clearfix l-unit__stat-col--left"><b><?php print _('Time');?></b></div>
      <div class="clearfix l-unit__stat-col--left "><b><?php print _('Value');?></b></div>
    </div>
  </div>

  <?php
      foreach ($data as $key => $value) {
        ++$i;
      ?>
      <div class="l-unit header">
        <div class="l-unit__col l-unit__col--right">
          <div class="clearfix l-unit__stat-col--left super-compact">
            <i class="fas fa-info-circle status-icon dim"></i>
          </div>
          <div class="clearfix l-unit__stat-col--left small"><b><?=translate_date($data[$key]['DATE'])?></b></div>
          <div class="clearfix l-unit__stat-col--left compact"><b><?=$data[$key]['TIME']?></b></div>
          <div class="clearfix l-unit__stat-col--left wide-7"><?=$data[$key]['CMD']?></div>
        </div>
      </div>
  <?}?>
</div>

<div id="vstobjects">
  <div class="l-separator"></div>
  <div class="l-center">
    <div class="l-unit-ft">
      <table class='data'></table>
      <div class="data-count l-unit__col l-unit__col--right clearfix">
        <?
          printf(ngettext('%d log record', '%d log records', $i),$i);
        ?>
      </div>
    </div>
  </div>
</div>
