
                                <table class="submenu">
                                    <tr>
                                        <td style="padding: 2px 0 0 6px">
                                            <div class="submenu-button-block">
                                                <?php
                                                    if ($user == 'admin') {
                                                        echo "<button class=\"submenu-button\" onclick=\"location.href='/add/user/'\">" . _('Add User') . "</button>";
                                                    } else {
                                                        echo "<button class=\"submenu-button\" onclick=\"location.href='/add/web/'\">" . _('Add Web Domain') . "</button>";
                                                    }
                                                ?> 
                                            </div>
                                            <div class="submenu-search-block">
                                                <form action="/search/" method="get">
                                                    <input type="text" name="q" class="submenu-search-field">
                                                    <input type="submit" value="<?php print _('Search');?>" class="submenu-button" style="width: 96px;">
                                                </form>
                                            </div>
                                            <div class="submenu-select-block">
                                                <form action="/bulk/user/" method="post" id="objects">
                                                <a class="submenu-select-link" href='javascript:checkedAll("objects");'> <?php print _('toggle all');?> </a>
                                                <select class="submenu-select-dropdown" name="action">
                                                    <option value=""><?php print _('apply to selected');?></option>
                                                    <option value="rebuild"><?php print _('rebuild');?></option>
                                                    <option value="rebuild web"><?php print _('rebuild web');?></option>
                                                    <option value="rebuild dns"><?php print _('rebuild dns');?></option>
                                                    <option value="rebuild mail"><?php print _('rebuild mail');?></option>
                                                    <option value="rebuild db"><?php print _('rebuild db');?></option>
                                                    <option value="rebuild cron"><?php print _('rebuild cron');?></option>
                                                    <option value="update counters"><?php print _('update counters');?></option>
                                                    <option value="suspend"><?php print _('suspend');?></option>
                                                    <option value="unsuspend"><?php print _('unsuspend');?></option>
                                                    <option value="delete"><?php print _('delete');?></option>
                                                </select>
                                                <input type="submit" name="ok" value="›" class="submenu-button" style="width: 36px;">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="vstobjects">
                        <table class="data">
                            <?php
                                foreach ($data as $key => $value) {
                                    ++$i;
                                    if ($data[$key]['SUSPENDED'] == 'yes') {
                                        $status = 'suspended';
                                        $spnd_action = 'unsuspend' ;
                                    } else {
                                        $status = 'active';
                                        $spnd_action = 'suspend' ;
                                    }
                                ?> 
                            <tr class="data-row">
                                <td class="data-dotted" style="padding: 0px 10px 0px 0px">
                                    <table class="data-col1">
                                        <tr><td style="padding: 18 0 4 18;"><input type="checkbox" name="user[]" value="<?php echo $key ?>" ></td></tr>
                                        <tr><td><a class="data-date" title="<?php echo $data[$key]['DATE']."  ".$data[$key]['TIME'] ?>"><?php echo strftime("%d %b %Y", strtotime($data[$key]['DATE']))?></a><td></tr>
                                        <tr><td class="data-<?php echo $status ?>"><b><?php echo _($status); ?></b></td></tr>
                                    </table>
                                </td>
                                <td class="data-dotted" width="830px" style="vertical-align:top;">
                                    <a id="delete_link_<?php echo $i ?>" class="data-controls do_delete">
                                        <span class="do_delete">
                                            <img src="/images/delete.png" width="7px" height="7px">
                                            <?php print _('delete');?> 
                                            <input type="hidden" name="delete_url" value="/delete/user/?user=<?php echo $key ?>" />
                                            <div id="delete_dialog_<?php echo $i ?>" class="confirmation-text-delete hidden" title="<?php print _('Confirmation');?>">
                                                <p class="counter-value"><?php print _('USER_ACTION_CONFIRMATION',_('delete'),$key);?></p>
                                            </div>
                                        </span>
                                    </a>
                                    <a id="<?php echo $spnd_action ?>_link_<?php echo $i ?>" class="data-controls do_<?php echo $spnd_action ?>">
                                        <span class="do_<?php echo $spnd_action ?>">
                                            <img src="/images/suspend.png" width="7px" height="8px">
                                            <?php echo _($spnd_action); ?> 
                                            <input type="hidden" name="<?php echo $spnd_action ?>_url" value="/<?php echo $spnd_action ?>/user/?user=<?php echo $key ?>" />
                                            <div id="<?php echo $spnd_action ?>_dialog_<?php echo $i ?>" class="confirmation-text-suspention hidden" title="<?php print _('Confirmation');?>">
                                                <p class="counter-value"><?php print _('USER_ACTION_CONFIRMATION',_($spnd_action),$key);?></p>
                                            </div>
                                        </span>
                                    </a>
                                    <a href="/edit/user/?user=<?php echo $key; ?>" class="data-controls">
                                        <span>
                                            <img src="/images/edit.png" width="8px" height="8px">
                                            <?php print _('edit'); ?> 
                                        </span>
                                    </a>
                                    <?php
                                        if ($key == $user) {
                                    ?> 
                                    <a href="/logout" class="data-controls">
                                        <span>
                                            <img src="/images/login-as.png" width="7px" height="8px">
                                            <?php print _('logout'); ?> 
                                    <?php
                                            if (!empty($_SESSION['look_alert'])) {
                                    ?> 
                                                <script type="text/javascript">
                                                    $(function() {
                                                        $( "#dialog:ui-dialog" ).dialog( "destroy" );
                                                        $( "#dialog-message" ).dialog({
                                                            modal: true,
                                                            buttons: {
                                                                Ok: function() {
                                                                    $( this ).dialog( "close" );
                                                                },
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <div id="dialog-message" title="<?php print _('Welcome') ?>">
                                                    <p><?php print _('LOGGED_IN_AS',$key);?></p>
                                                </div>
                                    <?php
                                                unset($_SESSION['look_alert']);
                                            }
                                        } else {
                                    ?> 
                                    <a href="/login/?loginas=<?php echo $key; ?>" class="data-controls">
                                        <span>
                                            <img src="/images/login-as.png" width="7px" height="8px">
                                            <?php print _('login as') ." ".$key; ?> 
                                    <?php
                                        }
                                     ?> 
                                        </span>
                                    </a>

                                    <table class="data-col2" width="830px">
                                        <tr>
                                            <td colspan=3 class="username" style="padding: 0 0 0 4px;"><b><?php echo $key ?></b><a class="fullname"><?php echo $data[$key]['FNAME']?> <?php echo $data[$key]['LNAME']?></a></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;"  width="240">
                                                <table>
                                                    <tr><td colspan=2 class="counter-name"  style="padding: 2px 0 0 2px;"><?php echo $data[$key]['CONTACT']?></td></tr>
                                                    <tr><td colspan=2 class="counter-name"  style="padding: 0 0 18px 2px;">[<?php echo $data[$key]['PACKAGE']?>] <?php print _('package');?></td></tr>
                                                    <tr>
                                                        <td class="chart1" colspan=2 style="padding: 0 0 0 3px;"><?php print _('Bandwidth');?>: <?php echo get_percentage($data[$key]['U_BANDWIDTH'],$data[$key]['BANDWIDTH']) ?>% (<?php echo humanize_usage($data[$key]['U_BANDWIDTH']) ?>)
                                                            <div style="width:160px; height:6px; font-size:0;background-color:#c7d5b3;">
                                                                <div style="width:<?php echo get_percentage($data[$key]['U_BANDWIDTH'],$data[$key]['BANDWIDTH']) ?>%; height:6px; background-color:#9bbb62; border-right:1px #9bbb62 solid;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="chart1" colspan=2 style="padding: 0 0 0 3px;"><?php print _('Disk');?>: <?php echo get_percentage($data[$key]['U_DISK'],$data[$key]['DISK_QUOTA']) ?>% (<?php echo humanize_usage($data[$key]['U_DISK']) ?>)
                                                            <div style="width:160px; height:6px; font-size:0;background-color:#c7d5b3;">
                                                                <div style="width:<?php echo get_percentage($data[$key]['U_DISK'],$data[$key]['DISK_QUOTA']) ?>%; height:6px; background-color:#9bbb62; border-right:1px #9bbb62 solid;"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan=2>
                                                            <table class="chart2">
                                                                <tr>
                                                                    <td>
                                                                        <?php print _('Web');?>: <?php echo humanize_usage($data[$key]['U_DISK_WEB'])?><br>
                                                                        <?php print _('Mail');?>: <?php echo humanize_usage($data[$key]['U_DISK_MAIL'])?><br>
                                                                    </td>
                                                                    <td style="padding: 0px 10px 0px 8px">
                                                                        <?php print _('Databases');?>: <?php echo humanize_usage($data[$key]['U_DISK_DB'])?><br>
                                                                        <?php print _('User Directories');?>: <?php echo humanize_usage($data[$key]['U_DISK_DIRS'])?><br>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;" width="320">
                                                <table width="300">
                                                    <tr>
                                                        <td class="counter-name" width="36%"><?php print _('Template');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['TEMPLATE'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Web Domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_WEB_DOMAINS'] ?> / <?php echo $data[$key]['WEB_DOMAINS'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('SSL Domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_WEB_SSL'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Web Aliases');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['WEB_ALIASES'] ?> <?php print _('per domain');?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('DNS domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_DNS_DOMAINS'] ?> / <?php echo $data[$key]['DNS_DOMAINS'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('DNS records');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['DNS_RECORDS'] ?> <?php print _('per domain');?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Name Servers');?>:<br></td>
                                                        <td class="counter-value"><?php echo str_replace(',', ', ',$data[$key]['NS']) ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align:top;">
                                                <table class="data-col4">
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Mail Domains');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_MAIL_DOMAINS'] ?> / <?php echo $data[$key]['MAIL_DOMAINS'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Mail Accounts');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['MAIL_ACCOUNTS'] ?> <?php print _('per domain');?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Databases');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_DATABASES'] ?> / <?php echo $data[$key]['DATABASES'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Cron Jobs');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_CRON_JOBS'] ?> / <?php echo $data[$key]['CRON_JOBS'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('SSH Access');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['SHELL'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('IP Addresses');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['IP_OWNED'] ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="counter-name"><?php print _('Backups');?>:</td>
                                                        <td class="counter-value"><?php echo $data[$key]['U_BACKUPS'] ?> / <?php echo $data[$key]['BACKUPS'] ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <?php
                                }
                            ?> 
                        </table>
                        </form>

                        <table class="data-count">
                            <tr>
                                <td width="160px"></td>
                                <td>
                                    <?php
                                        if ( $i == 1) {
                                            echo _('1 account');
                                        } else {
                                            echo _('%s accounts',$i);
                                        }
                                    ?> 
                                </td>
                            </tr>
                        </table>
                    </div>
