    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
          <a href="/edit/server/" class="ui-button cancel" title="<?=__('Configure')?>"><i class="fas fa-cog status-icon maroon"></i> <?=__('Configure')?></a>
          <a href="/list/rrd/" class="ui-button cancel" title="<?=__('Graphs')?>"><i class="fas fa-chart-area status-icon green"></i> <?=__('Graphs')?></a>
          <a href="/list/ip/" class="ui-button cancel" title="<?=__('IP')?>"><i class="fas fa-ethernet status-icon blue"></i> <?=__('IP')?></a>
          <?php if ((isset($_SESSION['FIREWALL_SYSTEM'])) && (!empty($_SESSION['FIREWALL_SYSTEM']))) {?><a href="/list/firewall/" class="ui-button cancel" title="<?=__('Firewall')?>"><i class="fas fa-shield-alt status-icon red"></i> <?=__('Firewall')?></a><?php }?>
          <a href="/list/updates/" class="ui-button cancel" title="<?=__('Updates')?>"><i class="fas fa-sync status-icon green"></i> <?=__('Updates')?></a>
          <a href="/restart/system/?hostname=<?php echo $sys['sysinfo']['HOSTNAME'] ?>&token=<?=$_SESSION['token']?>" class="ui-button danger cancel" title="<?=__('Restart')?>"><i class="fas fa-undo status-icon red"></i> <?=__('Restart')?></a>
        </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td>
                <form action="/bulk/service/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                    <select class="" name="action">
                      <option value=""><?php print __('apply to selected');?></option>
                      <option value="stop"><?php print __('stop');?></option>
                      <option value="start"><?php print __('start');?></option>
                      <option value="restart"><?php print __('restart');?></option>
                    </select>
                </div>
                <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
  
    <div class="l-center units animated fadeIn">

      <div class="l-unit <? if($status == 'suspended') echo 'l-unit--suspended';?>">
        <div class="l-unit__col l-unit__col--right server-info">
          <div class="icon-server-info"><i class="fas fa-server"></i></div>
          <div class="l-unit__name separate server-info-name"><?=$sys['sysinfo']['HOSTNAME']?></div>
          <div class="l-unit__stats server-info-data">
            <table>
               <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left">
                      <b><?=$sys['sysinfo']['OS']?>
                      <?=$sys['sysinfo']['VERSION']?></b>
                    </div>
                    <div class="l-unit__stat-col l-unit__stat-col--right">(<?=$sys['sysinfo']['ARCH']?>)</div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left"><?=__('Load Average')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right"><b><?=$sys['sysinfo']['LOADAVERAGE']?></b></div>
                  </div>
                </td>
                <td>
                  <div class="l-unit__stat-cols clearfix last">
                    <div class="l-unit__stat-col l-unit__stat-col--left compact"><?=__('Uptime')?>:</div>
                    <div class="l-unit__stat-col l-unit__stat-col--right"><b><?=humanize_time($sys['sysinfo']['UPTIME'])?></b></div>
                  </div>
                </td>
              </tr>
             </table>
           </div>
         </div>
      </div>

      <div class="table-header"> 
        <div class="l-unit__col l-unit__col--right">
        <div class="clearfix l-unit__stat-col--left super-compact">
          <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
        </div>
                    
        <div class="clearfix l-unit__stat-col--left wide-2"><b><?php print __('Service');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-right compact-2">&nbsp;</div>
        <div class="clearfix l-unit__stat-col--left wide-3"><b><?php print __('Description');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-center"><b><?php print __('Uptime');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-center"><b><?php print __('CPU');?></b></div>
        <div class="clearfix l-unit__stat-col--left text-center"><b><?php print __('Memory');?></b></div>
      </div>
    </div>

      <?php
        foreach ($data as $key => $value) {
        ++$i;
          if ($data[$key]['STATE'] == 'running') {
            $status = 'active';
            $action = 'stop';
          } else {
            $status = 'suspended';
            $action = 'start';
          }

          $cpu = $data[$key]['CPU'] / 10;
          $cpu = number_format($cpu, 1);
          if ($cpu == '0.0')  $cpu = 0;
      ?>

        <div class="l-unit <? if($status == 'suspended') echo 'l-unit--suspended';?>">
          <div class="l-unit__col l-unit__col--right">
          <div class="clearfix l-unit__stat-col--left super-compact">
            <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="service[]" value="<?php echo $key ?>">
          </div>
          <div class="clearfix l-unit__stat-col--left wide-2"><b><a href="/edit/server/<? echo $key ?>/"><?=$key?></a></b></div>
          <div class="clearfix l-unit__stat-col--left text-center compact-2">
                  <a href="/edit/server/<? echo $key ?>/"><i class="fas fa-pencil-alt status-icon orange status-icon dim icon-large"></i></a>
                  <a href="/restart/service/?srv=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="data-controls fas fa-undo status-icon highlight status-icon dim icon-large"></i></a>
                  <a href="/<?php echo $action ?>/service/?srv=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-pause status-icon red status-icon dim icon-large"></i></a>
            </div>
          <div class="clearfix l-unit__stat-col--left wide-3"><?=__($data[$key]['SYSTEM'])?></div>
          <div class="clearfix l-unit__stat-col--left text-center"><b><?=humanize_time($data[$key]['RTIME'])?></b></div>
          <div class="clearfix l-unit__stat-col--left text-center"><b><?=$cpu?></b></div>
          <div class="clearfix l-unit__stat-col--left text-center"><b><?=$data[$key]['MEM']?> <?=__('mb')?></b></div>
        </div>
      </div>
      <?}?>
    </div>

    <div id="vstobjects">
      <div class="l-separator visible"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix"></div>
        </div>
    </div>
  </div>
