    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <a href="/add/firewall/" class="l-sort__create-btn" title="<?=str_replace(' ', '&nbsp;', __('Add Rule'))?>"></a>
        <ul class="context-menu sort-order" style="display:none;">
          <li entity="sort-action"><span class="name active"><?=__('Action')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-protocol"><span class="name"><?=__('Protocol')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-port"><span class="name"><?=__('Port')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-ip" sort_as_int="1"><span class="name"><?=__('IP address')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-comment"><span class="name"><?=__('Comment')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="step-right">
                <? if(!empty($_SESSION['FIREWALL_EXTENSION'])) {
                     echo '<a class="vst" href="/list/firewall/banlist/"> '.__('list fail2ban').'</a>';
                   } ?>
              </td>
              <td class="l-sort-toolbar__search-box step-left">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <input type="submit" value="" class="l-sort-toolbar__search" onClick="return doSearch('/search/')" />
                </form>
              </td>
              <td class="toggle-all">
                <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                <label for="toggle-all" class="check-label toggle-all"><?=__('toggle all')?></label>
              </td>
              <td class="sort-by">
                <?=__('sort by');?>: <span><b><?=__('Action')?></b></span> <i class="l-icon-down-arrow media-top"></i>
              </td>
              <td>
                <form action="/bulk/firewall/" method="post">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action" id="">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="delete"><?php print __('delete') ?></option>
                  </select>
                </div>
                <input type="submit" value="" class="l-sort-toolbar__filter-apply" />
              </td>
            </tr>
          </table>
        </div>

      </div>

      <? display_error_block(); ?>

      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units compact">
      <?php
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_RULE_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend' ;
            $spnd_confirmation = 'SUSPEND_RULE_CONFIRMATION' ;
          }
      ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--suspended'; if($_COOKIE['firewall-'.sha1($key)] == 1) echo ' l-unit--starred'; ?>" uniq-id="firewall-<?=sha1($key)?>" sort-action="<?=$data[$key]['ACTION']?>" sort-protocol="<?=$data[$key]['PROTOCOL']?>" sort-port="<?=$data[$key]['PORT']?>" sort-ip="<?=str_replace('.', '', $data[$key]['IP'])?>" sort-comment="<?=$data[$key]['COMMENT']?>" sort-star="<? if($_COOKIE['firewall-'.sha1($key)] == 1) echo '1'; else echo '2'; ?>">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
            <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="rule[]" value="<?php echo $key ?>">
            <label for="check<?php echo $i ?>" class="check-label"></label>
          </div>
          <!-- l-unit-toolbar__col -->
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
            <div class="actions-panel clearfix">
              <div class="actions-panel__col actions-panel__edit"><a href="/edit/firewall/?rule=<?=$key?>"><?=__('edit')?> <i></i></a></div>
              <div class="actions-panel__col actions-panel__<?=$spnd_action?>">
                <a id="<?=$spnd_action ?>_link_<?=$i?>" class="data-controls do_<?=$spnd_action?>">
                  <?=__($spnd_action)?> <i class="do_<?=$spnd_action?>"></i>
                  <input type="hidden" name="<?=$spnd_action?>_url" value="/<?=$spnd_action ?>/firewall/?rule=<?=$data[$key]['RULE']?>&token=<?=$_SESSION['token']?>" />
                  <div id="<?=$spnd_action?>_dialog_<?=$i?>" class="confirmation-text-suspention hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__($spnd_confirmation,$key)?></p>
                  </div>
                </a>
              </div>
              <div class="actions-panel__col actions-panel__delete">
                <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                  <?=__('delete')?> <i class="do_delete"></i>
                  <input type="hidden" name="delete_url" value="/delete/firewall/?rule=<?=$data[$key]['RULE']?>&token=<?=$_SESSION['token']?>" />
                  <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=__('Confirmation')?>">
                    <p class="confirmation"><?=__('DELETE_RULE_CONFIRMATION',$data[$key]['RULE'])?></p>
                  </div>
                </a>
              </div>

            </div>
            <!-- /.actiona-panel -->
          </div>
          <!-- l-unit-toolbar__col -->
        </div>
        <!-- /.l-unit-toolbar -->

        <div class="l-unit__col l-unit__col--left clearfix">
          <div class="l-unit__suspended""><?=__('suspended')?></div>
          <div class="text-center">
            <i class="l-icon-star"></i>
          </div>
        </div>
        <!-- /.l-unit__col -->
        <div class="l-unit__col l-unit__col--right">
          <div class="l-unit__stats">
            <div class="clearfix l-unit__stat-col--left"><b><?=$data[$key]['ACTION'] ?></b></div>
            <div class="clearfix l-unit__stat-col--left compact"><b><?=$data[$key]['PROTOCOL']?></b></div>
            <div class="clearfix l-unit__stat-col--left wide-2"><? if(!empty($data[$key]['COMMENT'])) echo '/ ' . $data[$key]['COMMENT']; else echo "&nbsp;"; ?></div>
            <div class="clearfix l-unit__stat-col--left wide"><b><?=$data[$key]['PORT'] ?></b></div>
            <div class="clearfix l-unit__stat-col--left"><b><?=$data[$key]['IP'] ?></b></div>
          </div>
          <!-- /.l-unit__stats -->
        </div>
        <!-- /.l-unit__col -->
      </div>
      <!-- /.l-unit -->
      <!-- div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 rule');
              } else {
                echo __('%s rules',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
