    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
          <a class="ui-button cancel" id="btn-back" href="/list/backup/"><i class="fas fa-arrow-left status-icon blue"></i><?=__('Back')?></a>
          <a href="/edit/backup/exclusions/" class="ui-button cancel" title="<?=__('Edit Backup Exclusions')?>"><i class="fas fa-pencil-alt status-icon orange"></i> <?=__('Edit Backup Exclusions')?></a>
        </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td class="l-sort-toolbar__search-box">
                <form action="/search/" method="get">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <input type="text" name="q" class="search-input" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" />
                  <button type="submit" class="l-sort-toolbar__filter-apply" onclick="return doSearch('/search/')" value=""><i class="fas fa-search"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>

    <div class="l-center units animated fadeIn">
      <?
        foreach ($data as $key => $value) {
      ?>

      <div class="l-unit">
        <div class="l-unit-toolbar clearfix">
          <div class="l-unit-toolbar__col l-unit-toolbar__col--left">
          </div>
          <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
          </div>
        </div>

        <div class="l-unit__col l-unit__col--left clearfix"></div>
        <div class="l-unit__col l-unit__col--right">
          <div>
            <table>
              <tr>
                <td>
                  <div class="l-unit__stat-cols clearfix">
                    <div class="l-unit__stat-col l-unit__stat-col--left l-unit__name small-2"><?=$key?></div>
                    <div class="l-unit__stat-col l-unit__stat-col--left wide-3">
                      <?
                        if (empty($value)) echo __('no exclusions');
                        foreach ($value as $ex_key => $ex_value) {
                         echo '<b>'.$ex_key.' </b>'.$ex_value.'<br>';
                        }
                      ?>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <? } ?>
    </div>

    <div id="vstobjects">
      <div class="l-separator"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="data-count l-unit__col l-unit__col--right total clearfix">
          </div>
      </div>
    </div>
  </div>
