<div class="l-center">
    <div class="l-sort clearfix noselect">
        <div class="l-unit header" style="padding-top: 6px;">
            <div class="l-unit__col l-unit__col--left clearfix">
              <div class="text-center jump-small-top"></div>
            </div>
      
            <div class="l-unit__col l-unit__col--right">
                <div class="clearfix l-unit__stat-col--left small"><b><?=__('Date')?></b></div>
                <div class="clearfix l-unit__stat-col--left compact"><b><?=__('Time')?></b></div>
                <div class="clearfix l-unit__stat-col--left wide-4"><b><?=__('Value')?></b></div>
            </div>
         </div>
      <div class="l-sort-toolbar clearfix">
      </div>
    </div>
    <!-- /.l-sort -->
  </div>

  <div class="l-separator"></div>
  <!-- /.l-separator -->


  <div class="l-center units animated fadeIn">

    <?php
      foreach ($data as $key => $value) {
         ++$i;
    ?>

    <div class="l-unit header">
        <div class="l-unit__col l-unit__col--left clearfix">
          <div class="text-center jump-small-top"></div>
        </div>
  
        <div class="l-unit__col l-unit__col--right step-top">
          <div style="margin-bottom: 40px;">
            <div class="clearfix l-unit__stat-col--left small"><b><?=translate_date($data[$key]['DATE'])?></b></div>
            <div class="clearfix l-unit__stat-col--left compact"><b><?=$data[$key]['TIME']?></b></div>
            <div class="clearfix l-unit__stat-col--left wide-4"><?=$data[$key]['CMD']?></div>
          </div>
        </div>

      <!-- /.l-unit__col -->
    </div>
    <!-- /.l-unit -->
    <!--div class="l-separator"></div-->
    <!-- /.l-separator -->
    <?}?>

  </div>-->

  <div id="vstobjects">
      <div class="l-separator"></div>
  <div class="l-center">
      <div class="l-unit-ft">
        <table class='data'></table>
        <div class="l-unit__col l-unit__col--left clearfix"></div>
        <div class="data-count l-unit__col l-unit__col--right clearfix">
          <?
            if ( $i == 1) {
              echo __('1 log record');
            } else {
              echo __('%s log records',$i);
            }
          ?>
        </div>
    </div>
  </div>
</div>
