<div class="l-center">
  <div class="l-sort clearfix noselect">
    <div class="l-unit-toolbar_buttonstrip">
      <a href="javascript:location.reload();" class="ui-button cancel" title="<?=_('Refresh')?>"><i class="fas fa-redo status-icon green"></i> <?=_('Refresh')?></a>
      <div class="actions-panel display-inline-block" key-action="js">
        <a class="data-controls do_delete ui-button danger cancel" title="<?=_('Delete')?>">
          <i class="do_delete fas fa-times-circle status-icon red"></i>
          <?=_('Delete')?>
          <input type="hidden" name="delete_url" value="/delete/user/log/?token=<?=$_SESSION['token']?>" />
            <div class="confirmation-text-delete hidden" title="<?=_('Confirmation')?>">
              <p class="confirmation"><?=_('Delete authentication logs?')?></p>
            </div>
        </a>
      </div>
    </div>
    <div class="l-sort-toolbar clearfix">
    </div>
  </div>
</div>

<div class="l-separator"></div>

<div class="l-center units animated fadeIn">

  <div class="header table-header">     
    <div class="l-unit_col l-unit_col--right">
      <div class="clearfix l-unit_stat-col--left super-compact">
        &nbsp;
      </div>       
      <div class="clearfix l-unit_stat-col--left"><b><?php print _('Date');?></b></div>
      <div class="clearfix l-unit_stat-col--left"><b><?php print _('Time');?></b></div>
      <div class="clearfix l-unit_stat-col--left"><b><?php print _('Ip adress');?></b></div>
      <div class="clearfix l-unit_stat-col--left"><b><?php print _('Active');?></b></div>
      <div class="clearfix l-unit_stat-col--left"><b><?php print _('Browser Fingerprint');?></b></div>
    </div>
  </div>

  <?php
      foreach ($data as $key => $value) {
        ++$i;
      ?>
      <div class="l-unit header">
        <div class="l-unit_col l-unit_col--right">
          <div class="clearfix l-unit_stat-col--left super-compact">
            <i class="fas fa-info-circle status-icon dim"></i>
          </div>
          <div class="clearfix l-unit_stat-col--left "><b><?=translate_date($data[$key]['DATE'])?></b></div>
          <div class="clearfix l-unit_stat-col--left "><b><?=$data[$key]['TIME']?></b></div>
          <div class="clearfix l-unit_stat-col--left "><?=$data[$key]['IP']?></div>
          <div class="clearfix l-unit_stat-col--left small"><?=$data[$key]['ACTIVE']?></div>
          <div class="clearfix l-unit_stat-col--left "><?=$data[$key]['FINGERPRINT']?></div>
        </div>
      </div>
  <?}?>
</div>

<div id="vstobjects">
  <div class="l-separator"></div>
  <div class="l-center">
    <div class="l-unit-ft">
      <table class='data'></table>
      <div class="data-count l-unit_col l-unit_col--right clearfix">
        <?
          if ( $i == 1) {
            echo _('1 log record');
          } else {
            echo _('%s log records',$i);
          }
        ?>
      </div>
    </div>
  </div>
</div>