    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <div class="l-unit-toolbar__buttonstrip">
          <a class="ui-button cancel" id="btn-back" href="/list/firewall/"><i class="fas fa-arrow-left status-icon blue"></i> <?=_('Back')?></a>
          <a href="/add/firewall/banlist/" id="btn-create" class="ui-button cancel"><i class="fas fa-plus-circle status-icon green"></i> <?=_('Ban IP Address')?></a>
        </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td>
                <form action="/bulk/firewall/banlist/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action" id="">
                    <option value=""><?=_('apply to selected')?></option>
                    <option value="delete"><?php print _('delete') ?></option>
                  </select>
                </div>
                <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
  
    <div class="l-center units animated fadeIn">
          <div class="header table-header">
              <div class="l-unit__col l-unit__col--right">
                    <div class="clearfix l-unit__stat-col--left super-compact">
                        <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                    </div>
                    <div class="clearfix l-unit__stat-col--left wide-3"><b><?php print _('IP address');?></b></div>
                    <div class="clearfix l-unit__stat-col--left compact-4"><b>&nbsp;</b></div>  
                    <div class="clearfix l-unit__stat-col--left text-center compact-5"><b><?php print _('Date');?></b></div>
                    <div class="clearfix l-unit__stat-col--left text-center compact-5"><b><?php print _('Time');?></b></div>
                    <div class="clearfix l-unit__stat-col--left wide text-center"><b><?php print _('Comment');?></b></div> 
               </div>
            </div>

      <?php
        foreach ($data as $key => $value) {
          ++$i;
          list($ip,$chain) = explode(":",$key);

      ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--suspended';?>">
        <div class="l-unit__col l-unit__col--right">
              <div class="clearfix l-unit__stat-col--left super-compact">
                  <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="ipchain[]" value="<?php echo $ip . ':' . $value['CHAIN'] ?>">
                </div>
              <div class="clearfix l-unit__stat-col--left wide-3"><b><?=$ip?></b></div>
              <!-- START QUICK ACTION TOOLBAR AREA -->
              <div class="clearfix l-unit__stat-col--left compact-4">
                <div class="l-unit-toolbar__col l-unit-toolbar__col--right noselect">
                    <div class="actions-panel clearfix">
                      <div class="actions-panel__col actions-panel__delete shortcut-delete" key-action="js">
                        <a id="delete_link_<?=$i?>" class="data-controls do_delete">
                          <i class="fas fa-trash status-icon red status-icon dim do_delete"></i>
                          <input type="hidden" name="delete_url" value="/delete/firewall/banlist/?ip=<?=$ip?>&chain=<?=$value['CHAIN']?>&token=<?=$_SESSION['token']?>" />
                          <div id="delete_dialog_<?=$i?>" class="confirmation-text-delete hidden" title="<?=_('Confirmation')?>">
                            <p class="confirmation"><?=sprintf(_('DELETE_IP_CONFIRMATION'),$key)?></p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END QUICK ACTION TOOLBAR AREA -->
                <div class="clearfix l-unit__stat-col--left text-center compact-5"><?=_($data[$key]['DATE'])?></div>
                <div class="clearfix l-unit__stat-col--left text-center compact-5"><?=$data[$key]['TIME']?></div>
                <div class="clearfix l-unit__stat-col--left text-center wide"><b><?=_($value['CHAIN'])?></b></div>
            </div>
      </div>
      <?}?>
    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 0) {
                echo _('There are currently no banned IP addresses.');
              }else{
                printf(ngettext('%d banned IP address', '%d banned IP addresses', $i),$i);
              }
            ?>
          </div>
          <div class="data-count l-unit__col l-unit__col--right back clearfix">
           
          </div>
      </div>
    </div>
  </div>
