    <div class="l-center">
      <div class="l-sort clearfix noselect">
          <div class="l-unit-toolbar__buttonstrip">
              <a class="ui-button cancel" href='/list/stats/'><i class="fas fa-info-circle status-icon lightblue"></i> <?=__('Overall Statistics')?></a>
          </div>
        <div class="l-sort-toolbar clearfix">
          <table>
            <tr>
              <td>
                <form action="/list/stats/" method="get" id="objects">
                  <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                  <div class="l-select">
                    <select class="" name="user">
                      <option value=""><?=__('show per user')?></option>
                        <?
                          foreach ($users as $key => $value) {
                            echo "\t\t\t\t<option value=\"".$value."\"";
                            if ((!empty($v_user)) && ( $value == $_GET['user'])){
                              echo ' selected';
                            }
                              echo ">".$value."</option>\n";
                            }
                          ?>
                    </select>
                  </div>
                  <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>

    <div class="l-center units narrow animated fadeIn">
      <div class="header table-header">      
        <div class="l-unit__col l-unit__col--right step-top">
            <div class="clearfix l-unit__stat-col--left super-compact">&nbsp;</div>
            <div class="clearfix l-unit__stat-col--left wide-2"><b><?php print __('Month');?></b></div>
            <div class="clearfix l-unit__stat-col--left compact text-right"><b>&nbsp;</b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><?php print __('IPs');?></b></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><i class="fas fa-hdd" title="<?php print __('Disk');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><i class="fas fa-exchange-alt" title="<?php print __('Bandwidth');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-globe-americas" title="<?php print __('Web Domains');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-link" title="<?php print __('Web Aliases');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-atlas" title="<?php print __('DNS Domains');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-globe" title="<?php print __('DNS Records');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-mail-bulk" title="<?php print __('Mail Domains');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-inbox" title="<?php print __('Mail Accounts');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-database" title="<?php print __('Databases');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-clock" title="<?php print __('Cron Jobs');?>"></i></b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><i class="fas fa-undo" title="<?php print __('Backups');?>"></i></b></div>
         </div>
        </div>
      </div>

    <div class="l-center animated fadeIn">
      <?php
        foreach ($data as $key => $value) {
           ++$i;
      ?>
        <div class="l-unit <? if($_COOKIE['stats-'.sha1($key)] == 1) echo ' l-unit--starred';?>" uniq-id="stats-<?=sha1($key)?>">
          <div class="l-unit__col l-unit__col--right">
            <div class="clearfix l-unit__stat-col--left super-compact"><i class="fas fa-calendar-alt status-icon dim"></i></div>
            <div class="clearfix l-unit__stat-col--left wide-2"><b><?=__(strftime("%b", strtotime($key))).strftime(" %Y", strtotime($key))?></b></div>
            <div class="clearfix l-unit__stat-col--left compact text-right"><b>&nbsp;</b></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><b><?=$data[$key]['IP_OWNED']?></b></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_DISK'])?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center compact"><b><?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_WEB_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_WEB_ALIASES']?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DNS_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DNS_RECORDS']?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_MAIL_DOMAINS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_MAIL_ACCOUNTS']?></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_DATABASES']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_CRON_JOBS']?></b></span></div>
            <div class="clearfix l-unit__stat-col--left text-center super-compact"><span class="jump-top badge gray raised"><b><?=$data[$key]['U_BACKUPS']?></b></span></div>
           </div>
         </div>
      <?}?>
    </div>

    </div>

    <div id="vstobjects">
        <div class="l-separator"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 month');
              } else {
                echo __('%s months',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
