<?php
    if (!empty($_SESSION['error_msg'])) {
?>
        <script type="text/javascript">
            $(function() {
                $( "#dialog:ui-dialog" ).dialog( "destroy" );
                $( "#dialog-message" ).dialog({
                    modal: true,
                    buttons: {
                        Ok: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            });
        </script>
        <div id="dialog-message" title="Error">
        <p><?php echo $_SESSION['error_msg'] ?>.</p>
        </div>
<?php
        unset($_SESSION['error_msg']);
    }
?>
<table class="sub-menu">
<tr >
    <td style="padding: 19px 0 16px 22px">
        <a class="add" <?php if ((empty($_GET['period'])) || ($_GET['period'] == 'daily')) echo "style='color: #34536A'" ?> href="?period=daily">Daily</a>
        <a class="add" <?php if ($_GET['period'] == 'weekly') echo "style='color: #34536A'" ?> href="?period=weekly">Weekly</a>
        <a class="add" <?php if ($_GET['period'] == 'monthly') echo "style='color: #34536A'" ?> href="?period=monthly">Monthly</a>
        <a class="add" <?php if ($_GET['period'] == 'yearly') echo "style='color: #34536A'" ?> href="?period=yearly">Yearly</a>
    </td>
    <td style="text-align: right;" ><input type="text" size="30" style="padding: 3px 80px 3px 0;"> <button> Search </button></td>
</tr>
</table>
