<table class="sub-menu">
<tr >
    <td style="padding: 4px 0 10px 0;"><img style="padding: 0 6px 0 18px;" src="/images/period.png" width="12px" height="12px">
        <a class="add" href="?period=daily">Daily</a>
        <a class="add" href="?period=weekly">Weekly</a>
        <a class="add" href="?period=monthly">Monthly</a>
        <a class="add" href="?period=yearly">Yearly</a>
    </td>
    <td style="text-align: right;" ><input type="text" size="30" style="border: 2px solid #D3ECF8; padding: 2px 80px 3px 0;"> <button> Search </button></td>
</tr>
</table>
