<table class="sub-menu">
<tr>
    <td width="142px" style="padding: 16px 0 16px 6px">
    <button style="width:120px; padding: 2px 0px 2px 0px;" onclick="location.href='/add/db/'">Add Database</button>
    <td><a style="padding: 0 4px 0 12px" class="select-controls" href='javascript:checkedAll("vstobjects");'> toggle all </a>
    <select style="margin:0 0 0 0px">
        <option>apply to selected</option>
        <option>rebuild</option>
        <option>update counters</option>
        <option>suspend</option>
        <option>unsuspend</option>
        <option>delete</option>
    </select> <button> > </button></td>
</td>
    <td style="text-align: right;"><input type="text" size="30" style="padding: 3px 80px 3px 0;"> <button> Search </button></td>
</tr><tr>
</tr>
</table>
<form id="vstobjects">
