    <center>
        <table class="main">
            <tr>
                <td>
                    <table class="fixed" >
                        <tr>
                            <td>
                                <table class="top">
                                    <tr>
                                        <td width="179px"></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'PACKAGE' ) echo 's' ?>link" href="/list/package/"><b><?php print _('Packages');?></a></b></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'IP' ) echo 's' ?>link" href="/list/ip/"><b><?php print _('IP Addresses');?></a></b></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'RRD' ) echo 's' ?>link" href="/list/rrd/"><b><?php print _('RRD Graphics');?></a></b></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'STATS' ) echo 's' ?>link" href="/list/stats/"><b><?php print _('Statistics');?></a></b></td>
                                        <td width="120px"><a class="top-<?php if($TAB == 'LOG' ) echo 's' ?>link" href="/list/log/"><b><?php print _('History Log');?></a></b></td>
                                        <td width="227px" style="padding: 0 24px 0 0; text-align: right;"><b><?php if($user != $_SESSION['user']) echo 'admin / ' ?><?php echo $user ?></b><a class="top-link" style="padding: 0 0 0 6" href="/logout/"><?php print _('Log out');?></a></td>
                                    </tr>
                                </table>
                                <table class="nav">
                                    <tr>
                                        <td class="logo">
                                            <img src="/images/logo.png" width="124px" height="46px" alt="<?php print _('Vesta logo');?>">
                                        </td>
                                        <td class="nav-<?php if($TAB == 'USER' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'USER' ) echo 's' ?>link" href="/list/user/"><b><?php print _('USER');?></b></a>
                                            <p class="counters">
                                                <?php print _('users');?>: <? echo $panel[$user]['U_USERS'] ?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_USERS']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'WEB' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'WEB' ) echo 's' ?>link" href="/list/web/"><b><?php print _('WEB');?></b></a>
                                            <p class="counters">
                                                <?php print _('domains');?>: <? echo $panel[$user]['U_WEB_DOMAINS']?><br>
                                                <?php print _('aliases');?>: <? echo $panel[$user]['U_WEB_ALIASES']?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_WEB']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'DNS' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'DNS' ) echo 's' ?>link" href="/list/dns/"><b><?php print _('DNS');?></b></a>
                                            <p class="counters">
                                                <?php print _('domains');?>: <? echo $panel[$user]['U_DNS_DOMAINS']?><br>
                                                <?php print _('records');?>: <? echo $panel[$user]['U_DNS_RECORDS']?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_DNS']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'MAIL' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'MAIL' ) echo 's' ?>link" href="/list/mail/"><b><?php print _('MAIL');?></b></a>
                                            <p class="counters">
                                                <?php print _('domains');?>: <? echo $panel[$user]['U_MAIL_DOMAINS']?><br>
                                                <?php print _('accounts');?>: <? echo $panel[$user]['U_MAIL_ACCOUNTS']?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_MAIL']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'DB' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'DB' ) echo 's' ?>link" href="/list/db/"><b><?php print _('DB');?></b></a>
                                            <p class="counters">
                                                <?php print _('databases');?>: <? echo $panel[$user]['U_DATABASES']?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_DB']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'CRON' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'CRON' ) echo 's' ?>link" href="/list/cron/"><b><?php print _('CRON');?></b></a>
                                            <p class="counters">
                                                <?php print _('jobs');?>: <? echo $panel[$user]['U_CRON_JOBS']?><br>
                                                <?php print _('suspended');?>: <? echo $panel[$user]['SUSPENDED_CRON']?>
                                            </p>
                                        </td>
                                        <td class="nav-<?php if($TAB == 'BACKUP' ) echo 's' ?>block">
                                            <a class="nav-<?php if($TAB == 'BACKUP' ) echo 's' ?>link" href="/list/backup/"><b><?php print _('BACKUP');?></b></a>
                                            <p class="counters">
                                                <?php print _('backups');?>: <? echo $panel[$user]['U_BACKUPS']?><br>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
