  <div class="hidden" id="token" token="<?=$_SESSION['token']?>"></div>
  <a href="#" class="to-top">
    <i class="l-icon-to-top"></i>
  </a>
  <a href="#" class="to-shortcuts">
    <i class="l-icon-shortcuts"></i>
  </a>

  <div class="l-header">
    <div class="l-center">
      <a href="/list/user/" class="l-logo"></a>
      <!-- /.l-logo -->
      <div class="l-menu clearfix noselect">
        <div class="l-menu__item <?php if($TAB == 'PACKAGE' ) echo 'l-menu__item--active' ?>"><a href="/list/package/"><?=__('Packages')?></a></div>
        <div class="l-menu__item <?php if($TAB == 'IP' ) echo 'l-menu__item--active' ?>"><a href="/list/ip/"><?=__('IP')?></a></div>
        <div class="l-menu__item <?php if($TAB == 'RRD' ) echo 'l-menu__item--active' ?>"><a href="/list/rrd/"><?=__('Graphs')?></a></div>
        <div class="l-menu__item <?php if($TAB == 'STATS' ) echo 'l-menu__item--active' ?>"><a href="/list/stats/"><?=__('Statistics')?></a></div>
        <div class="l-menu__item <?php if($TAB == 'LOG' ) echo 'l-menu__item--active' ?>"><a href="/list/log/"><?=__('Log')?></a></div>
        <div class="l-menu__item <?php if($TAB == 'UPDATES' ) echo 'l-menu__item--active' ?>"><a href="/list/updates/"><?=__('Updates')?></a></div>
        <?php if ((isset($_SESSION['FIREWALL_SYSTEM'])) && (!empty($_SESSION['FIREWALL_SYSTEM']))) {?><div class="l-menu__item <?php if($TAB == 'FIREWALL' ) echo 'l-menu__item--active' ?>"><a href="/list/firewall/"><?=__('Firewall')?></a></div><?php }?>
        <?php if ((isset($_SESSION['FILEMANAGER_KEY'])) && (!empty($_SESSION['FILEMANAGER_KEY']))) {?><div class="l-menu__item <?php if($TAB == 'FILEMANAGER' ) echo 'l-menu__item--active' ?>"><a href="/list/directory/"><?=__('File Manager')?></a></div><?php }?>
        <?php if ($_SESSION['SOFTACULOUS'] == 'yes')  {?><div class="l-menu__item"><a href="/softaculous/"><?=__('Apps')?></a></div><?php }?>
        <div class="l-menu__item <?php if($TAB == 'SERVER' ) echo 'l-menu__item--active' ?>"><a href="/list/server/"><?=__('Server')?></a></div>
      </div>
      <!-- /.l-menu -->
      <div class="l-profile noselect">
        <a class="l-profile__notifications <? if($panel[$user]['NOTIFICATIONS'] == 'yes') echo " updates"; ?>">&nbsp;</a>
        <a class="l-profile__username" href="/edit/user/?user=<?php echo $user; ?>"><?=$user?></a>
        <a class="l-profile__logout" href="/logout/"> <?=__('Log out')?> </a>
      </div>
      <!-- /.l-profile -->
    </div>
  </div>
  <ul class="notification-container hidden"></ul>

  <!-- /.l-header -->



  <div class="l-content">
    <div class="l-center">
      <div class="l-stat">
        <div class="l-stat__col <?php if($TAB == 'USER' ) echo 'l-stat__col--active' ?>">
          <a href="/list/user/">
            <div class="l-stat__col-title"><?=__('USER')?></div>
            <ul>
              <li><?=__('users')?>: <span><?=$panel[$user]['U_USERS']?></span></li>
              <li><?=__('spnd');?>: <span><?=$panel[$user]['SUSPENDED_USERS']?></span></li>
            </ul>
          </a>
        </div>
		<?php if($panel[$user]['WEB_DOMAINS'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'WEB' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/web/">
	            <div class="l-stat__col-title"><?=__('WEB')?></div>
	            <ul>
	              <li><?=__('domains')?>: <span><?=$panel[$user]['U_WEB_DOMAINS']?></span></li>
	              <li><?=__('aliases')?>: <span><?=$panel[$user]['U_WEB_ALIASES']?></span></li>
	              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_WEB']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
		<?php if($panel[$user]['DNS_DOMAINS'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'DNS' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/dns/">
	            <div class="l-stat__col-title"><?=__('DNS')?></div>
	            <ul>
	              <li><?=__('domains')?>: <span><?=$panel[$user]['U_DNS_DOMAINS']?></span></li>
	              <li><?=__('records')?>: <span><?=$panel[$user]['U_DNS_RECORDS']?></span></li>
	              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_DNS']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
		<?php if($panel[$user]['MAIL_DOMAINS'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'MAIL' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/mail/">
	            <div class="l-stat__col-title"><?=__('MAIL')?></div>
	            <ul>
	              <li><?=__('domains')?>: <span><?=$panel[$user]['U_MAIL_DOMAINS']?></span></li>
	              <li><?=__('accounts')?>: <span><?=$panel[$user]['U_MAIL_ACCOUNTS']?></span></li>
	              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_MAIL']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
		<?php if($panel[$user]['DATABASES'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'DB' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/db/">
	            <div class="l-stat__col-title"><?=__('DB')?></div>
	            <ul>
	              <li><?=__('databases')?>: <span><?=$panel[$user]['U_DATABASES']?></span></li>
	              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_DB']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
		<?php if($panel[$user]['CRON_JOBS'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'CRON' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/cron/">
	            <div class="l-stat__col-title"><?=__('CRON')?></div>
	            <ul>
	              <li><?=__('jobs')?>: <span><?=$panel[$user]['U_CRON_JOBS']?></span></li>
	              <li><?=__('spnd')?>: <span><?=$panel[$user]['SUSPENDED_CRON']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
		<?php if($panel[$user]['BACKUPS'] != "0") { ?>
	        <div class="l-stat__col <?php if($TAB == 'BACKUP' ) echo 'l-stat__col--active' ?>">
	          <a href="/list/backup/">
	            <div class="l-stat__col-title"><?=__('BACKUP')?></div>
	            <ul>
	              <li><?=__('backups')?>: <span><?=$panel[$user]['U_BACKUPS']?></span></li>
	            </ul>
	          </a>
	        </div>
		<?php } ?>
      </div>
      <!-- /.l-stats -->
    </div>
    <div class="l-separator"></div>
    <!-- /.l-separator -->
