<table class='data'>
<tr class="data-add">
    <td class="data-dotted" style="padding: 0px 10px 0px 0px" width="150">
        <table class="data-col1">
            <tr><td style="padding: 18 0 4 18;"></td></tr>
        </table>
    </td>
    <td class="data-dotted" width="830px" style="vertical-align:top;">
        <table width="830px"><tr>
            <td></td>
        </tr></table>

        <table class="data-col2" width="830px">
            <tr>
                <td style="padding: 24px 0 0 0;" width="100px">
                    <form method="get">
                        <input type="button" class="add-button" value="Back to domains" onClick="location.href='/list/web/'">
                    </form>
                </td>
                <td style="padding: 24px 0 0 0;">
                    <form action="/suspend/web/" method="get">
                        <input type="hidden" name="domain" value="<?php echo $_GET['domain']?>">
                        <input type="submit" class="add-button" name="unsuspend" value="Suspend <?php echo $_GET['domain']?>">
                    </form>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
