Source: vesta-softaculous
Package: vesta-softaculous
Priority: optional
Version: 0.9.8-21
Section: admin
Maintainer: Serghey Rodin <skid@vestacp.com>
Homepage: https://www.softaculous.com
Architecture: amd64
Depends: bash, awk, sed, vesta-ioncube
Description: softaculous plugin for Vesta
