<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
    <title>%domain% &mdash; Coming Soon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="This is a default index page for a new domain."/>
    <style type="text/css">
        body {font-size:14px; color:#777777; font-family:arial; text-align:center;}
        h1 {font-size:64px; color:#333333; margin: 70px 0 50px 0;}
        p {width:320px; text-align:center; margin-left:auto;margin-right:auto; margin-top: 30px }
        div {width:320px; text-align:center; margin-left:auto;margin-right:auto;}
        a:link {color: #28A0CB;}
        a:visited {color: #28A0CB;}
        a:active {color: #BCBA30;}
        a:hover {color: #BCBA30;}
    </style>
</head>

<body>
    <h1>%domain%</h1>
    <div>
        <a href="http://httpd.apache.org/">apache</a> + 
        <a href="http://nginx.com/">nginx</a> + 
        <a href="http://www.percona.com/">percona</a> + 
        <a href="http://vestacp.com/">vesta</a>
    </div>
</body>

</html>

