Source: vesta
Package: vesta
Priority: optional
Version: 0.9.8-21
Section: admin
Maintainer: Serghey Rodin <skid@vestacp.com>
Homepage: http://vestacp.com
Architecture: amd64
Depends: bash, awk, sed
Description: Vesta
 Vesta is an open source hosting control panel.
 Vesta has a clean and focused interface without the clutter.
 Vesta has the latest of very innovative technologies.
