name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@6d3f514f44620b9d4488e380339edc0d9bbe2fba
        with:
          severity: error

  markdownlint:
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run markdownlint
        uses: avto-dev/markdown-lint@v1
        with:
          args: "*.md docs/**/*.md"

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install yarn v3
        run: corepack enable && corepack prepare yarn@stable --activate

      - name: Install Node packages
        uses: ./.github/actions/yarn-nm-install

      - name: Run Prettier
        run: yarn prettier --check .

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install yarn v3
        run: corepack enable && corepack prepare yarn@stable --activate

      - name: Install Node packages
        uses: ./.github/actions/yarn-nm-install

      - name: Run ESLint
        run: yarn eslint web/js/

  stylelint:
    name: Stylelint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install yarn v3
        run: corepack enable && corepack prepare yarn@stable --activate

      - name: Install Node packages
        uses: ./.github/actions/yarn-nm-install

      - name: Run Stylelint
        run: yarn stylelint web/css/src/**/*.css
