name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  docs:
    name: Docs site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install Node packages
        run: npm ci --ignore-scripts

      - name: Run docs site tests
        run: npm run docs:test
