Source: devcp-web-terminal
Package: devcp-web-terminal
Priority: optional
Version: 1.0.2
Section: admin
Maintainer: DevCP <info@hestiacp.com>
Homepage: https://www.hestiacp.com
Architecture: amd64
Depends: devcp, nodejs (>= 20.0.0)
Description: devcp web terminal
 devcp is an open source hosting control panel.
 devcp has a clean and focused interface without the clutter.
 devcp has the latest of very innovative technologies.
 devcp is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin
