[Unit]
Description=DevCP Web Terminal
Documentation=https://hestiacp.com/docs/
After=network.target

[Service]
User=root
Group=devcp-users
Environment=NODE_ENV=production
Environment=HESTIA=/usr/local/devcp
ExecStart=/usr/local/devcp/web-terminal/server.js
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
